<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="max-width: 600px;font-family: Tahoma;font-size: 13px;color: black;padding: 10px; margin: 0 auto;">
        <table style="max-width: 700px; font-family: Tahoma; font-size: 13px">
            <table style="max-width: 600px; font-family: Lucida; font-size: 13px">
                <thead>
                <tr>
                    <td colspan="4"><img src="http://log.towerleisure.nl/img/tph-logo.jpg" style="max-width: 280px; margin: 30px 175px 0;"></td>
                </tr>
                <tr>
                    <td colspan="4"><h4 style="color: #FF8C11;font-weight: bold;font-size: 19px;margin: 40px; text-align: center; font-family: sans-serif;">Sky Bar & Suites Kassa Cash & Log</h4></td>
                </tr>

                </thead>

            <tbody style="max-width: 700px; font-family: Tahoma; font-size: 13px">
            <tr style="height: 30px;">
                <td style="font-weight: bold;">Datum Formulier</td>
                <td><input style=" max-width: 90px; font-size: 12px; text-align: center;" disabled="disabled" value='{{entity_basic.dated | date("d-m-Y")}}'></td>
                <td></td>
                <td></td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="4" style="font-weight: bold;color: #FF8C11;font-size: 16px;">Totaalstroken</td>
            </tr>
                <tr style="height: 30px;">
                    <td>8000 - X Omzet Laag €</td>
                    <td><input style=" max-width: 60px; text-align: right; font-size: 12px;" disabled="disabled" value='{{entity_basic.total.xlaag | number_format (2, ',', '.')}}'></td>
                    <td>8000 - Z Omzet Laag €</td>
                    <td><input style=" max-width: 60px; text-align: right; font-size: 12px;" disabled="disabled" value='{{entity_basic.total.zlaag | number_format (2, ',', '.')}}'></td>
                </tr>
                <tr style="height: 30px;">
                    <td>8002 - X Omzet Keuken</td>
                    <td><input style=" max-width: 60px; text-align: right; font-size: 12px;" disabled="disabled" value='{{entity_basic.total.xkitchen | number_format (2, ',', '.')}}'></td>
                    <td>8002 - Z Omzet Keuken</td>
                    <td><input style=" max-width: 60px; text-align: right; font-size: 12px;" disabled="disabled" value='{{entity_basic.total.zkitchen | number_format (2, ',', '.')}}'></td>
                </tr>
                <tr style="height: 30px;">
                    <td>8001 - X Omzet Hoog</td>
                    <td><input style=" max-width: 60px; text-align: right; font-size: 12px;" disabled="disabled" value='{{entity_basic.total.xhoog | number_format (2, ',', '.')}}'></td>
                    <td>8001 - Z Omzet Hoog</td>
                    <td><input style=" max-width: 60px; text-align: right; font-size: 12px;" disabled="disabled" value='{{entity_basic.total.zhoog | number_format (2, ',', '.')}}'></td>
                </tr>
                <tr style="height: 30px;">
                    <td>8050 - X Parkeren</td>
                    <td><input style=" max-width: 60px; text-align: right; font-size: 12px;" disabled="disabled" value='{{entity_basic.total.xparking | number_format (2, ',', '.')}}'></td>
                    <td>8050 - Z Parkeren</td>
                    <td><input style=" max-width: 60px; text-align: right; font-size: 12px;" disabled="disabled" value='{{entity_basic.total.zparking | number_format (2, ',', '.')}}'></td>
                </tr>
                <tr style="height: 30px;">
                    <td>9999 - X Entree Laag</td>
                    <td><input style=" max-width: 60px; text-align: right; font-size: 12px;" disabled="disabled" value='{{entity_basic.total.xentry | number_format (2, ',', '.')}}'></td>
                    <td>9999 - Z Entree Laag</td>
                    <td><input style=" max-width: 60px; text-align: right; font-size: 12px;" disabled="disabled" value='{{entity_basic.total.zentry | number_format (2, ',', '.')}}'></td>
                </tr>
                <tr style="height: 30px;">
                    <td>8998 - X Zaalhuur</td>
                    <td><input style=" max-width: 60px; text-align: right; font-size: 12px;" disabled="disabled" value='{{entity_basic.total.xspacesrent | number_format (2, ',', '.')}}'></td>
                    <td>8998 - Z Zaalhuur</td>
                    <td><input style=" max-width: 60px; text-align: right; font-size: 12px;" disabled="disabled" value='{{entity_basic.total.zspacesrent | number_format (2, ',', '.')}}'></td>
                </tr>
                <tr style="height: 30px;">
                    <td>8041 - X Techniek & Overig</td>
                    <td><input style=" max-width: 60px; text-align: right; font-size: 12px;" disabled="disabled" value='{{entity_basic.total.xothers | number_format (2, ',', '.')}}'></td>
                    <td>8041 - Z Techniek & Overig</td>
                    <td><input style=" max-width: 60px; text-align: right; font-size: 12px;" disabled="disabled" value='{{entity_basic.total.zothers | number_format (2, ',', '.')}}'></td>
                </tr>
                <tr style="height: 30px;">
                    <td style="border-top: 1px #666 solid; font-weight: bold;">Totaal X-Omzet €</td>
                    <td style="border-top: 1px #666 solid; "><input style=" max-width: 60px; text-align: right; font-size: 12px; font-weight: bold; color: black;" disabled="disabled" value='{{entity_basic.total.xtotal | number_format (2, ',', '.')}}'></td>
                    <td style="border-top: 1px #666 solid; font-weight: bold;">Totaal Z-Omzet €</td>
                    <td style="border-top: 1px #666 solid; "><input style=" max-width: 60px; text-align: right; font-size: 12px; font-weight: bold; color: black;" disabled="disabled" value='{{entity_basic.total.ztotal | number_format (2, ',', '.')}}'></td>
                </tr>

            <tr style="height: 30px;">
                <td colspan="4" style="font-weight: bold;color: #FF8C11;font-size: 16px;">Sky Bar Vouchers</td>
            </tr>
                <tr style="height: 30px;">
                    <td>Aantal DAG</td>
                    <td><input style=" max-width: 60px; text-align: right; font-size: 12px;" disabled="disabled" value='{{entity_basic.skydag | number_format (0, ',', '.')}}'></td>
                    <td>Aantal AVOND</td>
                    <td><input style=" max-width: 60px; text-align: right; font-size: 12px;" disabled="disabled" value='{{entity_basic.skyavond | number_format (0, ',', '.')}}'></td>
                </tr>
                <tr style="height: 30px;">
                    <td>Rekening DAG €</td>
                    <td><input style=" max-width: 60px; text-align: right; font-size: 12px;" disabled="disabled" value='{{entity_basic.skymoneydag | number_format (2, ',', '.')}}'></td>
                    <td>Rekening AVOND €</td>
                    <td><input style=" max-width: 60px; text-align: right; font-size: 12px;" disabled="disabled" value='{{entity_basic.skymoneyavond | number_format (2, ',', '.')}}'></td>
                </tr>
                <tr style="height: 30px;">
                    <td>Gemiddeld €</td>
                    <td><input style=" max-width: 60px; text-align: right; font-size: 12px;" disabled="disabled" value='{{entity_basic.skymeandag | number_format (2, ',', '.')}}'></td>
                    <td>Gemiddeld €</td>
                    <td><input style=" max-width: 60px; text-align: right; font-size: 12px;" disabled="disabled" value='{{entity_basic.skymeanavond | number_format (2, ',', '.')}}'></td>
                </tr>
                <tr style="height: 30px;">
                    <td>R*</td>
                    <td><input style=" max-width: 60px; text-align: right; font-size: 12px;" disabled="disabled" value='{{entity_basic.voucherday | number_format (0, ',', '.')}}'></td>
                    <td>R*</td>
                    <td><input style=" max-width: 60px; text-align: right; font-size: 12px;" disabled="disabled" value='{{entity_basic.vouchernight | number_format (0, ',', '.')}}'></td>
                </tr>
                <tr style="height: 30px;">
                    <td style="border-top: 1px #666 solid; font-weight: bold;">Totall Aantal Vouchers</td>
                    <td style="border-top: 1px #666 solid; "><input style=" max-width: 60px; text-align: right; font-size: 12px; font-weight: bold; color: black;" disabled="disabled" value='{{entity_basic.skytotal | number_format (0, ',', '.')}}'></td>
                    <td style="border-top: 1px #666 solid; font-weight: bold;">€</td>
                    <td style="border-top: 1px #666 solid; "><input style=" max-width: 60px; text-align: right; font-size: 12px; font-weight: bold; color: black;" disabled="disabled" value='{{entity_basic.skymoneytotal | number_format (2, ',', '.')}}'></td>
                </tr>
                <tr style="height: 30px;">
                    <td style=" font-weight: bold;">Totaal gemiddeld €</td>
                    <td><input style="  max-width: 60px; text-align: right; font-size: 12px; font-weight: bold; color: black;" disabled="disabled" value='{{entity_basic.skymeantotal | number_format (2, ',', '.')}}'></td>
                </tr>

                {% if entity_basic.beginbill.hascash == 1 %}
                <tr style="height: 30px;">
                    <td colspan="4" style="font-weight: bold;color: #FF8C11;font-size: 16px;">Begin Float</td>
                </tr>
                <tr style="height: 30px;">
                    <td>Standaard float gebruikt?</td>
                    <td>{% if entity_basic.beginbill.standard %}<b>Ja</b>{% else %}<b>Nee</b>{% endif %}</td>
                    <td>Extra float gebruikt?</td>
                    <td>{% if entity_basic.beginbill.extra %}<b>Ja</b>{% else %}<b>Nee</b>{% endif %}</td>
                </tr>

                <tr style="height: 30px;">
                    <td style="text-align: right;">{% if not entity_basic.beginbill.standard %}€20{% endif %}</td>
                    <td>{% if not entity_basic.beginbill.standard %}<input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.beginbill.s20 | number_format (0 , ',', '.')}}" type="text">{% endif %}</td>
                    <td style="text-align: right;">{% if entity_basic.beginbill.extra %}€20{% endif %}</td>
                    <td>{% if entity_basic.beginbill.extra %}<input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.beginbill.e20 | number_format (0 , ',', '.')}}" type="text">{% endif %}</td>
                </tr>

                <tr style="height: 30px;">
                    <td style="text-align: right;">{% if not entity_basic.beginbill.standard %}€10{% endif %}</td>
                    <td>{% if not entity_basic.beginbill.standard %}<input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.beginbill.s10 | number_format (0 , ',', '.')}}" type="text">{% endif %}</td>
                    <td style="text-align: right;">{% if entity_basic.beginbill.extra %}€10{% endif %}</td>
                    <td>{% if entity_basic.beginbill.extra %}<input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.beginbill.e10 | number_format (0 , ',', '.')}}" type="text">{% endif %}</td>
                </tr>

                <tr style="height: 30px;">
                    <td style="text-align: right;">{% if not entity_basic.beginbill.standard %}€5{% endif %}</td>
                    <td>{% if not entity_basic.beginbill.standard %}<input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.beginbill.s5 | number_format (0 , ',', '.')}}" type="text">{% endif %}</td>
                    <td style="text-align: right;">{% if entity_basic.beginbill.extra %}€5{% endif %}</td>
                    <td>{% if entity_basic.beginbill.extra %}<input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.beginbill.e5 | number_format (0 , ',', '.')}}" type="text">{% endif %}</td>
                </tr>

                <tr style="height: 30px;">
                    <td style="text-align: right;">{% if not entity_basic.beginbill.standard %}€2{% endif %}</td>
                    <td>{% if not entity_basic.beginbill.standard %}<input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.beginbill.s2 | number_format (0 , ',', '.')}}" type="text">{% endif %}</td>
                    <td style="text-align: right;">{% if entity_basic.beginbill.extra %}€2{% endif %}</td>
                    <td>{% if entity_basic.beginbill.extra %}<input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.beginbill.e2 | number_format (0 , ',', '.')}}" type="text">{% endif %}</td>
                </tr>

                <tr style="height: 30px;">
                    <td style="text-align: right;">{% if not entity_basic.beginbill.standard %}€1{% endif %}</td>
                    <td>{% if not entity_basic.beginbill.standard %}<input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.beginbill.s1 | number_format (0 , ',', '.')}}" type="text">{% endif %}</td>
                    <td style="text-align: right;">{% if entity_basic.beginbill.extra %}€1{% endif %}</td>
                    <td>{% if entity_basic.beginbill.extra %}<input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.beginbill.e1 | number_format (0 , ',', '.')}}" type="text">{% endif %}</td>
                </tr>

                <tr style="height: 30px;">
                    <td style="text-align: right;">{% if not entity_basic.beginbill.standard %}€0.50{% endif %}</td>
                    <td>{% if not entity_basic.beginbill.standard %}<input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.beginbill.s050 | number_format (0 , ',', '.')}}" type="text">{% endif %}</td>
                    <td style="text-align: right;">{% if entity_basic.beginbill.extra %}€0.50{% endif %}</td>
                    <td>{% if entity_basic.beginbill.extra %}<input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.beginbill.e050 | number_format (0 , ',', '.')}}" type="text">{% endif %}</td>
                </tr>

                <tr style="height: 30px;">
                    <td style="text-align: right;">{% if not entity_basic.beginbill.standard %}€0.20{% endif %}</td>
                    <td>{% if not entity_basic.beginbill.standard %}<input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.beginbill.s020 | number_format (0 , ',', '.')}}" type="text">{% endif %}</td>
                    <td style="text-align: right;">{% if entity_basic.beginbill.extra %}€0.20{% endif %}</td>
                    <td>{% if entity_basic.beginbill.extra %}<input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.beginbill.e020 | number_format (0 , ',', '.')}}" type="text">{% endif %}</td>
                </tr>

                <tr style="height: 30px;">
                    <td style="text-align: right;">{% if not entity_basic.beginbill.standard %}€0.10{% endif %}</td>
                    <td>{% if not entity_basic.beginbill.standard %}<input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.beginbill.s010 | number_format (0 , ',', '.')}}" type="text">{% endif %}</td>
                    <td style="text-align: right;">{% if entity_basic.beginbill.extra %}€0.10{% endif %}</td>
                    <td>{% if entity_basic.beginbill.extra %}<input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.beginbill.e010 | number_format (0 , ',', '.')}}" type="text">{% endif %}</td>
                </tr>


                <tr style="height: 30px;">
                    <td></td>
                    <td></td>
                    <td style="border-top: 1px #666 solid; font-weight: bold;">Totaal floats begin €</td>
                    <td style="border-top: 1px #666 solid;" ><input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; font-weight: bold; color: black;" value="{{entity_basic.beginbill.total | number_format (2 , ',', '.')}}" type="text"></td>
                </tr>
            {% endif %}
                <tr style="height: 20px;"></tr>
                <tr style="height: 30px;">
                    <td colspan="4" style="font-weight: bold;color: #FF8C11;font-size: 16px;">Eind Float</td>
                </tr>
                <tr style="height: 30px;">
                    <td style="text-align: right;">€500</td>
                    <td><input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.bill.e500 | number_format (0 , ',', '.')}}" type="text"></td>
                    <td style="text-align: right;">€2</td>
                    <td><input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.bill.e2 | number_format (0 , ',', '.')}}" type="text"></td>
                </tr>
                <tr style="height: 30px;">
                    <td style="text-align: right;">€200</td>
                    <td><input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.bill.e200 | number_format (0 , ',', '.')}}" type="text"></td>
                    <td style="text-align: right;">€1</td>
                    <td><input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.bill.e1 | number_format (0 , ',', '.')}}" type="text"></td>
                </tr>
                <tr style="height: 30px;">
                    <td style="text-align: right;">€100</td>
                    <td><input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.bill.e100 | number_format (0 , ',', '.')}}" type="text"></td>
                    <td style="text-align: right;">€0.50</td>
                    <td><input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.bill.e050 | number_format (0 , ',', '.')}}" type="text"></td>
                </tr>
                <tr style="height: 30px;">
                    <td style="text-align: right;">€50</td>
                    <td><input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.bill.e50 | number_format (0 , ',', '.')}}" type="text"></td>
                    <td style="text-align: right;">€0.20</td>
                    <td><input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.bill.e020 | number_format (0 , ',', '.')}}" type="text"></td>
                </tr>
                <tr style="height: 30px;">
                    <td style="text-align: right;">€20</td>
                    <td><input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.bill.e20 | number_format (0 , ',', '.')}}" type="text"></td>
                    <td style="text-align: right;">€0.10</td>
                    <td><input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.bill.e010 | number_format (0 , ',', '.')}}" type="text"></td>
                </tr>
                <tr style="height: 30px;">
                    <td style="text-align: right;">€10</td>
                    <td><input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.bill.e10 | number_format (0 , ',', '.')}}" type="text"></td>
                    <td style="text-align: right;">€0.05</td>
                    <td><input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.bill.e005 | number_format (0 , ',', '.')}}" type="text"></td>
                </tr>

                <tr style="height: 30px;">
                    <td style="text-align: right;">€5</td>
                    <td><input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.bill.e5 | number_format (0 , ',', '.')}}" type="text"></td>
                    <td style="text-align: right;"></td>
                    <td></td>
                </tr>
                <tr style="height: 30px;">
                    <td style="border-top: 1px #666 solid; font-weight: bold;">Eind Float €</td>
                    <td style="border-top: 1px #666 solid; "><input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; font-weight: bold; color: black;" value="{{entity_basic.bill.eind | number_format (2, ',', '.')}}" type="text"></td>
                    <td style="border-top: 1px #666 solid;  font-weight: bold; ">Waarvan muntgeld €</td>
                    <td style="border-top: 1px #666 solid; "><input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; font-weight: bold; color: black;" value="{{entity_basic.bill.waarvan | number_format (2, ',', '.')}}" type="text"></td>
                </tr>


                <tr style="height: 20px;"></tr>
                <tr style="height: 30px;">
                    <td colspan="4" style="font-weight: bold;color: #FF8C11;font-size: 16px;">Cards</td>
                </tr>
                <tr style="height: 30px;">
                    <td></td>
                    <td></td>
                    <td style="text-align: right;">Nog een Pin / CC strook invullen?</td>
                    <td>{% if entity_basic.card.iscc %}<b>Ja</b>{% else %}<b>Nee</b>{% endif %}</td>
                </tr>
                <tr style="height: 30px;">
                    <td style="text-align: right; font-weight: bold;">Totaalstrook CCV 1 €</td>
                    <td><input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; font-weight: bold; color: black;" value="{{entity_basic.card.total | number_format (2, ',', '.')}}" type="text"></td>
                    <td style=" text-align: right; font-weight: bold;">{% if entity_basic.card.iscc %}Totaalstrook CCV 2 €{% endif %}</td>
                    <td>{% if entity_basic.card.iscc %}<input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; font-weight: bold; color: black;" value="{{entity_basic.card.totalcc | number_format (2, ',', '.')}}" type="text">{% endif %}</td>
                </tr>
                <tr style="height: 30px;">
                    <td style="text-align: right;">PIN / Maestro €</td>
                    <td><input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.card.maestro | number_format (2, ',', '.')}}" type="text"></td>
                    <td style="text-align: right;">{% if entity_basic.card.iscc %}PIN / Maestro €{% endif %}</td>
                    <td>{% if entity_basic.card.iscc %}<input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.card.ccmaestro | number_format (2, ',', '.')}}" type="text">{% endif %}</td>
                </tr>

                <tr style="height: 30px;">
                    <td style="text-align: right;">Visa €</td>
                    <td><input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.card.visa| number_format (2, ',', '.')}}" type="text"></td>
                    <td style="text-align: right;">{% if entity_basic.card.iscc %}Visa €{% endif %}</td>
                    <td>{% if entity_basic.card.iscc %}<input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.card.ccvisa | number_format (2, ',', '.')}}" type="text">{% endif %}</td>
                </tr>
                <tr style="height: 30px;">
                    <td style="text-align: right;">Visa Electron €</td>
                    <td><input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.card.visaelec| number_format (2, ',', '.')}}" type="text"></td>
                    <td style="text-align: right;">{% if entity_basic.card.iscc %}Visa Electron €{% endif %}</td>
                    <td>{% if entity_basic.card.iscc %}<input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.card.ccvisaelec | number_format (2, ',', '.')}}" type="text">{% endif %}</td>
                </tr>
                <tr style="height: 30px;">
                    <td style="text-align: right;">Mastercard €</td>
                    <td><input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.card.mastercard| number_format (2, ',', '.')}}" type="text"></td>
                    <td style="text-align: right;">{% if entity_basic.card.iscc %}Mastercard €{% endif %}</td>
                    <td>{% if entity_basic.card.iscc %}<input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.card.ccmastercard | number_format (2, ',', '.')}}" type="text">{% endif %}</td>
                </tr>
                <tr style="height: 30px;">
                    <td style="text-align: right;">American Express €</td>
                    <td><input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.card.american| number_format (2, ',', '.')}}" type="text"></td>
                    <td style="text-align: right;">{% if entity_basic.card.iscc %}American Express €{% endif %}</td>
                    <td>{% if entity_basic.card.iscc %}<input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.card.ccamerican | number_format (2, ',', '.')}}" type="text">{% endif %}</td>
                </tr>
                <tr style="height: 30px;">
                    <td style="text-align: right;">Union Pay €</td>
                    <td><input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.card.union| number_format (2, ',', '.')}}" type="text"></td>
                    <td style="text-align: right;">{% if entity_basic.card.iscc %}Union Pay €{% endif %}</td>
                    <td>{% if entity_basic.card.iscc %}<input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.card.ccunion | number_format (2, ',', '.')}}" type="text">{% endif %}</td>
                </tr>
                <tr style="height: 30px;">
                    <td style="text-align: right;">Diners €</td>
                    <td><input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.card.diners| number_format (2, ',', '.')}}" type="text"></td>
                    <td style="text-align: right;">{% if entity_basic.card.iscc %}Diners €{% endif %}</td>
                    <td>{% if entity_basic.card.iscc %}<input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.card.ccdiners | number_format (2, ',', '.')}}" type="text">{% endif %}</td>
                </tr>
                <tr style="height: 30px;">
                    <td style="text-align: right;">V-Pay €</td>
                    <td><input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.card.vpay| number_format (2, ',', '.')}}" type="text"></td>
                    <td style="text-align: right;">{% if entity_basic.card.iscc %}V-Pay  €{% endif %}</td>
                    <td>{% if entity_basic.card.iscc %}<input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.card.ccvpay | number_format (2, ',', '.')}}" type="text">{% endif %}</td>
                </tr>

                <tr style="height: 30px;">
                    <td style="text-align: right; font-weight: bold">AliPay €</td>
                    <td><input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; " value="{{entity_basic.card.alipay | number_format (2, ',', '.')}}" type="text"></td>
                </tr>

                <tr style="height: 30px;">
                    <td colspan="4" style="font-weight: bold;color: #FF8C11;font-size: 16px;">Cadeauvouchers</td>
                </tr>
            <tr style="height: 30px;">
                <td colspan="2">
                    <table style="max-width: 700px; font-family: Tahoma; font-size: 13px">
                        {% set gift = entity_basic.giftvouchers|json_decode %}
                        {% for key, item in gift %}
                            <tr style="height: 30px;">
                                <td>{{ item.details }}</td>
                                <td>
                                    {% for key2, item2 in giftvouchers %}
                                        {% if item.id == key2%}
                                            <input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right;" value="{{item2 | number_format (0 , ',', '.')}}" type="text">
                                        {% endif %}
                                    {% endfor %}

                                </td>

                            </tr>
                        {% endfor %}
                        <tr style="height: 30px;">
                            <td style="border-top: 1px #666 solid;  font-weight: bold">Totaal​ ​Penthouse​ ​Vouchers​ ​€</td>
                            <td style="border-top: 1px #666 solid;"><input readonly="readonly" required="required" disabled="disabled" style=" max-width: 60px; font-size: 12px; float:left; text-align: right; font-weight: bold " value="{{entity_basic.giftvoucherstotal | number_format (2, ',', '.')}}" type="text"></td>
                        </tr>

                        <tr style="height: 30px;">
                            <td style="  font-weight: bold">Totaal​ ​Cadeau​ ​Voucher Omzet​ ​€</td>
                            <td style=""><input readonly="readonly" required="required" disabled="disabled" style=" max-width: 60px; font-size: 12px; float:left; text-align: right; font-weight: bold" value="{{entity_basic.voucherstotal | number_format (2, ',', '.')}}" type="text"></td>
                        </tr>
                        </table>
                </td>
                <td colspan="2" style="vertical-align: top;">
                    <table style="max-width: 700px; font-family: Tahoma; font-size: 13px">
                    {% set ext = entity_basic.extvouchers|json_decode %}
                    {% for key, item in ext %}
                        <tr style="height: 30px;">
                            <td>{{ item.details }}</td>
                            <td>
                                {% for key2, item2 in extvouchers %}
                                    {% if item.id == key2%}
                                        <input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right;" value="{{item2 | number_format (0 , ',', '.')}}" type="text">
                                    {% endif %}
                                {% endfor %}

                            </td>
                        </tr>
                    {% endfor %}
                        <tr style="height: 30px;">
                            <td style=" border-top: 1px #666 solid; font-weight: bold">Totaal Belevenissen.nl €</td>
                            <td style="border-top: 1px #666 solid;"><input readonly="readonly" required="required" disabled="disabled" style=" max-width: 60px; font-size: 12px; float:left; text-align: right; font-weight: bold" value="{{entity_basic.belevoucherstotal | number_format (2, ',', '.')}}" type="text"></td>
                        </tr>
                        <tr style="height: 30px;">
                            <td style=" font-weight: bold">Totaal Kadopagina.nl €</td>
                            <td style=""><input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; font-weight: bold" value="{{entity_basic.kadovoucherstotal | number_format (2, ',', '.')}}" type="text"></td>
                        </tr>
                        <tr style="height: 30px;">
                            <td style=" font-weight: bold">Totaal Tiqets €</td>
                            <td style=""><input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; font-weight: bold" value="{{entity_basic.ticketvoucherstotal | number_format (2, ',', '.')}}" type="text"></td>
                        </tr>
                        </table>
                </td>
            </tr>



            <tr style="height: 30px;">
                <td colspan="4" style="font-weight: bold;color: #FF8C11;font-size: 16px;">Voorgeschoten Kosten</td>
            </tr>
            {% for key, item in voorgeschoten %}
                <tr style="height: 30px;">
                    <td>Kasbon {{ key }} voorgeschoten €</td>
                    <td>
                        <input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right;" value="{{item | number_format (2 , ',', '.')}}" type="text">
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
            <tr style="height: 30px;">
                <td style="border-top: 1px #666 solid; font-weight: bold;">Totaal voorgeschoten kosten €</td>
                <td style="border-top: 1px #666 solid; "><input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; font-weight: bold; color: black;" value="{{entity_basic.voorgeschotentotal | number_format (2, ',', '.')}}" type="text"></td>
            </tr>

            <tr style="height: 30px;">
                <td colspan="4" style="font-weight: bold;color: #FF8C11;font-size: 16px;">Op Rekening</td>
            </tr>
            {% for key, item in rekening %}
                <tr style="height: 30px;">
                    <td colspan="2"><span style="float: left; margin-right: 5px;">Op rekening {{ key }}</span>
                        <input readonly="readonly" required="required" disabled="disabled" style="max-width: 200px; font-size: 12px; float:right;" value="{{item.text}}" type="text">
                    </td>
                    <td>
                        <span style="float: left; margin-right: 5px;">€ </span><input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right;" value="{{item.value | number_format (2 , ',', '.')}}" type="text">
                    </td>
                </tr>
            {% endfor %}
            <tr style="height: 30px;">
                <td colspan="2" style="border-top: 1px #666 solid; font-weight: bold;">Totaal op rekening (Bank)</td>
                <td style="border-top: 1px #666 solid; "> <span style="float: left; margin-right: 5px;">€ </span><input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; font-weight: bold; color: black;" value="{{entity_basic.rekeningtotal | number_format (2, ',', '.')}}" type="text"></td>
            </tr>

            <tr style="height: 30px;">
                <td colspan="4" style="font-weight: bold;color: #FF8C11;font-size: 16px;">Voorverkoop</td>
            </tr>
            {% for key, item in voorverkoop %}
                <tr style="height: 30px;">
                    <td colspan="2"><span style="float: left; margin-right: 5px;">Voorverkoop {{ key }}</span>
                        <input readonly="readonly" required="required" disabled="disabled" style="max-width: 200px; font-size: 12px; float:right;" value="{{item.text}}" type="text">
                    </td>
                    <td>
                        <span style="float: left; margin-right: 5px;">€ </span><input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right;" value="{{item.value | number_format (2 , ',', '.')}}" type="text">
                    </td>
                </tr>
            {% endfor %}
            <tr style="height: 30px;">
                <td colspan="2" style="border-top: 1px #666 solid; font-weight: bold;">Totaal voorverkoop</td>
                <td style="border-top: 1px #666 solid; "> <span style="float: left; margin-right: 5px;">€ </span><input readonly="readonly" required="required" disabled="disabled" style="max-width: 60px; font-size: 12px; float:left; text-align: right; font-weight: bold; color: black;" value="{{entity_basic.voorverkooptotal | number_format (2, ',', '.')}}" type="text"></td>
            </tr>
            <tr style="height: 30px;"></tr>
            <tr style="height: 30px;"></tr>
            <tr style="height: 30px;">
                <td style="  font-weight: bold">OMZET​ ​TOTAAL​ ​€</td>
                <td style=""><input readonly="readonly" required="required" disabled="disabled" style="font-weight: bold;  font-size: 12px; float:right; text-align: right; " value="{{entity_basic.completeprofit | number_format (2, ',', '.')}}" type="text"></td>
            </tr>
            <tr style="height: 30px;">
                <td style="  font-weight: bold">TOTAAL ONTVANGEN €</td>
                <td style=""><input readonly="readonly" required="required" disabled="disabled" style="font-weight: bold; font-size: 12px; float:right; text-align: right; " value="{{entity_basic.ontvangen | number_format (2, ',', '.')}}" type="text"></td>
            </tr>
            <tr style="height: 30px;">
                <td style="  font-weight: bold">Kasverschil €</td>
                <td style=""><input readonly="readonly" required="required" disabled="disabled" style="font-weight: bold;  font-size: 12px; float:right; text-align: right; " value="{{entity_basic.kasverschil | number_format (2, ',', '.')}}" type="text"></td>
            </tr>
            <tr style="height: 30px;">
                <td style="  font-weight: bold">Toelichting kasverschil</td>
                <td style=""><textarea readonly="readonly" required="required" disabled="disabled" style=" font-size: 12px; float:right; text-align: right; " rows="6">{{entity_basic.details }}</textarea></td>
            </tr>
            <tr style="height: 30px"></tr>
            <tr style="height: 30px">
                <td style="font-weight: bold;  ">Manager DAG:</td>
                <td colspan="3" style="border-top: 1px #666 solid;"><input readonly="readonly" required="required" disabled="disabled" style=" font-size: 12px; color: black;" value="{% if entity_basic.userdag %}{{ entity_basic.userdag.name }}{% endif %}" type="text"></td>
            </tr>
            <tr style="height: 30px">
                <td style="font-weight: bold;  ">Manager AVOND:</td>
                <td colspan="3" ><input readonly="readonly" required="required" disabled="disabled" style=" font-size: 12px; color: black;" value="{% if entity_basic.useravond %}{{ entity_basic.useravond.name }}{% endif %}" type="text"></td>
            </tr>
            <tr style="height: 30px">
                <td style="font-weight: bold;  ">Sluitingstijd (laatste gast vertrokken):</td>
                <td colspan="3" ><input readonly="readonly" required="required" disabled="disabled" style=" font-size: 12px; color: black;" value="{{ entity_basic.time | date('h:i A') }}" type="text"></td>
            </tr>

            </tbody>
        </table>
    </body>
</html>