{% extends 'RestaurantBundle::frame.html.twig' %}
{% block title %}Parking {% endblock %}
{% block body %}
<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-direction"></i>Parking
        </div>
        <div class="tools">
            <a href="{{path('receptionparking_new')}}" class=" blue">
                <i class="fa fa-plus"></i> Create new
            </a>
            <a href="{{path('receptionparking')}}" class=" blue">
                <i class="fa fa-list-alt"></i> List
            </a>
        </div>
    </div>
     <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-pencil"></i>Edit
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
            {% if form_errors(edit_form)%}
            <div class="form-errors alert alert-danger">
                {{form_errors(edit_form)}}
            </div>
            {% endif %}
            <form class="container-fluid form-horizontal" action="{{path('receptionparking_update', {'id':entity.id})}}" method="post" {{form_enctype(edit_form)}}>
                <input name="_method" value="PUT" type="hidden">
                <div class="form-body col-md-5">
                <div class="row form-group">
                    {{form_label(edit_form.details,'Name',{'attr':{                       
                      'class' :' control-label',
                      }})}}
                    {{form_widget(edit_form.details, {'attr':{                       
                      'class' :'input-sm pull-right form-control'
                      }})}} 
                    {{form_errors(edit_form.details)}}  
                </div>
                <div class="row form-group">
                    {{form_label(edit_form.value,'Value',{'attr':{                       
                      'class' :' control-label',
                      }})}}
                    {{form_widget(edit_form.value, {'attr':{                       
                      'class' :'input-sm pull-right form-control'
                      }})}} 
                    {{form_errors(edit_form.value)}}  
                </div>
                <div class="row form-group ">
                {{ form_rest(edit_form) }}
                </div>
            </div>
            </form>
            </div>
        </div>
        </div>
{% endblock %}
