<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h3>{{ entity.createdAt | date('M d, Y h:m:s') }}</h3>
</div>

<div class="modal-body">                 
    <table class="table table-hover" style="cursor: pointer;">
        <tbody>
            <tr>
                <th>Usuario</th>
                <td>{{ entity.user }}</td>
            </tr>
            <tr>
                <th>Acci&oacute;n</th>
                <td>{{ entity.action }}</td>
            </tr>
            <tr>
                <th>Entidad</th>
                <td>{{ entity.entity }}</td>
            </tr>
            <tr>
                <th>Descripci&oacute;n</th>
                <td>{{ entity.description }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
</div>
