{% extends 'AdminBundle::frame.html.twig' %}
{% block title %} Show cleaningextra {% endblock %}
{% block body %}
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon icon-bell"></i>Cleaning
            </div>
            <div class="tools">
                <a href="{{ path('cleaningextra_new') }}" class=" blue">
                    <i class="fa fa-plus"></i> Create new
                </a>
                <a href="{{ path('cleaningextra') }}" class=" blue">
                    <i class="fa fa-list-alt"></i> List
                </a>
            </div>
        </div>
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-search"></i>View
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                {% if form_errors(form) %}
                    <div class="alert alert-danger display-hide" style="display: block;">
                        <button class="close" data-close="alert"></button>
                        <span>  {{ form_errors(show_form) }} </span>
                    </div>
                {% endif %}
                <form class="container-fluid form-horizontal ">
                    <div class="form-body col-md-5">

                        <div class="row form-group">
                            {{ form_label(form.listing,'Listing',{'attr':{
                                'class' :' control-label'
                            }}) }}
                            {{ form_widget(form.listing, {'attr':{
                                'class' :' form-control',"readonly":true, 'disabled':'disabled'
                            }}) }}
                            {{ form_errors(form.listing) }}
                        </div>
                        <div class="row form-group ">
                            {{ form_label(form.begin,'From',{'attr':{
                                'class' :' control-label'
                            }}) }}
                            {{ form_widget(form.begin, {'attr':{
                                'class' :' form-control',"readonly":true, 'disabled':'disabled'
                            }}) }}
                            {{ form_errors(form.begin) }}
                        </div>
                        <div class="row form-group ">
                            {{ form_label(form.end,'To',{'attr':{
                                'class' :' control-label'
                            }}) }}
                            {{ form_widget(form.end, {'attr':{
                                'class' :' form-control',"readonly":true, 'disabled':'disabled'
                            }}) }}
                            {{ form_errors(form.end) }}
                        </div>
                        <div class=" form-group ">
                            {{form_label(form.dayweek,'Day of the week',{'attr':{
                                'class' :' control-label'
                            }})}}
                            {{form_widget(form.dayweek, {'attr':{
                                'class' :'',"readonly":true, 'disabled':'disabled'
                            }})}}
                            {{form_errors(form.dayweek)}}
                        </div>
                        <div class="row form-group ">
                            {{ form_label(form.details,'Details',{'attr':{
                                'class' :' control-label'
                            }}) }}
                            {{ form_widget(form.details, {'attr':{
                                'class' :' form-control', "readonly":true, 'disabled':'disabled'
                            }}) }}
                            {{ form_errors(form.details) }}
                        </div>
                        <div class="row form-group " hidden="hidden">
                            {{ form_rest(form) }}
                        </div>
                        <div class="row form-group ">
                            <a  href="{{ path('cleaningextra') }}">
                                <input type = 'button' class="btn btn-primary" value="Back">
                            </a>
                            <a  href="{{ path('cleaningextra_edit', {'id': entity.id}) }}">
                                <input type = 'button' class="btn btn-primary" value="Update">
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        $("input[type='checkbox']").attr("disabled", "disabled");
    </script>
{% endblock %}

