<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body style="font-family:Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif; background-color:#f0f2ea; margin:0; padding:0; color:#333333;">

<table width="100%" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" border="0">
    <tbody>
    <tr>
        <td style="padding:40px 0;">
            <!-- begin main block -->
            <table cellpadding="0" cellspacing="0" width="608" border="0" align="center">
                <tbody>
                <tr>
                    <td>
                        <a href="http://log.towerleisure.nl/" style="display:block; width:324px; height:64px; margin:0 auto 30px;">
                            <img src="{{ asset('img/tphlogo.jpg') }}" width="auto" height="64" alt="ThePenthouse" style="display:block; border:0; margin:0;">
                        </a>

                        <!-- begin wrapper -->
                        <table cellpadding="0" cellspacing="0" border="0" width="600px">
                            <tbody>
                            <tr>
                                <td width="8" height="4" colspan="2" style="background:url(http://demo.artlance.ru/email/shadow-top-left.png) no-repeat 100% 100%;"><p style="margin:0; font-size:1px; line-height:1px;">&nbsp;</p></td>
                                <td height="4" style="background:url(http://demo.artlance.ru/email/shadow-top-center.png) repeat-x 0 100%;"><p style="margin:0; font-size:1px; line-height:1px;">&nbsp;</p></td>
                                <td width="8" height="4" colspan="2" style="background:url(http://demo.artlance.ru/email/shadow-top-right.png) no-repeat 0 100%;"><p style="margin:0; font-size:1px; line-height:1px;">&nbsp;</p></td>
                            </tr>

                            <tr>
                                <td width="4" height="4" style="background:url(http://demo.artlance.ru/email/shadow-left-top.png) no-repeat 100% 0;"><p style="margin:0; font-size:1px; line-height:1px;">&nbsp;</p></td>
                                <td colspan="3" rowspan="3" bgcolor="#f0f2ea" style="padding:0 0 30px;">
                                    <!-- begin content -->
                                    {% if not rollback %}
                                    <p style="margin:33px 30px 33px;; text-align:center; text-transform:uppercase; font-size:24px; line-height:30px; font-weight:bold; color:#484a42;">
                                        Rule Execution - Guesty Reservation<br>
                                    </p>
                                    {% else %}
                                    <p style="margin:33px 30px 33px;; text-align:center; text-transform:uppercase; font-size:24px; line-height:30px; font-weight:bold; color:#484a42;">
                                        RollBack Execution<br>
                                    </p>
                                    {% endif %}
                                    <p style="margin:33px 30px 33px;; text-align:center; font-size:18px; line-height:25px; font-weight:normal; color:#484a42;">
                                        {{ rule.name }} ({{ rule.details }})<br>
                                    </p>
                                    <!-- begin articles -->
                                    <table style="padding: 0">

                                        <tbody style="">

                                        <tr style="height: 30px;"></tr>
                                         <table style="padding: 0 60px;">
                                             <tbody>
                                                {% for item in data %}
                                                {% if not rollback %}

                                                <tr>
                                                     <td ><b>Listing {{ item.listing }}</b></td>
                                                 </tr>
                                                {% else %}

                                                    <tr>
                                                        <td ><b>Listing {{ listing }}</b></td>
                                                    </tr>

                                                {% endif %}
                                                <tr>
                                                     <td ><b>Date {{ item.date }}</b></td>
                                                 </tr>
                                                    {% if not rollback %}
                                                 <tr>
                                                     <td >Price: &euro; {{ item.oldprice }}</td>
                                                 </tr>
                                                {% endif %}
                                                 <tr>
                                                     <td >Updated Price: &euro; {{ item.price }}</td>
                                                 </tr>
                                                 <tr >
                                                     <td>Status: {% if item.status == 200 %}Excecuted successfully{% else %} There was an error. The price was not changed.{% endif %}</td>
                                                 </tr>
                                                    <tr style="border-bottom: #666666 solid 1px;"><td>&nbsp;</td><td></td></tr>
                                             {% endfor %}
                                             </tbody>

                                         </table>
                                        <tr style="height: 30px"></tr>
                                       </tbody>
                                        </table>
                                    <p style="margin:0; border-top:2px solid #e5e5e5; font-size:5px; line-height:5px; margin:0 30px 29px;">&nbsp;</p>
                                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                        <tbody>
                                        <tr valign="top">
                                            <td width="30"><p style="margin:0; font-size:1px; line-height:1px;">&nbsp;</p></td>
                                            <td>
                                                <p style="margin:0; color:#333333; font-size:11px; line-height:18px;">
                                                    Website: <a href="http://www.bluegroup.nl" style="color:#6d7e44; text-decoration:none; font-weight:bold;">www.bluegroup.nl</a>
                                                </p>
                                            </td>
                                            <td width="30"><p style="margin:0; font-size:1px; line-height:1px;">&nbsp;</p></td>

                                            <td width="30"><p style="margin:0; font-size:1px; line-height:1px;">&nbsp;</p></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!-- end content -->
                                </td>
                            </tr>


                            <tr>
                                <td width="4" style="background:url(http://demo.artlance.ru/email/shadow-left-center.png) repeat-y 100% 0;"><p style="margin:0; font-size:1px; line-height:1px;">&nbsp;</p></td>
                                <td width="4" style="background:url(http://demo.artlance.ru/email/shadow-right-center.png) repeat-y 0 0;"><p style="margin:0; font-size:1px; line-height:1px;">&nbsp;</p></td>
                            </tr>

                            <tr>
                                <td width="4" height="4" style="background:url(http://demo.artlance.ru/email/shadow-left-bottom.png) repeat-y 100% 100%;"><p style="margin:0; font-size:1px; line-height:1px;">&nbsp;</p></td>
                                <td width="4" height="4" style="background:url(http://demo.artlance.ru/email/shadow-right-bottom.png) repeat-y 0 100%;"><p style="margin:0; font-size:1px; line-height:1px;">&nbsp;</p></td>
                            </tr>

                            <tr>
                                <td width="4" height="4" style="background:url(http://demo.artlance.ru/email/shadow-bottom-corner-left.png) no-repeat 100% 0;"><p style="margin:0; font-size:1px; line-height:1px;">&nbsp;</p></td>
                                <td width="4" height="4" style="background:url(http://demo.artlance.ru/email/shadow-bottom-left.png) no-repeat 100% 0;"><p style="margin:0; font-size:1px; line-height:1px;">&nbsp;</p></td>
                                <td height="4" style="background:url(http://demo.artlance.ru/email/shadow-bottom-center.png) repeat-x 0 0;"><p style="margin:0; font-size:1px; line-height:1px;">&nbsp;</p></td>
                                <td width="4" height="4" style="background:url(http://demo.artlance.ru/email/shadow-bottom-right.png) no-repeat 0 0;"><p style="margin:0; font-size:1px; line-height:1px;">&nbsp;</p></td>
                                <td width="4" height="4" style="background:url(http://demo.artlance.ru/email/shadow-bottom-corner-right.png) no-repeat 0 0;"><p style="margin:0; font-size:1px; line-height:1px;">&nbsp;</p></td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- end wrapper-->
                        <p style="margin:0; padding:34px 0 0; text-align:center; font-size:11px; line-height:13px; color:#333333;">

                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- end main block -->
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>


