{# empty Twig template #}
<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>{% block title %} {% endblock %} | Manage</title>
        {% block stylesheets %}            
            <!-- css -->
            <link href={{asset('css/bootstrap.min.css')}} rel="stylesheet" media="screen">
            <link href={{asset('css/style.css')}} rel="stylesheet" media="screen">
            <link href={{asset('css/default.css')}} rel="stylesheet" media="screen">
            <script src={{asset('js/modernizr.custom.js')}}></script>
        {% endblock %}
    </head>
    <body id="{% block id '' %}">
        <div class="menu-area">
            <div id="dl-menu" class="dl-menuwrapper">
                <button class="dl-trigger">Open Menu</button>
                <ul class="dl-menu">
                    {% block menu%}                        
                    {% endblock %}
                    <li><a href="#about">About</a></li>                    
                </ul>
            </div><!-- /dl-menuwrapper -->
        </div>
        <div class='spacer'>
        </div>
        
        <div class="container-fluid">
            <div class="row">
                {% block body %}                
                              
               {% endblock %}
                <footer>
                    &copy;{{'now'|date('Y')}} - Manage
                </footer>           
                {% block javascripts %}
                    <script src={{asset('js/jquery.js')}}></script>
                    <script src={{asset('js/bootstrap.min.js')}}></script>
                    <script src={{asset('js/jquery.smooth-scroll.min.js')}}></script>
                    <script src={{asset('js/jquery.dlmenu.js')}}></script>
                    <script src={{asset('js/wow.min.js')}}></script>
                    <script src={{asset('js/custom.js')}}></script>
                {% endblock %}
            </div>
        </div>
    </body>
</html>
