{% extends 'RestaurantBundle::frame.html.twig' %}
{% block title %} List Planning {% endblock %}
{% block body %}
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-list"></i>Report Planning
            </div>
            <div class="tools">
                <a href="{{ path('reportplanning_new') }}" class=" blue">
                    <i class="fa fa-plus"></i> Create new
                </a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Location<br/>Frequency</th>
                    <th class="hidden-xs">Description</th>
                    <th>Image</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for reportPlanning in reportPlannings %}
                    <tr {% if reportPlanning.status == 'Wachten' %} class="active" {% endif %}>
                        <td>
                            <a href="{{ path('reportplanning_show', { 'id': reportPlanning.id }) }}">
                                <b>{{ reportPlanning.folder }}</b> <br/>
                                {% if reportPlanning.furniture %}<b>{{ reportPlanning.furniture }}</b> <br/>{% endif %}
                                <i>{{ reportPlanning.frequency | upper }}</i>
                            </a>
                        </td>
                        <td class="hidden-xs">
                            <a href="{{ path('reportplanning_show', { 'id': reportPlanning.id }) }}">

                                <i class="fa  {% if reportPlanning.priority == 'Normaal' %} {% elseif reportPlanning.priority == 'Laag' %} {% else %} fa-arrow-up{% endif %}"
                                   style="color: #7c1212;"></i>
                                {{ reportPlanning.details }}
                            </a>
                        </td>

                        <td><a href="{{ path('reportplanning_show', { 'id': reportPlanning.id }) }}">
                                {% if reportPlanning.pathimage %} <img
                                    src="{{ asset('uploads/images/reportplanning/' ~ reportPlanning.pathimage) }}"
                                    style="width: 80px;">{% endif %}
                            </a>
                        </td>
                        <td>
                            <div class="btn-group dropdown ">
                                <button class="btn blue-hoki btn-xs dropdown-toggle" type="button"
                                        data-toggle="dropdown">
                                    Actions <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="{{ path('reportplanning_show', { 'id': reportPlanning.id }) }}"><span
                                                    class="glyphicon glyphicon-search"></span>View</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('reportplanning_edit', { 'id': reportPlanning.id }) }}"><span
                                                    class="glyphicon glyphicon-pencil"></span>Edit</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('reportplanning_delete', { 'id': reportPlanning.id }) }}"><span
                                                    class="glyphicon glyphicon-trash"></span>Delete</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>


{% endblock %}
