{% extends 'AdminBundle::frame.html.twig' %}
{% block title %} New Issue {% endblock %}
{% block body %}
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-energy"></i>New Report Planning
            </div>
            <div class="tools">
                <a href="{{ path('reportplanning_index') }}" class=" blue">
                    <i class="fa fa-list-alt"></i> List
                </a>
            </div>
        </div>
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-plus"></i>New
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                {% if form_errors(form) %}
                    <div class="form-errors alert alert-danger">
                        {{ form_errors(form) }}
                    </div>
                {% endif %}
                <form class="container-fluid form-horizontal" action="{{ path('reportplanning_new') }}"
                      method="POST" {{ form_enctype(form) }} novalidate>
                    <div class="form-body">
                        <div class="col-md-5">

                        <div class="row form-group">
                            {{ form_label(form.details,'Description',{'attr':{
                                'class' :' control-label',
                            }}) }}
                            {{ form_widget(form.details, {'attr':{
                                'class' :'input-sm pull-right form-control'
                            }}) }}
                            {{ form_errors(form.details) }}
                        </div>

                        <div class="row form-group">
                            {{ form_label(form.frequency,'Frequency',{'attr':{
                                'class' :' control-label',
                            }}) }}
                            {{ form_widget(form.frequency, {'attr':{
                                'class' :'input-sm pull-right form-control'
                            }}) }}
                            {{ form_errors(form.frequency) }}
                        </div>

                        <div class="row form-group">
                            {{ form_label(form.priority,'Priority',{'attr':{
                                'class' :' control-label',
                            }}) }}
                            {{ form_widget(form.priority, {'attr':{
                                'class' :'input-sm pull-right form-control'
                            }}) }}
                            {{ form_errors(form.priority) }}
                        </div>
                            <div class="row form-group">
                                <label for="folder">Select a Location</label>
                                <select id="folder" class="form-control input-sm select2">
                                    <option>Select...</option>
                                    {% for place in places %}
                                        <optgroup label="{{ place.details }}">
                                            <option value="{{ place.id }}">{{ place.details }}</option>
                                            {% if folders[place.id] %}
                                                {% for folder in folders[place.id] %}
                                                    <option value="{{ folder.id }}">{{ folder.details }}</option>
                                                {% endfor %}
                                            {% endif %}
                                        </optgroup>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="row form-group" id="select_furniture">
                                <label for="furniture">Select a Furniture</label>
                                <select id="furniture" class="form-control input-sm select2">
                                    </select>
                            </div>
                            <div class="row form-group">
                                {{ form_label(form.image,'Image',{'attr':{
                                    'class' :' control-label',
                                }}) }}
                                {{ form_widget(form.image, {'attr':{
                                    'class' :'',
                                    'accept' :'image/*'
                                }}) }}
                                {{ form_errors(form.image) }}
                            </div>
                            <br><br>
                            <div class="form-group">
                                <button type="submit" id="restaurantbundle_reportplanning_submit" name="restaurantbundle_reportplanning[submit]" class="btn btn-primary">Create</button>

                            </div>
                            <br><br>

                            <div class="row form-group " hidden="hidden" style="display: none">
                                {{ form_rest(form) }}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function updateValue(id){
            $("#report_issue_furniture").val(id)
        }
        $('#folder').change(function () {
            $.post("{{ path('reportplanning_getfurnitures') }}", {'id':$(this).val()}, function(response){
                option = '<select id="furniture" class="form-control input-sm select2" onchange="updateValue($(this).val())"><option>Select ...</option>';
                for (var item in response){
                    option += '<option value="'+item+'">'+response[item]+'</option>'
                }
                option += '</select>'
                $("#select_furniture select").remove()
                $("#select_furniture").append(option)
            })
            $("#report_planning_folder").val($(this).val())
        })
    </script>
{% endblock %}
