{% extends 'RestaurantBundle::frame.html.twig' %}
{% block title %} View Report Planning {% endblock %}
{% block body %}
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-energy"></i>Report Planning Details
            </div>
            <div class="tools">
                <a href="{{ path('reportplanning_index') }}" class=" blue">
                    <i class="fa fa-list"></i> List
                </a>
                <a href="{{ path('reportplanning_edit', {'id':reportPlanning.id}) }}" class=" blue">
                    <i class="fa fa-pencil"></i> Edit
                </a>
                <a href="{{ path('reportplanning_new') }}" class=" blue">
                    <i class="fa fa-plus"></i> Create new
                </a>
            </div>
        </div>
        <div class="row margin-bottom-30">

            <div class="col-md-6">
                {% if reportPlanning.pathimage %}
                    <img class="img-thumbnail"
                         src="{{ asset('uploads/images/reportplanning/' ~ reportPlanning.pathimage) }}"/>
                {% else %}
                    <img class="img-thumbnail" src="{{ asset('img/noimage.jpg') }}" alt="Without image">
                {% endif %}
            </div>
            <div class="col-md-6">
                <h4><b>{{ reportPlanning.folder }}</b></h4>
                <h4>{{ reportPlanning.furniture }}</h4>
                <br/>
                <ul class="list-unstyled margin-top-10 margin-bottom-10">
                    <li>
                        <i class="fa fa-clock-o"></i> <b>Frequency:</b> {{ reportPlanning.frequency | upper }}
                    </li>
                    {% if (reportPlanning.begins) %}
                        <li>
                            <i class="fa fa-calendar"></i> <b>From: </b> {{ reportPlanning.begins | date('d-m-Y') }}
                        </li>
                    {% endif %}
                    {% if (reportPlanning.ends) %}

                        <li>
                            <i class="fa fa-calendar"></i> <b>To: </b> {{ reportPlanning.ends | date('d-m-Y') }}
                        </li>
                    {% endif %}
                </ul>
                <br/>

                <!-- Blockquotes -->
                <blockquote class="hero">
                    <p>
                        {{ reportPlanning.details }}
                    </p>
                    <small>{{ reportPlanning.priority }}</small>
                </blockquote>
                <br/>
                <br/>
            </div>
        </div>
    </div>
    <script>
        $('.change-status .btn').click(function () {
            $(".change-status input[name='status']").val($(this).val());
            $('.change-status').submit();
        })
    </script>
{% endblock %}
