{% extends 'AdminBundle::frame.html.twig' %}
{% block title %} Show notifier {% endblock %}
{% block body %}
<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon icon-envelope"></i>Notifiers
        </div>
        <div class="tools">

            <a href="{{path('notifier')}}" class=" blue">
                <i class="fa fa-list-alt"></i> List
            </a>
        </div>
    </div>
<div class="portlet box blue-hoki">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-search"></i>View
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse">
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        {% if form_errors(show_form) %}
            <div class="alert alert-danger display-hide" style="display: block;">
                <button class="close" data-close="alert"></button>
                <span>  {{form_errors(show_form)}} </span>
            </div>
        {% endif %}
        <form class="container-fluid form-horizontal " >
            <div class="form-body col-md-5">

                <div class="row form-group ">
                    <label class=" control-label"> Those mails beongs to: <b>{{ entity.description }}</b></label>
                </div>
                <div class="row form-group ">
                    {{form_label(show_form.mails,'Mails (Semicolon separated)',{'attr':{
                        'class' :' control-label',
                    }})}}
                    {{form_widget(show_form.mails, {'attr':{
                        'class' :' form-control', 'disabled':'disabled'
                    }})}}
                    {{form_errors(show_form.mails)}}
                </div>
                <div class="row form-group ">
                    {{form_label(show_form.externals,'Externals (Semicolon separated)',{'attr':{
                        'class' :' control-label',
                    }})}}
                    {{form_widget(show_form.externals, {'attr':{
                        'class' :' form-control', 'disabled':'disabled'
                    }})}}
                    {{form_errors(show_form.externals)}}
                </div>
                <div class="row form-group ">
                    <a  href="{{ path('notifier') }}">
                        <input type = 'button' class="btn btn-primary" value="Back">
                    </a>
                    <a  href="{{ path('notifier_edit', {'id': entity.id}) }}">
                        <input type = 'button' class="btn btn-primary" value="Update">
                    </a>
                </div>
            </div>
        </form>
    </div>
    </div>
    {% endblock %}
