<table style="max-width: 1200px;">
    {% if hotel | length > 0 %}
        <tr>
            <td style="max-width: 120px;  font-family: Lucida; font-size: 13px">
                <table>
                    <thead>
                    <tr>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style=""><input style="background-color: #ffffff; border: none; padding: 4px 0; color: black;" disabled="disabled" value="Overnachtingen €"></td>
                    </tr>
                    <tr>
                        <td style=""><input style="background-color: #ffffff; border: none; padding: 4px 0; color: black;" disabled="disabled" value="Parking €"></td>
                    </tr>
                    <tr>
                        <td style=""><input style="background-color: #ffffff; border: none; padding: 4px 0; color: black;" disabled="disabled" value="Toeristenbelasting €"></td>
                    </tr>
                    <tr>
                        <td style=""><input style="background-color: #ffffff; border: none; padding: 4px 0; color: black;" disabled="disabled" value="Borg €"></td>
                    </tr>
                     <tr>
                        <td style=""><input style="background-color: #ffffff; border: none; padding: 4px 0; color: black;" disabled="disabled" value="Long Stay €"></td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold; "><input style="background-color: #ffffff; border: none; padding: 4px 0; color: black;" disabled="disabled" value="Totaal ontvangsten €"></td>
                    </tr>
                    <tr>
                        <td style=""><input style="background-color: #ffffff; border: none; padding: 4px 0; color: black;" disabled="disabled" value="Contanten €"></td>
                    </tr>
                    <tr>
                        <td style=""><input style="background-color: #ffffff; border: none; padding: 4px 0; color: black;" disabled="disabled" value="PIN/Maestro €"></td>
                    </tr>
                    <tr>
                        <td style=""><input style="background-color: #ffffff; border: none; padding: 4px 0; color: black;" disabled="disabled" value="Credit Cards €"></td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;"><input style="background-color: #ffffff; border: none; padding: 4px 0; color: black;" disabled="disabled" value="Totaal naar Kas €"></td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold; "><input style="background-color: #ffffff; border: none; padding: 4px 0; color: black;" disabled="disabled" value="Kasverschil €"></td>
                    </tr>

                    </tbody>
                </table>
            </td>
            {% set ctrol = 1 %}
            {% for item in hotel %}
                {% if item != null %}

                    <td style="max-width: 120px;  font-family: Lucida; font-size: 13px">
                        <table>
                            <thead>
                            <tr>
                                <th>{{ item.dated | date ('d-M') }}</th>
                                {% set day = item.dated | date('j') %}
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td><input disabled="disabled" tabindex="-1"
                                           style="max-width: 80px; font-family: Lucida; font-size: 13px; text-align:right;"
                                           value="{{ (item.totalover + item.totalextra ) | number_format(2, ',', '.') }}">
                                </td>
                            </tr>
                            <tr>
                                <td><input disabled="disabled" tabindex="-1"
                                           style="max-width: 80px; font-family: Lucida; font-size: 13px; text-align:right;"
                                           value="{{ item.totalparking | number_format(2, ',', '.') }}">
                                </td>
                            </tr>
                            <tr>
                                <td><input disabled="disabled" tabindex="-1"
                                           style="max-width: 80px; font-family: Lucida; font-size: 13px; text-align:right;"
                                           value="{{ item.totaltoer | number_format(2, ',', '.') }}">
                                </td>
                            </tr>
                            <tr>
                                <td><input disabled="disabled" tabindex="-1"
                                           style="max-width: 80px; font-family: Lucida; font-size: 13px; text-align:right;"
                                           value="{{ item.saldoborg | number_format(2, ',', '.') }}">
                                </td>
                            </tr>
                            
                            <tr>
                                <td><input disabled="disabled" tabindex="-1"
                                           style="max-width: 80px; font-family: Lucida; font-size: 13px; text-align:right;"
                                           value="{{ (item.longstay) | number_format(2, ',', '.') }}">
                                </td>
                            </tr>
                            <tr>
                                <td><input disabled="disabled" tabindex="-1"
                                           style="max-width: 80px; font-family: Lucida; font-size: 13px; text-align:right;"
                                           value="{{ (item.totalover + item.totaltoer + item.totalextra + item.totalparking + item.saldoborg) | number_format(2, ',', '.') }}">
                                </td>
                            </tr>
                            <tr>
                                <td><input disabled="disabled" tabindex="-1"
                                           style="max-width: 80px; font-family: Lucida; font-size: 13px; text-align:right;"
                                           value="{{ item.totalcontanten | number_format(2, ',', '.') }}">
                                </td>
                            </tr>
                            <tr>
                                <td><input disabled="disabled" tabindex="-1"
                                           style="max-width: 80px; font-family: Lucida; font-size: 13px; text-align:right;"
                                           value="{{ item.totaldebit | number_format(2, ',', '.') }}">
                                </td>
                            </tr>
                            <tr>
                                <td><input disabled="disabled" tabindex="-1"
                                           style="max-width: 80px; font-family: Lucida; font-size: 13px; text-align:right;"
                                           value="{{ item.totalcredit| number_format(2, ',', '.') }}">
                                </td>
                            </tr>
                            <tr>
                                <td><input disabled="disabled" tabindex="-1"
                                           style="max-width: 80px; font-family: Lucida; font-size: 13px; text-align:right;"
                                           value="{{ (item.totalcontanten+ item.totaldebit + item.totalcredit) | number_format(2, ',', '.') }}">
                                </td>
                            </tr>
                            <tr>
                                <td><input disabled="disabled" tabindex="-1"
                                           style="max-width: 80px; font-family: Lucida; font-size: 13px; text-align:right;"
                                           value="{{ (item.totalont - item.totaldag - item.saldoborg - item.longstay) | number_format(2, ',', '.') }}">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>

                {% else %}
                    <td style="max-width: 120px;  font-family: Lucida; font-size: 13px">
                        <table>
                            <thead>
                            <tr>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td><input disabled="disabled" tabindex="-1"
                                           style="max-width: 80px; font-family: Lucida; font-size: 13px; text-align:right;"
                                    >
                                </td>
                            </tr>
                            <tr>
                                <td><input disabled="disabled" tabindex="-1"
                                           style="max-width: 80px; font-family: Lucida; font-size: 13px; text-align:right;"
                                    >
                                </td>
                            </tr>
                            <tr>
                                <td><input disabled="disabled" tabindex="-1"
                                           style="max-width: 80px; font-family: Lucida; font-size: 13px; text-align:right;"
                                    >
                                </td>
                            </tr>
                            <tr>
                                <td><input disabled="disabled" tabindex="-1"
                                           style="max-width: 80px; font-family: Lucida; font-size: 13px; text-align:right;"
                                    >
                                </td>
                            </tr>
                            <tr>
                                <td><input disabled="disabled" tabindex="-1"
                                           style="max-width: 80px; font-family: Lucida; font-size: 13px; text-align:right;"
                                    >
                                </td>
                            </tr>
                            <tr>
                                <td><input disabled="disabled" tabindex="-1"
                                           style="max-width: 80px; font-family: Lucida; font-size: 13px; text-align:right;"
                                    >
                                </td>
                            </tr>
                            <tr>
                                <td><input disabled="disabled" tabindex="-1"
                                           style="max-width: 80px; font-family: Lucida; font-size: 13px; text-align:right;"
                                    >
                                </td>
                            </tr>
                            <tr>
                                <td><input disabled="disabled" tabindex="-1"
                                           style="max-width: 80px; font-family: Lucida; font-size: 13px; text-align:right;"
                                    >
                                </td>
                            </tr>
                            <tr>
                                <td><input disabled="disabled" tabindex="-1"
                                           style="max-width: 80px; font-family: Lucida; font-size: 13px; text-align:right;"
                                    >
                                </td>
                            </tr>
                            <tr>
                                <td><input disabled="disabled" tabindex="-1"
                                           style="max-width: 80px; font-family: Lucida; font-size: 13px; text-align:right;"
                                    >
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                {% endif %}
                {% set ctrol = ctrol + 1 %}
            {% endfor %}

        </tr>
    {% endif %}
</table>

<br/>
<br/>