<table style="padding-top:45px">
    {% if hotel | length > 0 %}
        <tr>
            <td style="max-width: 130px; min-width: 130px; font-size: 13px">
                <table>
                    <thead>
                    <tr>
                        <th style="height:23px; text-align:right;">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="height:23px; text-align:right;">Overnachtingen €</td>
                    </tr>
                    <tr>
                        <td style="height:23px; text-align:right;">Toeristenbelasting €</td>
                    </tr>
                    <tr>
                        <td style="height:23px; text-align:right;">Parking €</td>
                    </tr>
                    <tr>
                        <td style="height:23px; text-align:right;">Borg €</td>
                    </tr>
                     <tr>
                        <td style="height:23px; text-align:right;font-weight: bold;">Totaal Omzet €</td>
                    </tr>
                    <tr>
                        <td style="height:23px; text-align:right;">PIN/Maestro €</td>
                    </tr>
                    <tr>
                        <td style="height:23px; text-align:right;">Credit Cards €</td>
                    </tr>
                    <tr>
                        <td style="height:23px; text-align:right;">Stripe Guesty €</td>
                    </tr>
                    <tr>
                        <td style="height:23px; text-align:right;">Stripe Invoice €</td>
                    </tr>
                    <tr>
                        <td style="height:23px; text-align:right;">Bank €</td>
                    </tr>
                    <tr>
                        <td style="height:23px; text-align:right;">Airbnb €</td>
                    </tr>
                    <tr>
                        <td style="height:23px; text-align:right;">Contanten €</td>
                    </tr>
                    <tr>
                        <td style="height:23px; text-align:right;font-weight: bold;">Totaal naar Kas €</td>
                    </tr>
                    <tr>
                        <td style="height:23px; text-align:right;font-weight: bold;">Kasverschil €</td>
                    </tr>
                    </tbody>
                </table>
            </td>
            {% set ctrol = 1 %}
            {% for item in hotel %}
                <td style="font-size: 13px; ">
                    {% if item != null %}
                    
                        <table>
                            <thead>
                                <tr>
                                    <th>{{ item.dated | date ('d-M') }}</th>
                                    {% set day = item.dated | date('j') %}
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td><input style="min-width:70px;max-width:70px;padding:0 4px;background:white;border:none;height:23px; text-align:right;text-align:right;" tabindex="-1"
                                            class=" form-control  input-sm"
                                            value="{{ (item.totalparkingextra) | number_format(2, ',', '.') }}">
                                    </td>
                                </tr>
                                <tr>
                                    <td><input style="min-width:70px;max-width:70px;padding:0 4px;background:white;border:none;height:23px; text-align:right;text-align:right;" tabindex="-1"
                                            class=" form-control  input-sm"
                                            value="{{ item.totaltoer | number_format(2, ',', '.') }}">
                                    </td>
                                </tr>
                                <tr>
                                    <td><input style="min-width:70px;max-width:70px;padding:0 4px;background:white;border:none;height:23px; text-align:right;text-align:right;" tabindex="-1"
                                            class=" form-control  input-sm"
                                            value="{{ item.totalparking | number_format(2, ',', '.') }}">
                                    </td>
                                </tr>
                                <tr>
                                    <td><input style="min-width:70px;max-width:70px;padding:0 4px;background:white;border:none;height:23px; text-align:right;text-align:right;" tabindex="-1"
                                            class=" form-control  input-sm"
                                            value="{{ item.saldoborg | number_format(2, ',', '.') }}">
                                    </td>
                                </tr>
                                <tr>
                                    <td><input style="min-width:70px;max-width:70px;padding:0 4px;background:white;border:none;height:23px; text-align:right;text-align:right;" tabindex="-1"
                                            class=" form-control  input-sm negrita"
                                            value="{{ (item.omzet)  | number_format(2, ',', '.') }}">
                                    </td>
                                </tr>
                                <tr>
                                    <td><input style="min-width:70px;max-width:70px;padding:0 4px;background:white;border:none;height:23px; text-align:right;text-align:right;" tabindex="-1"
                                            class=" form-control  input-sm"`
                                            value="{{ item.totaldebit | number_format(2, ',', '.') }}">
                                    </td>
                                </tr>
                                <tr>
                                    <td><input style="min-width:70px;max-width:70px;padding:0 4px;background:white;border:none;height:23px; text-align:right;text-align:right;" tabindex="-1"
                                            class=" form-control  input-sm"
                                            value="{{ item.totalcredit | number_format(2, ',', '.') }}">
                                    </td>
                                </tr>
                                <tr>
                                    <td><input style="min-width:70px;max-width:70px;padding:0 4px;background:white;border:none;height:23px; text-align:right;text-align:right;" tabindex="-1"
                                            class=" form-control  input-sm"
                                            value="{{ item.stripeguesy| number_format(2, ',', '.') }}">
                                    </td>
                                </tr>
                                <tr>
                                    <td><input style="min-width:70px;max-width:70px;padding:0 4px;background:white;border:none;height:23px; text-align:right;text-align:right;" tabindex="-1"
                                            class=" form-control  input-sm"
                                            value="{{ (item.stripeinvoice) | number_format(2, ',', '.') }}">
                                    </td>
                                </tr>                    
                                <tr>
                                    <td><input style="min-width:70px;max-width:70px;padding:0 4px;background:white;border:none;height:23px; text-align:right;text-align:right;" tabindex="-1"
                                            class=" form-control  input-sm"
                                            value="{{ (item.bank) | number_format(2, ',', '.') }}">
                                    </td>
                                </tr>                
                                <tr>
                                    <td><input style="min-width:70px;max-width:70px;padding:0 4px;background:white;border:none;height:23px; text-align:right;text-align:right;" tabindex="-1"
                                            class=" form-control  input-sm"
                                            value="{{ (item.airbnb) | number_format(2, ',', '.') }}">
                                    </td>
                                </tr>          
                                <tr>
                                    <td><input style="min-width:70px;max-width:70px;padding:0 4px;background:white;border:none;height:23px; text-align:right;text-align:right;" tabindex="-1"
                                            class=" form-control  input-sm"
                                            value="{{ (item.totalcontanten) | number_format(2, ',', '.') }}">
                                    </td>
                                </tr>
                                <tr>
                                    <td><input style="min-width:70px;max-width:70px;padding:0 4px;background:white;border:none;height:23px; text-align:right;text-align:right;" tabindex="-1"
                                            class=" form-control  input-sm negrita"
                                            value="{{ ( item.totalont) | number_format(2, ',', '.') }}">
                                    </td>
                                </tr>
                                <tr>
                                    <td><input style="min-width:70px;max-width:70px;padding:0 4px;background:white;border:none;height:23px; text-align:right;text-align:right;" tabindex="-1"
                                            class=" form-control  input-sm negrita"
                                            value="{{ (item.kasver) | number_format(2, ',', '.') }}">

                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    {% else %}
                    <table>

                        <thead>
                        <tr>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td><input style="min-width:70px;max-width:70px;padding:0 4px;background:white;border:none;height:23px; text-align:right;text-align:right;" tabindex="-1"
                                    class=" form-control  input-sm">
                            </td>
                        </tr>
                        
                        <tr>
                            <td><input style="min-width:70px;max-width:70px;padding:0 4px;background:white;border:none;height:23px; text-align:right;text-align:right;" tabindex="-1"
                                    class=" form-control  input-sm"
                                    >
                            </td>
                        </tr>
                        <tr>
                            <td><input style="min-width:70px;max-width:70px;padding:0 4px;background:white;border:none;height:23px; text-align:right;text-align:right;" tabindex="-1"
                                    class=" form-control  input-sm"
                                    >
                            </td>
                        </tr>
                        <tr>
                            <td><input style="min-width:70px;max-width:70px;padding:0 4px;background:white;border:none;height:23px; text-align:right;text-align:right;" tabindex="-1"
                                    class=" form-control  input-sm"
                                    >
                            </td>
                        </tr>
                        <tr>
                            <td><input style="min-width:70px;max-width:70px;padding:0 4px;background:white;border:none;height:23px; text-align:right;text-align:right;" tabindex="-1"
                                    class=" form-control  input-sm"
                                    >
                            </td>
                        </tr>
                        <tr>
                            <td><input style="min-width:70px;max-width:70px;padding:0 4px;background:white;border:none;height:23px; text-align:right;text-align:right;" tabindex="-1"
                                    class=" form-control  input-sm"
                                    >
                            </td>
                        </tr>
                        <tr>
                            <td><input style="min-width:70px;max-width:70px;padding:0 4px;background:white;border:none;height:23px; text-align:right;text-align:right;" tabindex="-1"
                                    class=" form-control  input-sm"
                                    >
                            </td>
                        </tr>
                        <tr>
                            <td><input style="min-width:70px;max-width:70px;padding:0 4px;background:white;border:none;height:23px; text-align:right;text-align:right;" tabindex="-1"
                                    class=" form-control  input-sm"
                                    >
                            </td>
                        </tr>
                        <tr>
                            <td><input style="min-width:70px;max-width:70px;padding:0 4px;background:white;border:none;height:23px; text-align:right;text-align:right;" tabindex="-1"
                                    class=" form-control  input-sm"
                                    >
                            </td>
                        </tr>
                        <tr>
                            <td><input style="min-width:70px;max-width:70px;padding:0 4px;background:white;border:none;height:23px; text-align:right;text-align:right;" tabindex="-1"
                                    class=" form-control  input-sm"
                                    >
                            </td>
                        </tr>
                        <tr>
                            <td><input style="min-width:70px;max-width:70px;padding:0 4px;background:white;border:none;height:23px; text-align:right;text-align:right;" tabindex="-1"
                                    class=" form-control  input-sm"
                                >
                            </td>
                        </tr>
                        <tr>
                            <td><input style="min-width:70px;max-width:70px;padding:0 4px;background:white;border:none;height:23px; text-align:right;text-align:right;" tabindex="-1"
                                    class=" form-control  input-sm"
                                    >
                            </td>
                        </tr>
                        <tr>
                            <td><input style="min-width:70px;max-width:70px;padding:0 4px;background:white;border:none;height:23px; text-align:right;text-align:right;" tabindex="-1"
                                    class=" form-control  input-sm"
                                    >
                            </td>
                        </tr>
                        <tr>
                            <td><input style="min-width:70px;max-width:70px;padding:0 4px;background:white;border:none;height:23px; text-align:right;text-align:right;" tabindex="-1"
                                    class=" form-control  input-sm"
                                    >
                            </td>
                        </tr>
                        
                        </tbody>
                    </table>
                
                    {% endif %}
                </td>
                 
                {% set ctrol = ctrol + 1 %}
            {% endfor %}

        </tr>
    {% endif %}
</table>
