<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="max-width: 1200px;font-family: Tahoma;font-size: 13px;color: black;padding: 10px; margin: 0 auto;">
<table style="max-width: 1200px; font-family: Lucida; font-size: 13px">
    <thead>
    <tr>
        <td colspan="4"><img src="{{ asset('img/tphlogo.jpg') }}" style="max-width: 280px; margin: 30px 175px 0;"></td>
    </tr>
    <tr>
        <td colspan="4"><h4
                    style="color: #FF8C11;font-weight: bold;font-size: 19px;margin: 40px; text-align: center; font-family: sans-serif;">
                Hotel Kasboek</h4></td>
    </tr>
    <tr>
        <td style="font-weight: bold;">Datum Formulier</td>
        <td><input style=" text-align: center; font-weight: bold; font-size: 13px; max-width: 80px; font-family: Lucida;" disabled="disabled" value='{{entity_basic.dated | date("d-m-Y")}}'></td>
        <td></td>
        <td></td>
    </tr>

    </thead>
</table>
<table style="max-width: 1200px; font-family: Lucida; font-size: 13px">
    <tbody>
    <tr>
        <td> <input style="background-color: #ffffff; border: none; padding: 4px 0; color: black;" disabled="disabled" value="Totaal Overnachtingen €"></td>
        <td><input disabled="disabled" style="text-align: right; font-size: 13px; max-width: 80px; font-family: Lucida;" value="{{ entity_basic.overnachtingen | number_format(2, ',', '.') }}"></td>
        <td style="text-align: right">€ 500</td>
        <td><input disabled="disabled" style="text-align: right; font-size: 13px; max-width: 80px; font-family: Lucida;"
                   value="{{ entity_basic.float.e500 }}"></td>
    </tr>
    <tr>
        <td> <input style="background-color: #ffffff; border: none; padding: 4px 0; color: black;" disabled="disabled" value="Totaal Parking €"></td>
        <td><input disabled="disabled"
                   style="text-align: right; font-size: 13px; max-width: 80px; font-family: Lucida;"
                   value="{{ entity_basic.parking | number_format(2, ',', '.') }}"></td>
        <td style="text-align: right">€ 200</td>
        <td><input disabled="disabled"
                   style="text-align: right; font-size: 13px; max-width: 80px; font-family: Lucida;"
                   value="{{ entity_basic.float.e200 }}"></td>

    </tr>
    <tr>
        <td> <input style="background-color: #ffffff; border: none; padding: 4px 0; color: black;" disabled="disabled" value="Totaal Toeristenbelasting €"></td>
        <td><input disabled="disabled"
                   style="text-align: right; font-size: 13px; max-width: 80px; font-family: Lucida;"
                   value="{{ entity_basic.toeristenbelasting | number_format(2, ',', '.') }}"></td>
        <td style="text-align: right">€ 100</td>
        <td><input disabled="disabled"
                   style="text-align: right; font-size: 13px; max-width: 80px; font-family: Lucida;"
                   value="{{ entity_basic.float.e100 }}"></td>

    </tr>
    <tr>
        <td> <input style="background-color: #ffffff; border: none; padding: 4px 0; color: black;" disabled="disabled" value="Borg €"> </td>
        <td><input disabled="disabled"
                   style="text-align: right; font-size: 13px; max-width: 80px; font-family: Lucida;"
                   value="{{ entity_basic.totaalborg | number_format(2, ',', '.') }}"></td>
        <td style="text-align: right">€ 50</td>
        <td><input disabled="disabled"
                   style="text-align: right; font-size: 13px; max-width: 80px; font-family: Lucida;"
                   value="{{ entity_basic.float.e50 }}"></td>
    </tr>
    <tr>
        <td> <input style="background-color: #ffffff; border: none; padding: 4px 0; color: black;" disabled="disabled" value="Long Stay €"> </td>
        <td><input disabled="disabled"
                   style="text-align: right; font-size: 13px; max-width: 80px; font-family: Lucida;"
                   value="{{ entity_basic.longstay | number_format(2, ',', '.') }}"></td>
        <td style="text-align: right">€ 20</td>
        <td><input disabled="disabled"
                   style="text-align: right; font-size: 13px; max-width: 80px; font-family: Lucida;"
                   value="{{ entity_basic.float.e20 }}"></td>
    </tr>

    <tr>
        <td><input style="background-color: #ffffff; border: none; padding: 4px 0; color: black;" disabled="disabled" value="Totaal ontvangsten €"></td>
        <td><input disabled="disabled"
                   style="text-align: right; font-size: 13px; max-width: 80px; font-family: Lucida;"
                   value="{{ entity_basic.totaalont | number_format(2, ',', '.') }}"></td>
        <td style="text-align: right">€ 10</td>
        <td><input disabled="disabled"
                   style="text-align: right; font-size: 13px; max-width: 80px; font-family: Lucida;"
                   value="{{ entity_basic.float.e10 }}"></td>

    </tr>
    <tr>
        <td><input style="background-color: #ffffff; border: none; padding: 4px 0; color: black;" disabled="disabled" value="Totaal contant in kas €"></td>

        <td><input disabled="disabled"
                   style="text-align: right; font-size: 13px; max-width: 80px; font-family: Lucida;"
                   value="{{ entity_basic.contanten | number_format(2, ',', '.') }}"></td>
         <td style="text-align: right">€ 5</td>
        <td><input disabled="disabled"
                   style="text-align: right; font-size: 13px; max-width: 80px; font-family: Lucida;"
                   value="{{ entity_basic.float.e5 }}"></td>

    </tr>
    <tr>
        <td> <input style="background-color: #ffffff; border: none; padding: 4px 0; color: black;" disabled="disabled" value="Totaal PIN/Maestro €"></td>
        <td><input disabled="disabled"
                   style="text-align: right; font-size: 13px; max-width: 80px; font-family: Lucida;"
                   value="{{ entity_basic.debit | number_format(2, ',', '.') }}"></td>
        <td style="text-align: right">Muntgeld waarde €</td>
        <td><input disabled="disabled"
                   style="text-align: right; font-size: 13px; max-width: 80px; font-family: Lucida;"
                   value="{{ entity_basic.float.waarde | number_format(2, ',', '.') }}"></td>

    </tr>
    <tr>
        <td> <input style="background-color: #ffffff; border: none; padding: 4px 0; color: black;" disabled="disabled" value="Totaal Credit Cards €"></td>
        <td><input disabled="disabled"
                   style="text-align: right; font-size: 13px; max-width: 80px; font-family: Lucida;"
                   value="{{ entity_basic.credit | number_format(2, ',', '.') }}"></td>
         <td style="text-align: right">Subtotaal €</td>
        <td><input disabled="disabled"
                   style="text-align: right; font-size: 13px; max-width: 80px; font-family: Lucida;"
                   value="{{ entity_basic.float.totalmoney | number_format(2, ',', '.') }}"></td>

    </tr>
    <tr>
        <td> <input style="background-color: #ffffff; border: none; padding: 4px 0; color: black;" disabled="disabled" value="Totaal in Kas €"></td>

        <td><input disabled="disabled"
                   style="text-align: right; font-size: 13px; max-width: 80px; font-family: Lucida;"
                   value="{{ entity_basic.totaalnaar | number_format(2, ',', '.') }}"></td>
      <td style="text-align: right">Bank 1 €</td>
        <td><input disabled="disabled"
                   style="text-align: right; font-size: 13px; max-width: 80px; font-family: Lucida;"
                   value="{{ entity_basic.float.bank1 | number_format(2, ',', '.') }}"></td>

    </tr>
    <tr>
        <td><input style="background-color: #ffffff; border: none; padding: 4px 0; color: black;" disabled="disabled" value="Kasverschil €"></td>
        <td><input disabled="disabled"
                   style="text-align: right; font-size: 13px; max-width: 80px; font-family: Lucida;"
                   value="{{ entity_basic.kasverschil | number_format(2, ',', '.') }}"></td>
        <td style="text-align: right">Bank 2 €</td>
        <td><input disabled="disabled"
                   style="text-align: right; font-size: 13px; max-width: 80px; font-family: Lucida;"
                   value="{{ entity_basic.float.bank2 | number_format(2, ',', '.') }}"></td>
    </tr>

    <tr>
        <td></td>
        <td></td>
        <td style="text-align: right">Bank 3 €</td>
        <td><input disabled="disabled"
                   style="text-align: right; font-size: 13px; max-width: 80px; font-family: Lucida;"
                   value="{{ entity_basic.float.bank3 | number_format(2, ',', '.') }}"></td>

    </tr>
    <tr>
        <td></td>
        <td></td>
        <td style="text-align: right">Bank 4 €</td>
        <td><input disabled="disabled"
                   style="text-align: right; font-size: 13px; max-width: 80px; font-family: Lucida;"
                   value="{{ entity_basic.float.bank4 | number_format(2, ',', '.') }}"></td>

    </tr>
    {% set cantidadbank = 5 %}
    {% for item in entity_basic.float.bank %}
        {% if (item != 0) %}
    <tr>
        <td></td>
        <td></td>
        <td style="text-align: right">Bank {{ cantidadbank }} €</td>
        <td><input disabled="disabled"
                   style="text-align: right; font-size: 13px; max-width: 80px; font-family: Lucida;"
                   value="{{ item | number_format(2, ',', '.') }}"></td>

    </tr>
        {% set cantidadbank = cantidadbank + 1 %}
        {% endif %}
    {% endfor %}
    <tr>
        <td></td>
        <td></td>
        <td style="text-align: right">Totaal contant Check €</td>
        <td><input disabled="disabled"
                   style="text-align: right; font-size: 13px; max-width: 80px; font-family: Lucida;"
                   value="{{ entity_basic.float.contant | number_format(2, ',', '.') }}"></td>


    </tr>
    <tr>
        <td></td>
        <td></td>
        <td style="text-align: right">Kasverschil Check €</td>
        <td><input disabled="disabled"
                   style="text-align: right; font-size: 13px; max-width: 80px; font-family: Lucida;"
                   value="{{ entity_basic.float.kasverschil | number_format(2, ',', '.') }}"></td>

    </tr>


    </tbody>
</table>

<br/>
<br/> <br/>
<br/>
{% for hotel in hotels %}
    {% include 'RestaurantBundle:KasboekHotel:mail-form.html.twig' %}
{% endfor %}

</body>
</html>