{% extends '::base.html.twig' %}

{% block body -%}
    <h1>CashClosureTotal list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Xlaag</th>
                <th>Xkitchen</th>
                <th>Xhoog</th>
                <th>Xparking</th>
                <th>Xentry</th>
                <th>Xspacesrent</th>
                <th>Xothers</th>
                <th>Xtotal</th>
                <th>Zlaag</th>
                <th>Zkitchen</th>
                <th>Zhoog</th>
                <th>Zparking</th>
                <th>Zentry</th>
                <th>Zspacesrent</th>
                <th>Zothers</th>
                <th>Ztotal</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('cashclosuretotal_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.xlaag }}</td>
                <td>{{ entity.xkitchen }}</td>
                <td>{{ entity.xhoog }}</td>
                <td>{{ entity.xparking }}</td>
                <td>{{ entity.xentry }}</td>
                <td>{{ entity.xspacesrent }}</td>
                <td>{{ entity.xothers }}</td>
                <td>{{ entity.xtotal }}</td>
                <td>{{ entity.zlaag }}</td>
                <td>{{ entity.zkitchen }}</td>
                <td>{{ entity.zhoog }}</td>
                <td>{{ entity.zparking }}</td>
                <td>{{ entity.zentry }}</td>
                <td>{{ entity.zspacesrent }}</td>
                <td>{{ entity.zothers }}</td>
                <td>{{ entity.ztotal }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('cashclosuretotal_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('cashclosuretotal_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('cashclosuretotal_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
