{% extends '::base.html.twig' %}

{% block body -%}
    <h1>CashClosureTotal</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Xlaag</th>
                <td>{{ entity.xlaag }}</td>
            </tr>
            <tr>
                <th>Xkitchen</th>
                <td>{{ entity.xkitchen }}</td>
            </tr>
            <tr>
                <th>Xhoog</th>
                <td>{{ entity.xhoog }}</td>
            </tr>
            <tr>
                <th>Xparking</th>
                <td>{{ entity.xparking }}</td>
            </tr>
            <tr>
                <th>Xentry</th>
                <td>{{ entity.xentry }}</td>
            </tr>
            <tr>
                <th>Xspacesrent</th>
                <td>{{ entity.xspacesrent }}</td>
            </tr>
            <tr>
                <th>Xothers</th>
                <td>{{ entity.xothers }}</td>
            </tr>
            <tr>
                <th>Xtotal</th>
                <td>{{ entity.xtotal }}</td>
            </tr>
            <tr>
                <th>Zlaag</th>
                <td>{{ entity.zlaag }}</td>
            </tr>
            <tr>
                <th>Zkitchen</th>
                <td>{{ entity.zkitchen }}</td>
            </tr>
            <tr>
                <th>Zhoog</th>
                <td>{{ entity.zhoog }}</td>
            </tr>
            <tr>
                <th>Zparking</th>
                <td>{{ entity.zparking }}</td>
            </tr>
            <tr>
                <th>Zentry</th>
                <td>{{ entity.zentry }}</td>
            </tr>
            <tr>
                <th>Zspacesrent</th>
                <td>{{ entity.zspacesrent }}</td>
            </tr>
            <tr>
                <th>Zothers</th>
                <td>{{ entity.zothers }}</td>
            </tr>
            <tr>
                <th>Ztotal</th>
                <td>{{ entity.ztotal }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('cashclosuretotal') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('cashclosuretotal_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
