{% extends 'RestaurantBundle::frame.html.twig' %}
{% block title%} Worker {% endblock %}
{% block body %}
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon icon-users"></i>Workers
            </div>
            <div class="tools">
                <a href="{{path('worker_new')}}" class=" blue">
                    <i class="fa fa-plus"></i> Create new
                </a>
            </div>
        </div>
        <div class="portlet-body" style="display: block;">
            <div  class="table-responsive">
                <div class="row">

                    <div class="col-md-7 col-sm-12">

                        <div class="dataTables_paginate paging_simple_numbers" id="sample_2_paginate">
                            <ul class="pagination">

                                <li class="paginate_button previous {% if first %} disabled {% endif %}" aria-controls="sample_2" tabindex="0" id="sample_2_previous">
                                    <a href="{% if not first %} {{ path('worker', {'limit': 30, 'offset': (page - 1)*30}) }} {% else  %} #{% endif %}"><i class="fa fa-angle-double-left"></i></a>
                                </li>
                                <li class="paginate_button active" tabindex="0"><a href="#">Page {{ page + 1 }}</a></li>
                                <li class="paginate_button next {% if last %} disabled {% endif %}" aria-controls="sample_2" tabindex="0" id="sample_2_next">
                                    <a href="{% if not last %}{{ path('worker', {'limit': 30, 'offset': (page + 1)*30}) }}{% else  %} #{% endif %}"><i class="fa fa-angle-double-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <table class="table table-striped table-condensed table-bordered table-advance  table-hover">
                    <thead>
                    <tr>
                        <th class="hidden-xs counter" > #

                        </th>
                        <th class="">
                            <i class="fa fa-certificate"></i> Name
                        </th>
                        <th class="">
                            <i class="fa fa-check"></i> Is Active
                        </th>
                        <th class="hidden-xs">
                            <i class="fa fa-bookmark"></i> Position
                        </th>
                        <th class="actions">
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set c = (page *30)+1  %}
                    {% for entity in entities %}
                        <tr >
                            <td class="highlight hidden-xs counter"><b>{{ c }}</b></td>
                            <td class="">{{ entity.name }}</td>
                            <td class=""><input type="checkbox" {% if entity.isactive == 1 %}checked="checked"{% endif %} disabled="disabled"></td>
                            <td class="hidden-xs">{{ entity.position }}</td>
                            <td>
                                <div class="btn-group dropdown ">
                                    <button class="btn blue-hoki btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                                        Actions  <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="{{ path('worker_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-search"></span>View</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('worker_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span>Edit</a>
                                        </li>
                                    </ul>
                                </div>
                             </td>
                        </tr>
                        {% set c = c + 1 %}
                    {% endfor %}

                    </tbody>
                </table>
                <div class="row">

                    <div class="col-md-7 col-sm-12">

                        <div class="dataTables_paginate paging_simple_numbers" id="sample_2_paginate">
                            <ul class="pagination">

                                <li class="paginate_button previous {% if first %} disabled {% endif %}" aria-controls="sample_2" tabindex="0" id="sample_2_previous">
                                    <a href="{% if not first %} {{ path('worker', {'limit': 30, 'offset': (page - 1)*30}) }} {% else  %} #{% endif %}"><i class="fa fa-angle-double-left"></i></a>
                                </li>
                                <li class="paginate_button active" tabindex="0"><a href="#">Page {{ page + 1 }}</a></li>
                                <li class="paginate_button next {% if last %} disabled {% endif %}" aria-controls="sample_2" tabindex="0" id="sample_2_next">
                                    <a href="{% if not last %}{{ path('worker', {'limit': 30, 'offset': (page + 1)*30}) }}{% else  %} #{% endif %}"><i class="fa fa-angle-double-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

