{% extends 'AdminBundle::frame.html.twig' %}
{% block title%} Vouchers {% endblock %}
{% block body %}
         <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-present"></i>Vouchers
                </div>
                <div class="tools">                    
                    <a href="{{path('receptionvoucher_new')}}" class=" blue">
                        <i class="fa fa-plus"></i> Create new 
                    </a>
                </div>
            </div>
            <div class="table-responsive">

             <table class="table table-striped table-condensed table-bordered table-advance  table-hover">
                <thead>
                    <tr>
                        <th class="hidden-xs counter"> #

                        </th>
                        <th >
                            <i class="fa fa-certificate"></i> Details
                        </th>
                        <th >
                            <i class="fa fa-euro"></i> Value
                        </th>

                          <th class="hidden-xs">
                                    <i class="fa fa-check"></i> Is active
                                </th>
                        <th class="hidden-xs"> <i class="fa fa-check"></i> For Reception</th>
                        <th class="hidden-xs"><i class="fa fa-check"></i> Is External</th>

                        <th class="actions"></th>
                    </tr>
                </thead>
                <tbody>
                {% set c = 1 %}
                    {% for entity in entities %}
                        <tr>
                            <td class="hidden-xs counter"><b>{{ c }}</b></td>
                            <td>{{ entity.details }}</td>
                            <td>{{ entity.value }}</td>
                            <td class="hidden-xs">{% if entity.isactive %}Ja{% else %} Nee {% endif %}</td>
                            <td class="hidden-xs">{% if entity.forreception %}Ja{% else %} Nee {% endif %}</td>
                            <td class="hidden-xs">{% if entity.isext %}Ja{% else %} Nee {% endif %}</td>
                            <td>
                                <div class="btn-group dropdown ">
                                    <button class="btn blue-hoki btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                                        Actions  <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="{{ path('receptionvoucher_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-search"></span>View</a>
                                        </li>
                                            <li>
                                                <a href="{{ path('receptionvoucher_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span>Edit</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('receptionvoucher_delete', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-remove"></span>Delete</a>
                                            </li>


                                    </ul>
                                </div>


                            </td>
                        </tr>
                        {% set c = c + 1 %}
                    {% endfor %}
                </tbody>
            </table>
               
            </div>
            
        </div>
{% endblock %}
