{% extends 'AdminBundle::frame.html.twig' %}
{% block title %} New Voucher {% endblock %}
{% block body %}
<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-present"></i>Vouchers
        </div>
        <div class="tools">
            <a href="{{path('receptionvoucher')}}" class=" blue">
                <i class="fa fa-list-alt"></i> List
            </a>
        </div>
    </div>
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-plus"></i>New
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                {% if form_errors(form)%}
                    <div class="form-errors alert alert-danger">
                        {{form_errors(form)}}
                    </div>
                {% endif %}
                <form class="container-fluid form-horizontal" action="{{path('receptionvoucher_create')}}" method="POST" {{form_enctype(form)}}>
                    <div class="form-body col-md-5">
                        <div class="row form-group">
                            {{form_label(form.details,'Name',{'attr':{                       
                      'class' :' control-label',
                            }})}}
                            {{form_widget(form.details, {'attr':{                       
                      'class' :'input-sm pull-right form-control'
                            }})}}  
                            {{form_errors(form.details)}}  
                        </div>
                        <div class="row form-group">
                            {{form_label(form.value,'Value',{'attr':{                       
                      'class' :' control-label',
                            }})}}
                            {{form_widget(form.value, {'attr':{                       
                      'class' :'input-sm pull-right form-control'
                            }})}}  
                            {{form_errors(form.value)}}  
                        </div>
                        <div class="row form-group">
                            <div class="">
                                <label>
                                    {{form_widget(form.isactive,{'attr':{'type' :'checkbox',}})}} Is Active 
                                </label>
                            </div>
                            <div class="">
                                <label>
                                    {{form_widget(form.forreception,{'attr':{'type' :'checkbox',}})}} For Reception 
                                </label>
                            </div>
                            <div class="">
                                <label>
                                    {{form_widget(form.isext,{'attr':{'type' :'checkbox',}})}} Is External 
                                </label>
                            </div>
                        </div>
                        <div class="row form-group ">
                            {{ form_rest(form) }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
{% endblock %}
