{% extends '::base.html.twig' %}

{% block body -%}
    <h1>CashClosureBeginBill list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>E20</th>
                <th>E10</th>
                <th>E5</th>
                <th>E2</th>
                <th>E1</th>
                <th>E050</th>
                <th>E020</th>
                <th>E010</th>
                <th>S20</th>
                <th>S10</th>
                <th>S5</th>
                <th>S2</th>
                <th>S1</th>
                <th>S050</th>
                <th>S020</th>
                <th>S010</th>
                <th>Total</th>
                <th>Extra</th>
                <th>Standard</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('cashclosurebeginbill_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.e20 }}</td>
                <td>{{ entity.e10 }}</td>
                <td>{{ entity.e5 }}</td>
                <td>{{ entity.e2 }}</td>
                <td>{{ entity.e1 }}</td>
                <td>{{ entity.e050 }}</td>
                <td>{{ entity.e020 }}</td>
                <td>{{ entity.e010 }}</td>
                <td>{{ entity.s20 }}</td>
                <td>{{ entity.s10 }}</td>
                <td>{{ entity.s5 }}</td>
                <td>{{ entity.s2 }}</td>
                <td>{{ entity.s1 }}</td>
                <td>{{ entity.s050 }}</td>
                <td>{{ entity.s020 }}</td>
                <td>{{ entity.s010 }}</td>
                <td>{{ entity.total }}</td>
                <td>{{ entity.extra }}</td>
                <td>{{ entity.standard }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('cashclosurebeginbill_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('cashclosurebeginbill_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('cashclosurebeginbill_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
