<fieldset id="data-begin" class="col-md-12">
    <h4>Begin Float</h4>
    <!--<form id="form-bills" action={{'cashclosure_create'}} method="post" class="form-horizontal" role="form">
    <!--errores del formulario total-->
    <div class="for-errors col-md-12"> 
        {{form_errors(form_begin)}}
    </div>
    <section class="x-group col-md-3 pull-left" >            
        <div class="row form-group">
            {{form_label(form_begin.standard,'Standaard float gebruikt?',{'attr':{                       
                    'class' :' control-label',
            }})}}
            {{form_widget(form_begin.standard , {'attr':{                       
                    'class' :'input-sm pull-right form-control bill-control check-begin-standard',
                    'placeholder' : 0
            }})}}
        </div>
        <div class="section-begin-standard" hidden="">

            <div class="row form-group">
                {{form_label(form_begin.s20,'€20',{'attr':{                       
                'class' :' control-label',
                }})}}
                {{form_widget(form_begin.s20 , {'attr':{                       
                'class' :'input-sm pull-right form-control bill-control',
                'placeholder' : 0
                }})}}
            </div>
            <div class="row form-group">
                {{form_label(form_begin.s10,'€10',{'attr':{                       
                'class' :' control-label',
                }})}}
                {{form_widget(form_begin.s10 , {'attr':{                       
                'class' :'input-sm pull-right form-control bill-control',
                'placeholder' : 0
                }})}}
            </div>
            <div class="row form-group">
                {{form_label(form_begin.s5,'€5',{'attr':{                       
                'class' :' control-label',
                }})}}
                {{form_widget(form_begin.s5 , {'attr':{                       
                'class' :'input-sm pull-right form-control bill-control',
                'placeholder' : 0
                }})}} 
            </div>            
            <div class="row form-group">
                {{form_label(form_begin.s2,'€2',{'attr':{                       
                'class' :' control-label',
                }})}}
                {{form_widget(form_begin.s2, {'attr':{                       
                'class' :'input-sm pull-right form-control bill-control',
                'placeholder' : 0
                }})}}
            </div>
            <div class="row form-group">
                {{form_label(form_begin.s1,'€1',{'attr':{                       
                'class' :' control-label',
                }})}}
                {{form_widget(form_begin.s1, {'attr':{                       
                'class' :'input-sm pull-right form-control bill-control',
                'placeholder' : 0
                }})}}
            </div>
            <div class="row form-group">
                {{form_label(form_begin.s050,'€0,50',{'attr':{                       
                'class' :' control-label',
                }})}}
                {{form_widget(form_begin.s050, {'attr':{                       
                'class' :'input-sm pull-right form-control bill-control',
                'placeholder' : 0
                }})}}  
            </div>
            <div class="row form-group">
                {{form_label(form_begin.s020,'€0,20',{'attr':{                       
                'class' :' control-label',
                }})}}
                {{form_widget(form_begin.s020 , {'attr':{                       
                'class' :'input-sm pull-right form-control bill-control',
                'placeholder' : 0
                }})}} 
            </div>
            <div class="row form-group">
                {{form_label(form_begin.s010,'€0,10',{'attr':{                       
                'class' :' control-label',
                }})}}
                {{form_widget(form_begin.s010 , {'attr':{                       
                'class' :'input-sm pull-right form-control bill-control',
                'placeholder' : 0
                }})}}
            </div>            
        </div>
        
       

    </section>

    <section class="z-group col-md-3 pull-left">  
        <div class="row form-group">
            {{form_label(form_begin.extra,'Extra float gebruikt?',{'attr':{                       
                    'class' :' control-label',
            }})}}
            {{form_widget(form_begin.extra , {'attr':{                       
                    'class' :'input-sm pull-right form-control bill-control check-begin-extra',
                    'placeholder' : 0
            }})}}
        </div>
         <div class="section-begin-extra" hidden="">
            <div class="row form-group">
                {{form_label(form_begin.e20,'€20',{'attr':{                       
                'class' :' control-label',
                }})}}
                {{form_widget(form_begin.e20 , {'attr':{                       
                'class' :'input-sm pull-right form-control bill-control',
                'placeholder' : 0
                }})}}
            </div>
            <div class="row form-group">
                {{form_label(form_begin.e10,'€10',{'attr':{                       
                'class' :' control-label',
                }})}}
                {{form_widget(form_begin.e10 , {'attr':{                       
                'class' :'input-sm pull-right form-control bill-control',
                'placeholder' : 0
                }})}}
            </div>
            <div class="row form-group">
                {{form_label(form_begin.e5,'€5',{'attr':{                       
                'class' :' control-label',
                }})}}
                {{form_widget(form_begin.e5 , {'attr':{                       
                'class' :'input-sm pull-right form-control bill-control',
                'placeholder' : 0
                }})}} 
            </div>           
            <div class="row form-group">
                {{form_label(form_begin.e2,'€2',{'attr':{                       
                'class' :' control-label',
                }})}}
                {{form_widget(form_begin.e2, {'attr':{                       
                'class' :'input-sm pull-right form-control bill-control',
                'placeholder' : 0
                }})}}
            </div>
            <div class="row form-group">
                {{form_label(form_begin.e1,'€1',{'attr':{                       
                'class' :' control-label',
                }})}}
                {{form_widget(form_begin.e1, {'attr':{                       
                'class' :'input-sm pull-right form-control bill-control',
                'placeholder' : 0
                }})}}
            </div>
            <div class="row form-group">
                {{form_label(form_begin.e050,'€0,50',{'attr':{                       
                'class' :' control-label',
                }})}}
                {{form_widget(form_begin.e050, {'attr':{                       
                'class' :'input-sm pull-right form-control bill-control',
                'placeholder' : 0
                }})}}  
            </div>
            <div class="row form-group">
                {{form_label(form_begin.e020,'€0,20',{'attr':{                       
                'class' :' control-label',
                }})}}
                {{form_widget(form_begin.e020 , {'attr':{                       
                'class' :'input-sm pull-right form-control bill-control',
                'placeholder' : 0
                }})}} 
            </div>
            <div class="row form-group">
                {{form_label(form_begin.e010,'€0,10',{'attr':{                       
                'class' :' control-label',
                }})}}
                {{form_widget(form_begin.e010 , {'attr':{                       
                'class' :'input-sm pull-right form-control bill-control',
                'placeholder' : 0
                }})}}
            </div>   
            
        </div> 
    </section>
            <div class="row col-md-12 col-md-offset-0">
            <div class=" row form-group totales col-md-6 col-md-offset-0">
                {{form_label(form_begin.total,'Totaal floats begin €',{'attr':{                       
                'class' :' control-label',
                }})}}
                {{form_widget(form_begin.total , {'attr':{                       
                'class' :'input-sm form-control pull-right ',
                'placeholder' : 0
                }})}}
            </div> 
            </div> 
    {{form_rest(form_begin)}}
    <!--</form>-->
</fieldset>
{%block javascript%}              
    <script>
        function updateFields() {
            var bb = (Number($('#manage_restaurantbundle_cashclosurebeginbill_e20').val()) * 20)
                    + (Number($('#manage_restaurantbundle_cashclosurebeginbill_e10').val()) * 10)
                    + (Number($('#manage_restaurantbundle_cashclosurebeginbill_e5').val()) * 5)
                    + (Number($('#manage_restaurantbundle_cashclosurebeginbill_e2').val()) * 2)
                    +  Number($('#manage_restaurantbundle_cashclosurebeginbill_e1').val())
                    + (Number($('#manage_restaurantbundle_cashclosurebeginbill_e050').val()) * 0.5)
                    + (Number($('#manage_restaurantbundle_cashclosurebeginbill_e020').val()) * 0.2)
                    + (Number($('#manage_restaurantbundle_cashclosurebeginbill_e010').val()) * 0.1)
                    + (Number($('#manage_restaurantbundle_cashclosurebeginbill_s20').val()) * 20)
                    + (Number($('#manage_restaurantbundle_cashclosurebeginbill_s10').val()) * 10)
                    + (Number($('#manage_restaurantbundle_cashclosurebeginbill_s5').val()) * 5)
                    + (Number($('#manage_restaurantbundle_cashclosurebeginbill_s2').val()) * 2)
                    +  Number($('#manage_restaurantbundle_cashclosurebeginbill_s1').val())
                    + (Number($('#manage_restaurantbundle_cashclosurebeginbill_s050').val()) * 0.5)
                    + (Number($('#manage_restaurantbundle_cashclosurebeginbill_s020').val()) * 0.2)
                    + (Number($('#manage_restaurantbundle_cashclosurebeginbill_s010').val()) * 0.1);
            $('#manage_restaurantbundle_cashclosurebeginbill_total').val(bb);
        }
        $('#data-begin').ready(function() {
            updateFields();
            if ($('#manage_restaurantbundle_cashclosurebeginbill_standard').is(':checked')) 
                $('.section-begin-standard').show();
            if ($('#manage_restaurantbundle_cashclosurebeginbill_extra').is(':checked')) 
                $('.section-begin-extra').show();
        });

        $('#data-begin').on('keyup', 'input.bill-control', function() {
            updateFields();
        });
        $('#data-begin').on('click', '.check-begin-standard', function() {
            if ($('#manage_restaurantbundle_cashclosurebeginbill_standard').is(':checked')) 
                $('.section-begin-standard').show();
            else $('.section-begin-standard').hide();
        })
        $('#data-begin').on('click', '.check-begin-extra', function() {
            if ($('#manage_restaurantbundle_cashclosurebeginbill_extra').is(':checked')) 
                $('.section-begin-extra').show();            
            else $('.section-begin-extra').hide();
        })


    </script>
{% endblock %}
