{% extends '::base.html.twig' %}

{% block body -%}
    <h1>CashClosureBeginBill</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>E20</th>
                <td>{{ entity.e20 }}</td>
            </tr>
            <tr>
                <th>E10</th>
                <td>{{ entity.e10 }}</td>
            </tr>
            <tr>
                <th>E5</th>
                <td>{{ entity.e5 }}</td>
            </tr>
            <tr>
                <th>E2</th>
                <td>{{ entity.e2 }}</td>
            </tr>
            <tr>
                <th>E1</th>
                <td>{{ entity.e1 }}</td>
            </tr>
            <tr>
                <th>E050</th>
                <td>{{ entity.e050 }}</td>
            </tr>
            <tr>
                <th>E020</th>
                <td>{{ entity.e020 }}</td>
            </tr>
            <tr>
                <th>E010</th>
                <td>{{ entity.e010 }}</td>
            </tr>
            <tr>
                <th>S20</th>
                <td>{{ entity.s20 }}</td>
            </tr>
            <tr>
                <th>S10</th>
                <td>{{ entity.s10 }}</td>
            </tr>
            <tr>
                <th>S5</th>
                <td>{{ entity.s5 }}</td>
            </tr>
            <tr>
                <th>S2</th>
                <td>{{ entity.s2 }}</td>
            </tr>
            <tr>
                <th>S1</th>
                <td>{{ entity.s1 }}</td>
            </tr>
            <tr>
                <th>S050</th>
                <td>{{ entity.s050 }}</td>
            </tr>
            <tr>
                <th>S020</th>
                <td>{{ entity.s020 }}</td>
            </tr>
            <tr>
                <th>S010</th>
                <td>{{ entity.s010 }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ entity.total }}</td>
            </tr>
            <tr>
                <th>Extra</th>
                <td>{{ entity.extra }}</td>
            </tr>
            <tr>
                <th>Standard</th>
                <td>{{ entity.standard }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('cashclosurebeginbill') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('cashclosurebeginbill_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
