{% if hotel1 | length > 0 %}
    <div id="kasboekhotel_forms">
        <table class="table-labels-forms table table-condensed">
            <thead>
            <tr>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Overnachtingen €</td>
            </tr>
            <tr>
                <td>Parking €</td>
            </tr>
            <tr>
                <td>Toeristenbelasting €</td>
            </tr>
            <tr>
                <td>Borg €</td>
            </tr>
            <tr>
                <td>Long Stay €</td>
            </tr>
            <tr>
                <td style="font-weight: bold">Totaal ontvangsten €</td>
            </tr>
            <tr>
                <td>Contanten €</td>
            </tr>
            <tr>
                <td>PIN/Maestro €</td>
            </tr>
            <tr>
                <td>Credit Cards €</td>
            </tr>
            <tr>
                <td style="font-weight: bold">Totaal naar Kas €</td>
            </tr>
            <tr>
                <td style="font-weight: bold">Kasverschil €</td>
            </tr>

            </tbody>
        </table>
        {% set ctrol = 1 %}
        {% for item in hotel1 %}
            {% if item != null %}

                <table class="table-values-forms table table-condensed">

                    <thead>
                    <tr>
                        <th>{{ item.dated | date ('d-M') }}</th>
                        {% set day = item.dated | date('j') %}
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ (item.totalover + item.totalextra ) | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ item.totalparking | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ item.totaltoer | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ item.saldoborg | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ item.longstay | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm negrita"
                                   value="{{ (item.totalover + item.totaltoer + item.totalextra + item.totalparking + item.saldoborg + item.longstay)  | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"`
                                   value="{{ item.totalcontanten | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ item.totaldebit | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ item.totalcredit| number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ (item.totalcontanten+ item.totaldebit + item.totalcredit) | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        {% set kas = (((item.totalcontanten+ item.totaldebit + item.totalcredit) -  (item.totalover + item.totaltoer + item.totalextra + item.totalparking + item.saldoborg + item.longstay) + item.totalvoldan ))  %}

                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{% if kas |number_format(2, ',', '.') != '-0,00' %} {{ kas |number_format(2, ',', '.')  }} {% else %} {{ '0,00' }} {% endif %}">
                        </td>
                    </tr>
                    </tbody>
                </table>

            {% else %}
                <table class="table-values-forms table table-condensed">

                    <thead>
                    <tr>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                            >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    </tbody>
                </table>
            {% endif %}
            {% set ctrol = ctrol + 1 %}
        {% endfor %}

    </div>
{% endif %}
<br/>
<br/>

{% if hotel2 | length > 0 %}
    <div id="kasboekhotel_forms">
        <table class="table-labels-forms table table-condensed">
            <thead>
            <tr>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Overnachtingen €</td>
            </tr>
            <tr>
                <td>Parking €</td>
            </tr>
            <tr>
                <td>Toeristenbelasting €</td>
            </tr>
            <tr>
                <td>Borg €</td>
            </tr>
            <tr>
                <td>Long Stay €</td>
            </tr>
            <tr>
                <td style="font-weight: bold">Totaal ontvangsten €</td>
            </tr>
            <tr>
                <td>Contanten €</td>
            </tr>
            <tr>
                <td>PIN/Maestro €</td>
            </tr>
            <tr>
                <td>Credit Cards €</td>
            </tr>
            <tr>
                <td style="font-weight: bold">Totaal naar Kas €</td>
            </tr>
            <tr>
                <td style="font-weight: bold">Kasverschil €</td>
            </tr>

            </tbody>
        </table>
        {% set ctrol = 1 %}
        {% for item in hotel2 %}
            {% if item != null %}

                <table class="table-values-forms table table-condensed">

                    <thead>
                    <tr>
                        <th>{{ item.dated | date ('d-M') }}</th>
                        {% set day = item.dated | date('j') %}
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ (item.totalover + item.totalextra ) | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ item.totalparking | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ item.totaltoer | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ item.saldoborg | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ item.longstay | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm negrita"
                                   value="{{ (item.totalover + item.totaltoer + item.totalextra + item.totalparking + item.saldoborg + item.longstay) | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ item.totalcontanten | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ item.totaldebit | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ item.totalcredit| number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ (item.totalcontanten+ item.totaldebit + item.totalcredit) | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        {% set kas = (((item.totalcontanten+ item.totaldebit + item.totalcredit) -  (item.totalover + item.totaltoer + item.totalextra + item.totalparking + item.saldoborg + item.longstay) + item.totalvoldan ))  %}

                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{% if kas |number_format(2, ',', '.') != '-0,00' %} {{ kas |number_format(2, ',', '.')  }} {% else %} {{ '0,00' }} {% endif %}">
                        </td>
                    </tr>
                    </tbody>
                </table>

            {% else %}
                <table class="table-values-forms table table-condensed">

                    <thead>
                    <tr>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                            >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    </tbody>
                </table>
            {% endif %}
            {% set ctrol = ctrol + 1 %}
        {% endfor %}

    </div>
{% endif %}
<br/>
<br/>

{% if hotel3 | length > 0 %}
    <div id="kasboekhotel_forms">
        <table class="table-labels-forms table table-condensed">
            <thead>
            <tr>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Overnachtingen €</td>
            </tr>
            <tr>
                <td>Parking €</td>
            </tr>
            <tr>
                <td>Toeristenbelasting €</td>
            </tr>
            <tr>
                <td>Borg €</td>
            </tr>
            <tr>
                <td>Long Stay €</td>
            </tr>
            <tr>
                <td style="font-weight: bold">Totaal ontvangsten €</td>
            </tr>
            <tr>
                <td>Contanten €</td>
            </tr>
            <tr>
                <td>PIN/Maestro €</td>
            </tr>
            <tr>
                <td>Credit Cards €</td>
            </tr>
            <tr>
                <td style="font-weight: bold">Totaal naar Kas €</td>
            </tr>
            <tr>
                <td style="font-weight: bold">Kasverschil €</td>
            </tr>

            </tbody>
        </table>
        {% set ctrol = 1 %}
        {% for item in hotel3 %}
            {% if item != null %}

                <table class="table-values-forms table table-condensed">

                    <thead>
                    <tr>
                        <th>{{ item.dated | date ('d-M') }}</th>
                        {% set day = item.dated | date('j') %}
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ (item.totalover + item.totalextra ) | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ item.totalparking | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ item.totaltoer | number_format(2, ',', '.') }}">
                        </td>
                    </tr>

                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ item.saldoborg | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ item.longstay | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm negrita"
                                   value="{{ (item.totalover + item.totaltoer + item.totalextra + item.totalparking + item.saldoborg + item.longstay) | number_format(2, ',', '.') }}">
                        </td>
                    </tr>

                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ item.totalcontanten | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ item.totaldebit | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ item.totalcredit| number_format(2, ',', '.') }}">
                        </td>
                    </tr>

                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ (item.totalcontanten+ item.totaldebit + item.totalcredit) | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        {% set kas = (((item.totalcontanten+ item.totaldebit + item.totalcredit) -  (item.totalover + item.totaltoer + item.totalextra + item.totalparking + item.saldoborg + item.longstay) + item.totalvoldan ))  %}

                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{% if kas |number_format(2, ',', '.') != '-0,00' %} {{ kas |number_format(2, ',', '.')  }} {% else %} {{ '0,00' }} {% endif %}">
                        </td>
                    </tr>
                    </tbody>
                </table>

            {% else %}
                <table class="table-values-forms table table-condensed">

                    <thead>
                    <tr>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                            >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                     <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    
                    </tbody>
                </table>
            {% endif %}
            {% set ctrol = ctrol + 1 %}
        {% endfor %}

    </div>
{% endif %}
<br/>
<br/>

{% if hotel4 | length > 0 %}
    <div id="kasboekhotel_forms">
        <table class="table-labels-forms table table-condensed">
            <thead>
            <tr>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Overnachtingen €</td>
            </tr>
            <tr>
                <td>Parking €</td>
            </tr>
            <tr>
                <td>Toeristenbelasting €</td>
            </tr>
            <tr>
                <td>Borg €</td>
            </tr>

            <tr>
                <td>Long Stay €</td>
            </tr>
            <tr>
                <td style="font-weight: bold">Totaal ontvangsten €</td>
            </tr>
            <tr>
                <td>Contanten €</td>
            </tr>
            <tr>
                <td>PIN/Maestro €</td>
            </tr>
            <tr>
                <td>Credit Cards €</td>
            </tr>
            <tr>
                <td style="font-weight: bold">Totaal naar Kas €</td>
            </tr>
            <tr>
                <td style="font-weight: bold">Kasverschil €</td>
            </tr>

            </tbody>
        </table>
        {% set ctrol = 1 %}
        {% for item in hotel4 %}
            {% if item != null %}

                <table class="table-values-forms table table-condensed">

                    <thead>
                    <tr>
                        <th>{{ item.dated | date ('d-M') }}</th>
                        {% set day = item.dated | date('j') %}
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ (item.totalover + item.totalextra ) | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ item.totalparking | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ item.totaltoer | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ item.saldoborg | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ item.longstay | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm negrita"
                                   value="{{ (item.totalover + item.totaltoer + item.totalextra + item.totalparking + item.saldoborg + item.longstay) | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ item.totalcontanten | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ item.totaldebit | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ item.totalcredit| number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ (item.totalcontanten+ item.totaldebit + item.totalcredit) | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        {% set kas = (((item.totalcontanten+ item.totaldebit + item.totalcredit) -  (item.totalover + item.totaltoer + item.totalextra + item.totalparking + item.saldoborg + item.longstay) + item.totalvoldan ))  %}

                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{% if kas |number_format(2, ',', '.') != '-0,00' %} {{ kas |number_format(2, ',', '.')  }} {% else %} {{ '0,00' }} {% endif %}">
                        </td>
                    </tr>
                    </tbody>
                </table>

            {% else %}
                <table class="table-values-forms table table-condensed">

                    <thead>
                    <tr>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                            >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    </tbody>
                </table>
            {% endif %}
            {% set ctrol = ctrol + 1 %}
        {% endfor %}

    </div>
{% endif %}
<br/>
<br/>

{% if hotel5 | length > 0 %}
    <div id="kasboekhotel_forms">
        <table class="table-labels-forms table table-condensed">
            <thead>
            <tr>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Overnachtingen €</td>
            </tr>
            <tr>
                <td>Parking €</td>
            </tr>
            <tr>
                <td>Toeristenbelasting €</td>
            </tr>
            <tr>
                <td>Borg €</td>
            </tr>
            <tr>
                <td>Long Stay €</td>
            </tr>
            <tr>
                <td style="font-weight: bold">Totaal ontvangsten €</td>
            </tr>
            <tr>
                <td>Contanten €</td>
            </tr>
            <tr>
                <td>PIN/Maestro €</td>
            </tr>
            <tr>
                <td>Credit Cards €</td>
            </tr>
            <tr>
                <td style="font-weight: bold">Totaal naar Kas €</td>
            </tr>
            <tr>
                <td style="font-weight: bold">Kasverschil €</td>
            </tr>

            </tbody>
        </table>
        {% set ctrol = 1 %}
        {% for item in hotel5 %}
            {% if item != null %}

                <table class="table-values-forms table table-condensed">

                    <thead>
                    <tr>
                        <th>{{ item.dated | date ('d-M') }}</th>
                        {% set day = item.dated | date('j') %}
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ (item.totalover + item.totalextra - item.totalvoldan ) | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ item.totalparking | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ item.totaltoer | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ item.saldoborg | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ item.longstay | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm negrita"
                                   value="{{ (item.totalover + item.totaltoer + item.totalextra + item.totalparking + item.saldoborg + item.longstay) | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ item.totalcontanten | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ item.totaldebit | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ item.totalcredit| number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{{ (item.totalcontanten+ item.totaldebit + item.totalcredit) | number_format(2, ',', '.') }}">
                        </td>
                    </tr>
                    <tr>
                        {% set kas = (((item.totalcontanten+ item.totaldebit + item.totalcredit) -  (item.totalover + item.totaltoer + item.totalextra + item.totalparking + item.saldoborg + item.longstay) + item.totalvoldan ))  %}

                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   value="{% if kas |number_format(2, ',', '.') != '-0,00' %} {{ kas |number_format(2, ',', '.')  }} {% else %} {{ '0,00' }} {% endif %}">
                        </td>
                    </tr>
                    </tbody>
                </table>

            {% else %}
                <table class="table-values-forms table table-condensed">

                    <thead>
                    <tr>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    <tr>
                        <td><input disabled="disabled" tabindex="-1"
                                   class=" form-control  input-sm"
                                   >
                        </td>
                    </tr>
                    </tbody>
                </table>
            {% endif %}
            {% set ctrol = ctrol + 1 %}
        {% endfor %}

    </div>
{% endif %}
<br/>
<br/>

{#<script>
    $('#kasboek_turnovers input').on({
        'keyup':function(){
            switch ($(this).attr('name')){
                case 'cash':
                    var total = 0;
                    $('.cash').each(function(index, item){
                        total += numeral($(item).val()).value()
                    })
                    $('#kasboek_out_cash').val(numeral(total).format('0.0,'))
                    break;
                case 'inkoopfood':
                    var total = 0;
                    $('.inkoopfood').each(function(index, item){
                        total += numeral($(item).val()).value()
                    })
                    $('#kasboek_out_inkoopfood').val(numeral(total).format('0.0,'))
                    ex = total/1.06
                    $('#kasboek_out_exinkoopfood').val(numeral(ex).format('0.0,'))
                    $('#kasboek_out_btwinkoopfood').val(numeral(total - ex).format('0.0,'))
                    break;
                case 'bedrijfskleding':
                    var total = 0;
                    $('.bedrijfskleding').each(function(index, item){
                        total += numeral($(item).val()).value()
                    })
                    $('#kasboek_out_bedrijfskleding').val(numeral(total).format('0.0,'))
                    ex = total/1.06
                    $('#kasboek_out_exbedrijfskleding').val(numeral(ex).format('0.0,'))
                    $('#kasboek_out_btwbedrijfskleding').val(numeral(total - ex).format('0.0,'))
                    break;
                case 'kleineinv':
                    var total = 0;
                    $('.kleineinv').each(function(index, item){
                        total += numeral($(item).val()).value()
                    })
                    $('#kasboek_out_kleineinv').val(numeral(total).format('0.0,'))
                    ex = total/1.06
                    $('#kasboek_out_exkleineinv').val(numeral(ex).format('0.0,'))
                    $('#kasboek_out_btwkleineinv').val(numeral(total - ex).format('0.0,'))
                    break;
                case 'was':
                    var total = 0;
                    $('.was').each(function(index, item){
                        total += numeral($(item).val()).value()
                    })
                    $('#kasboek_out_was').val(numeral(total).format('0.0,'))
                    ex = total/1.06
                    $('#kasboek_out_exwas').val(numeral(ex).format('0.0,'))
                    $('#kasboek_out_btwwas').val(numeral(total - ex).format('0.0,'))
                    break;
                case 'bankkosten':
                    var total = 0;
                    $('.bankkosten').each(function(index, item){
                        total += numeral($(item).val()).value()
                    })
                    $('#kasboek_out_bankkosten').val(numeral(total).format('0.0,'))
                    break;
                case 'entertainment':
                    var total = 0;
                    $('.entertainment').each(function(index, item){
                        total += numeral($(item).val()).value()
                    })
                    $('#kasboek_out_entertainment').val(numeral(total).format('0.0,'))
                    ex = total/1.06
                    $('#kasboek_out_exentertainment').val(numeral(ex).format('0.0,'))
                    $('#kasboek_out_btwentertainment').val(numeral(total - ex).format('0.0,'))
                    break;
                case 'diversekosten':
                    var total = 0;
                    $('.diversekosten').each(function(index, item){
                        total += numeral($(item).val()).value()
                    })
                    $('#kasboek_out_diversekosten').val(numeral(total).format('0.0,'))
                     ex = total/1.06
                    $('#kasboek_out_exdiversekosten').val(numeral(ex).format('0.0,'))
                    $('#kasboek_out_btwdiversekosten').val(numeral(total - ex).format('0.0,'))
                    break;
            }
            totalout()
            totaloutex()
            totaloutbtw()
            totalinkas()

        }
    })
</script>#}