<fieldset id="kasboek_contanten">
    <div class="col-md-6">
        <table class="table table-condensed">
            <thead>
            <tr>
                <th colspan="6">Contanten</th>
            </tr>
            <tr>
                <th></th>
                <th>Los</th>
                <th>Rol</th>
                <th>Waarde</th>
                <th colspan="2">Bedrag</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>€ 0,01</td>
                <td>{{ form_widget(form_los.e001, {'attr':{ 'class' :'input-sm  form-control entero contanten'}}) }}</td>
                <td>{{ form_widget(form_rol.e001, {'attr':{ 'class' :'input-sm  form-control entero contanten'}}) }}</td>
                <td>{{ form_widget(form_waarde.e001, {'attr':{ 'class' :'input-sm  form-control real contanten'}}) }}</td>
                <td>€</td>
                <td>{{ form_widget(form_bedrag.e001, {'attr':{ 'class' :'input-sm  form-control real contanten_bedrag'}}) }}</td>
            </tr>
            <tr>
                <td>€ 0,02</td>
                <td>{{ form_widget(form_los.e002, {'attr':{ 'class' :'input-sm  form-control entero contanten'}}) }}</td>
                <td>{{ form_widget(form_rol.e002, {'attr':{ 'class' :'input-sm  form-control entero contanten'}}) }}</td>
                <td>{{ form_widget(form_waarde.e002, {'attr':{ 'class' :'input-sm  form-control real contanten'}}) }}</td>
                <td>€</td>
                <td>{{ form_widget(form_bedrag.e002, {'attr':{ 'class' :'input-sm  form-control real contanten_bedrag'}}) }}</td>
            </tr>
            <tr>
                <td>€ 0,05</td>
                <td>{{ form_widget(form_los.e005, {'attr':{ 'class' :'input-sm  form-control entero contanten'}}) }}</td>
                <td>{{ form_widget(form_rol.e005, {'attr':{ 'class' :'input-sm  form-control entero contanten'}}) }}</td>
                <td>{{ form_widget(form_waarde.e005, {'attr':{ 'class' :'input-sm  form-control real contanten'}}) }}</td>
                <td>€</td>
                <td>{{ form_widget(form_bedrag.e005, {'attr':{ 'class' :'input-sm form-control real contanten_bedrag'}}) }}</td>
            </tr>
            <tr>
                <td>€ 0,10</td>
                <td>{{ form_widget(form_los.e010, {'attr':{ 'class' :'input-sm  form-control entero contanten'}}) }}</td>
                <td>{{ form_widget(form_rol.e010, {'attr':{ 'class' :'input-sm  form-control entero contanten'}}) }}</td>
                <td>{{ form_widget(form_waarde.e010, {'attr':{ 'class' :'input-sm  form-control real contanten'}}) }}</td>
                <td>€</td>
                <td>{{ form_widget(form_bedrag.e010, {'attr':{ 'class' :'input-sm form-control real contanten_bedrag'}}) }}</td>
            </tr>
            <tr>
                <td>€ 0,20</td>
                <td>{{ form_widget(form_los.e020, {'attr':{ 'class' :'input-sm  form-control entero contanten'}}) }}</td>
                <td>{{ form_widget(form_rol.e020, {'attr':{ 'class' :'input-sm  form-control entero contanten'}}) }}</td>
                <td>{{ form_widget(form_waarde.e020, {'attr':{ 'class' :'input-sm  form-control real contanten'}}) }}</td>
                <td>€</td>
                <td>{{ form_widget(form_bedrag.e020, {'attr':{ 'class' :'input-sm form-control real contanten_bedrag'}}) }}</td>
            </tr>
            <tr>
                <td>€ 0,50</td>
                <td>{{ form_widget(form_los.e050, {'attr':{ 'class' :'input-sm  form-control entero contanten'}}) }}</td>
                <td>{{ form_widget(form_rol.e050, {'attr':{ 'class' :'input-sm  form-control entero contanten'}}) }}</td>
                <td>{{ form_widget(form_waarde.e050, {'attr':{ 'class' :'input-sm  form-control real contanten'}}) }}</td>
                <td>€</td>
                <td>{{ form_widget(form_bedrag.e050, {'attr':{ 'class' :'input-sm form-control real contanten_bedrag'}}) }}</td>
            </tr>
            <tr>
                <td>€ 1</td>
                <td>{{ form_widget(form_los.e1, {'attr':{ 'class' :'input-sm  form-control entero contanten'}}) }}</td>
                <td>{{ form_widget(form_rol.e1, {'attr':{ 'class' :'input-sm  form-control entero contanten'}}) }}</td>
                <td>{{ form_widget(form_waarde.e1, {'attr':{ 'class' :'input-sm  form-control real contanten'}}) }}</td>
                <td>€</td>
                <td>{{ form_widget(form_bedrag.e1, {'attr':{ 'class' :'input-sm form-control real contanten_bedrag'}}) }}</td>
            </tr>
            <tr>
                <td>€ 2</td>
                <td>{{ form_widget(form_los.e2, {'attr':{ 'class' :'input-sm  form-control entero contanten'}}) }}</td>
                <td>{{ form_widget(form_rol.e2, {'attr':{ 'class' :'input-sm  form-control entero contanten'}}) }}</td>
                <td>{{ form_widget(form_waarde.e2, {'attr':{ 'class' :'input-sm  form-control real contanten'}}) }}</td>
                <td>€</td>
                <td>{{ form_widget(form_bedrag.e2, {'attr':{ 'class' :'input-sm form-control real contanten_bedrag'}}) }}</td>
            </tr>
            <tr>
                <td>€ 5</td>
                <td>{{ form_widget(form_los.e5, {'attr':{ 'class' :'input-sm  form-control entero  contanten'}}) }}</td>
                <td></td>
                <td>{{ form_widget(form_waarde.e5, {'attr':{ 'class' :'input-sm  form-control real contanten'}}) }}</td>
                <td>€</td>
                <td>{{ form_widget(form_bedrag.e5, {'attr':{ 'class' :'input-sm form-control real contanten_bedrag'}}) }}</td>
            </tr>
            <tr>
                <td>€ 10</td>
                <td>{{ form_widget(form_los.e10, {'attr':{ 'class' :'input-sm  form-control entero contanten'}}) }}</td>
                <td></td>
                <td>{{ form_widget(form_waarde.e10, {'attr':{ 'class' :'input-sm  form-control real contanten'}}) }}</td>
                <td>€</td>
                <td>{{ form_widget(form_bedrag.e10, {'attr':{ 'class' :'input-sm form-control real contanten_bedrag'}}) }}</td>
            </tr>
            <tr>
                <td>€ 20</td>
                <td>{{ form_widget(form_los.e20, {'attr':{ 'class' :'input-sm  form-control entero contanten'}}) }}</td>
                <td></td>
                <td>{{ form_widget(form_waarde.e20, {'attr':{ 'class' :'input-sm  form-control real contanten'}}) }}</td>
                <td>€</td>
                <td>{{ form_widget(form_bedrag.e20, {'attr':{ 'class' :'input-sm form-control real contanten_bedrag'}}) }}</td>
            </tr>
            <tr>
                <td>€ 50</td>
                <td>{{ form_widget(form_los.e50, {'attr':{ 'class' :'input-sm  form-control entero contanten'}}) }}</td>
                <td></td>
                <td>{{ form_widget(form_waarde.e50, {'attr':{ 'class' :'input-sm  form-control real contanten'}}) }}</td>
                <td>€</td>
                <td>{{ form_widget(form_bedrag.e50, {'attr':{ 'class' :'input-sm form-control real contanten_bedrag'}}) }}</td>
            </tr>
            <tr>
                <td>€ 100</td>
                <td>{{ form_widget(form_los.e100, {'attr':{ 'class' :'input-sm  form-control entero contanten'}}) }}</td>
                <td></td>
                <td>{{ form_widget(form_waarde.e100, {'attr':{ 'class' :'input-sm  form-control real contanten'}}) }}</td>
                <td>€</td>
                <td>{{ form_widget(form_bedrag.e100, {'attr':{ 'class' :'input-sm form-control real contanten_bedrag'}}) }}</td>
            </tr>
            <tr>
                <td>€ 200</td>
                <td>{{ form_widget(form_los.e200, {'attr':{ 'class' :'input-sm  form-control entero contanten'}}) }}</td>
                <td></td>
                <td>{{ form_widget(form_waarde.e200, {'attr':{ 'class' :'input-sm  form-control real contanten'}}) }}</td>
                <td>€</td>
                <td>{{ form_widget(form_bedrag.e200, {'attr':{ 'class' :'input-sm form-control real contanten_bedrag'}}) }}</td>
            </tr>
            <tr>
                <td>€ 500</td>
                <td>{{ form_widget(form_los.e500, {'attr':{ 'class' :'input-sm  form-control entero contanten'}}) }}</td>
                <td></td>
                <td>{{ form_widget(form_waarde.e500, {'attr':{ 'class' :'input-sm  form-control real contanten'}}) }}</td>
                <td>€</td>
                <td>{{ form_widget(form_bedrag.e500, {'attr':{ 'class' :'input-sm form-control real contanten_bedrag'}}) }}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="5">Totaal €</th>
                <th>{{ form_widget(form_bedrag.total, {'attr':{ 'class' :'input-sm form-control real '}}) }}</th>
            </tr>
            </tfoot>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table table-condensed">
            <thead>
            <tr>
                <th colspan="5">Floats</th>
            </tr>
            <tr>
                <th></th>
                <th>Waarde</th>
                <th>Aantal</th>
                <th colspan="2">Bedrag</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Standaard</td>
                <td>{{ form_widget(form_floats.wstandar, {'attr':{ 'class' :'input-sm form-control real standaard'}}) }}</td>
                <td>{{ form_widget(form_floats.astandar, {'attr':{ 'class' :'input-sm form-control entero standaard'}}) }}</td>
                <td>€</td>
                <td>{{ form_widget(form_floats.bstandar, {'attr':{ 'class' :'input-sm form-control real float_standaard'}}) }}</td>
            </tr>
            <tr>
                <td>Extra 1</td>
                <td>{{ form_widget(form_floats.wextra1, {'attr':{ 'class' :'input-sm form-control real standaard'}}) }}</td>
                <td>{{ form_widget(form_floats.aextra1, {'attr':{ 'class' :'input-sm form-control entero standaard'}}) }}</td>
                <td>€</td>
                <td>{{ form_widget(form_floats.bextra1, {'attr':{ 'class' :'input-sm form-control real float_standaard'}}) }}</td>
            </tr>
            <tr>
                <td>Extra 2</td>
                <td>{{ form_widget(form_floats.wextra2, {'attr':{ 'class' :'input-sm form-control real standaard'}}) }}</td>
                <td>{{ form_widget(form_floats.aextra2, {'attr':{ 'class' :'input-sm form-control entero standaard'}}) }}</td>
                <td>€</td>
                <td>{{ form_widget(form_floats.bextra2, {'attr':{ 'class' :'input-sm form-control real float_standaard'}}) }}</td>
            </tr>
            <tr>
                <td>Extra 3</td>
                <td>{{ form_widget(form_floats.wextra3, {'attr':{ 'class' :'input-sm form-control real standaard'}}) }}</td>
                <td>{{ form_widget(form_floats.aextra3, {'attr':{ 'class' :'input-sm form-control entero standaard'}}) }}</td>
                <td>€</td>
                <td>{{ form_widget(form_floats.bextra3, {'attr':{ 'class' :'input-sm form-control real float_standaard'}}) }}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="4">Totaal €</th>
                <th>{{ form_widget(form_floats.total, {'attr':{ 'class' :'input-sm form-control real'}}) }}</th>
            </tr>
            </tfoot>

        </table>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th colspan="5">Salarissen</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Salarissen 1</td>
                <td>{{ form_widget(form_salarissen.name1, {'attr':{ 'class' :'input-sm form-control texto'}}) }}</td>
                <td>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                    &nbsp; </td>
                <td>€</td>
                <td>{{ form_widget(form_salarissen.bedrag1, {'attr':{ 'class' :'input-sm form-control real salarissen'}}) }}</td>
            </tr>
            <tr>
                <td>Salarissen 2</td>
                <td>{{ form_widget(form_salarissen.name2, {'attr':{ 'class' :'input-sm form-control texto'}}) }}</td>
                <td>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                    &nbsp; </td>
                <td>€</td>
                <td>{{ form_widget(form_salarissen.bedrag2, {'attr':{ 'class' :'input-sm form-control real salarissen'}}) }}</td>
            </tr>
            <tr>
                <td>Salarissen 3</td>
                <td>{{ form_widget(form_salarissen.name3, {'attr':{ 'class' :'input-sm form-control texto'}}) }}</td>
                <td>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                    &nbsp; </td>
                <td>€</td>
                <td>{{ form_widget(form_salarissen.bedrag3, {'attr':{ 'class' :'input-sm form-control real salarissen'}}) }}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="4">Totaal €</th>
                <th>{{ form_widget(form_salarissen.total, {'attr':{ 'class' :'input-sm form-control real'}}) }}</th>
            </tr>
            </tfoot>
        </table>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th colspan="5">Kas & Vouchers</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Kas & Vouchers 1</td>
                <td>{{ form_widget(form_kas.name1, {'attr':{ 'class' :'input-sm form-control texto'}}) }}</td>
                <td>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp; </td>
                <td>€</td>
                <td>{{ form_widget(form_kas.bedrag1, {'attr':{ 'class' :'input-sm form-control real kasvouchers'}}) }}</td>
            </tr>
            <tr>
                <td>Kas & Vouchers 2</td>
                <td>{{ form_widget(form_kas.name2, {'attr':{ 'class' :'input-sm form-control texto'}}) }}</td>
                <td>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp; </td>
                <td>€</td>
                <td>{{ form_widget(form_kas.bedrag2, {'attr':{ 'class' :'input-sm form-control real kasvouchers'}}) }}</td>
            </tr>
            <tr>
                <td>Kas & Vouchers 3</td>
                <td>{{ form_widget(form_kas.name3, {'attr':{ 'class' :'input-sm form-control texto'}}) }}</td>
                <td>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp; </td>
                <td>€</td>
                <td>{{ form_widget(form_kas.bedrag3, {'attr':{ 'class' :'input-sm form-control real kasvouchers'}}) }}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="4">Totaal €</th>
                <th>{{ form_widget(form_kas.total, {'attr':{ 'class' :'input-sm form-control real'}}) }}</th>
            </tr>
            <tr>
                <th colspan="4" style="border: none;">Totaal €</th>
                <th style="border: none;">{{ form_widget(form_basic.totalsalarissenkas, {'attr':{ 'class' :'input-sm form-control real'}}) }}</th>
            </tr>
            </tfoot>
        </table>
    </div>
</fieldset>

<script>


    $('.contanten').on({
        'keyup':function(){
            item = $(this)
            type = item.attr('id').split('_')
            value = 0;
            content = 0;
            id = type[type.length-1]
            switch(id){
                case 'e001':
                    value = 0.01
                    content = 0.50
                    break;
                case 'e002':
                    value = 0.02
                    content = 1
                    break;
                case 'e005':
                    value = 0.05
                    content = 2.50
                    break;
                case 'e010':
                    value = 0.10
                    content = 4
                    break;
                case 'e020':
                    value = 0.20
                    content = 8
                    break;
                case 'e050':
                    value = 0.50
                    content = 20
                    break;
                case 'e1':
                    value = 1
                    content = 25
                    break;
                case 'e2':
                    value = 2
                    content = 50
                    break;
                case 'e5':
                    value = 5
                    content = 0
                    break;
                case 'e10':
                    value = 10
                    content = 0
                    break;
                case 'e20':
                    value = 20
                    content = 0
                    break;
                case 'e50':
                    value = 50
                    content = 0
                    break;
                case 'e100':
                    value = 100
                    content = 0
                    break;
                case 'e100':
                    value = 100
                    content = 0
                    break;
                case 'e200':
                    value = 200
                    content = 0
                    break;
                case 'e500':
                    value = 500
                    content = 0
                    break;
            }
            //alert (value + '---'+ content)
            los = numeral($('#kasboek_contanten_los_'+id).val()).value() * value
            rol = (content == 0 ? 0 : numeral($('#kasboek_contanten_rol_'+id).val()).value() * content)
            waarde = numeral($('#kasboek_contanten_waarde_'+id).val()).value()
           // alert (los + ' --- '+ rol + ' --- '+ waarde)
            total = los + rol + waarde
            $('#kasboek_contanten_bedrag_'+id).val(numeral(total).format('0.0,'))
            total = 0
            $('.contanten_bedrag').each(function(){
                total += numeral($(this).val()).value()
            })
            $('#kasboek_contanten_bedrag_total').val(numeral(total).format('0.0,'))
            totalinkas();
        }
    })

    $('.standaard').on({
        'keyup':function(){
            if ($(this).attr('id') == 'kasboek_floats_wstandar' || $(this).attr('id') == 'kasboek_floats_astandar' ){
                w = numeral($('#kasboek_floats_wstandar').val()).value()
                a = numeral($('#kasboek_floats_astandar').val()).value()
                $('#kasboek_floats_bstandar').val(numeral(a*w).format('0.0,'))
            }
            if ($(this).attr('id') == 'kasboek_floats_wextra1' || $(this).attr('id') == 'kasboek_floats_aextra1' ){
                w = numeral($('#kasboek_floats_wextra1').val()).value()
                a = numeral($('#kasboek_floats_aextra1').val()).value()
                $('#kasboek_floats_bextra1').val(numeral(a*w).format('0.0,'))
            }
            if ($(this).attr('id') == 'kasboek_floats_wextra2' || $(this).attr('id') == 'kasboek_floats_aextra2' ){
                w = numeral($('#kasboek_floats_wextra2').val()).value()
                a = numeral($('#kasboek_floats_aextra2').val()).value()
                $('#kasboek_floats_bextra2').val(numeral(a*w).format('0.0,'))
            }
            if ($(this).attr('id') == 'kasboek_floats_wextra3' || $(this).attr('id') == 'kasboek_floats_aextra3' ){
                w = numeral($('#kasboek_floats_wextra3').val()).value()
                a = numeral($('#kasboek_floats_aextra3').val()).value()
                $('#kasboek_floats_bextra3').val(numeral(a*w).format('0.0,'))
            }
            total = 0
            $('.float_standaard').each(function(){
                total += numeral($(this).val()).value()
            })
            $('#kasboek_floats_total').val(numeral(total).format('0.0,'))
            totalsalarissenkas()
        }
    })

    $('.salarissen').on({
        'keyup':function () {
            total = 0
            $('.salarissen').each(function(){
                total += numeral($(this).val()).value()
            })
            $('#kasboek_salarissen_total').val(numeral(total).format('0.0,'))
            totalsalarissenkas()
        }
    })

    $('.kasvouchers').on({
        'keyup':function () {
            total = 0
            $('.kasvouchers').each(function(){
                total += numeral($(this).val()).value()
            })
            $('#kasboek_kas_total').val(numeral(total).format('0.0,'))
            totalsalarissenkas()
        }
    })

    function totalsalarissenkas(){
        floats = numeral ($('#kasboek_floats_total').val()).value()
        salarissen = numeral ($('#kasboek_salarissen_total').val()).value()
        kas = numeral ($('#kasboek_kas_total').val()).value()
        $('#kasboek_totalsalarissenkas').val(numeral(floats + salarissen + kas).format('0.0,'));
        totalinkas()
    }

    function totalinkas(){
        bedrag = numeral ($('#kasboek_contanten_bedrag_total').val()).value()
        salarissenkas = numeral ($('#kasboek_totalsalarissenkas').val()).value()
        $('#kasboek_totalinkas').val(numeral(bedrag + salarissenkas).format('0.0,'));
        eindsaldo = numeral($('#kasboek_eindsaldo').val()).value()
        inkas = numeral($('#kasboek_totalinkas').val()).value()
        $('#kasboek_kasverschil').val(numeral(inkas - eindsaldo).format('0.0,'))
    }

</script>

