
    <div class="portlet">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon icon-user"></i>Users
        </div>
        <div class="tools">
            {% if is_granted('ROLE_SUPERADMIN') %}
                <a href="{{ path('user_new') }}" class=" blue">
                    <i class="fa fa-plus"></i> Create new
                </a>
            {% endif %}
            <a href="{{ path('user') }}" class=" blue">
                <i class="fa fa-list-alt"></i> List
            </a>
        </div>
    </div>
    <div class="portlet box blue-hoki">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-pencil"></i>Edit
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse">
                </a>
            </div>
        </div>
        <div class="portlet-body form">
            {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit container-fluid form-horizontal' } }) }}
            <div class="form-body col-md-5">

            <div class="row form-group ">
                {{form_label(form.username,'User',{'attr':{
                    'class' :' control-label',
                }})}}
                {{form_widget(form.username, {'attr':{
                    'class' :' form-control'
                }})}}
                {{form_errors(form.username)}}
            </div>
            <div class="row form-group ">
                {{form_label(form.email,'Email',{'attr':{
                    'class' :' control-label',
                }})}}
                {{form_widget(form.email, {'attr':{
                    'class' :' form-control'
                }})}}
                {{form_errors(form.email)}}
            </div>
            <div class="row form-group ">
                {{form_label(form.current_password,'Password',{'attr':{
                    'class' :' control-label',
                }})}}
                {{form_widget(form.current_password, {'attr':{
                    'class' :' form-control'
                }})}}
                {{form_errors(form.current_password)}}
            </div>
            {{ form_widget(form) }}
            <div class="row form-group ">
                <input type="submit" class="btn blue-hoki" value="Update"/>
            </div>
            </div>
            {{ form_end(form) }}



        </div>
    </div>