<div class="container-fluid">
    <div class="form-body">
        <fieldset id="data-checkin" class="col-md-12" style="border-bottom: none;">

            <section id="section-checkin" class="col-md-7 col-md-offset-2">
                {% set control = 1 %}
                    {% if rcheckin|length > 0 %}
                        {% for var in rcheckin%}
                            <form id="form-checkin-{{control}}" autocomplete="off" class="{% if var.fromguesty %} fromguesty {% endif %}">
                                <input hidden="hidden" name="id" id="id" value="{{ var.id }}">
                                <input hidden="hidden" name="checkinid" id="checkinid" {% if var.checkin %}value="{{ var.checkin.id }}"{% endif %}>
                                <input hidden="hidden" name="checkinbetalen" id="checkinbetalen" {% if var.checkin %}value="{{ var.checkin.betalen }}"{% endif %}>
                                <input hidden="hidden" name="checkinvoldan" id="checkinvoldan" {% if var.checkin %}value="{{ var.checkin.voldan }}"{% endif %}>
                                <input hidden="hidden" name="checkinnights" id="checkinnights" {% if var.checkin %}value="{{ var.checkin.nights }}"{% endif %}>
                                <input hidden="hidden" name="checkinguests" id="checkinguests" {% if var.checkin %}value="{{ var.checkin.guests }}"{% endif %}>
                                <input hidden="hidden" name="checkinsourceguesty" id="checkinsourceguesty" {% if var.checkin %}value="{{ var.checkin.source }}"{% endif %}>
                                <input hidden="hidden" name="name" id="name" value="{{ var.name }}">

                                <div class="row form-group col-md-12">
                                    {% if var.blacklist %}<img src="{{ asset('img/blacklist.jpg') }}" class="" style="width: 30px; float: left; margin-right: 10px;"/>{% endif %}
                                    {% if var.checkin %}<img src="{{ asset('img/guesty_in.png') }}" class="" style="width: 30px; float: left; margin-right: 10px;"/>{% endif %}
                                    {% set clear = false %}

                                    {% for content in cleaning  %}
                                        {% if content.listing.id == var.listing.id and content.status == 'checkedOut' %}
                                            {% set clear = true %}
                                            <img class="cleaning cleaning-{{ control }} listing-{{ content.listing.number }}" src="{{ asset('img/dirty.png') }}" style="    width: 30px; float: left;" />
                                        {% elseif content.listing.id == var.listing.id and content.status == 'working' %}
                                            {% set clear = true %}
                                            <img class="cleaning{{ control }}" src="{{ asset('img/readytoclear.png') }}" style="    width: 30px; float: left;" />
                                        {% elseif content.listing.id == var.listing.id and content.status == 'dirty' %}
                                            {% set clear = true %}
                                            <img class="cleaning cleaning-{{ control }} listing-{{ content.listing.number }}" src="{{ asset('img/dirty.png') }}" style="    width: 30px; float: left;" />
                                        {% endif %}
                                    {% endfor %}
                                    {% if not clear %}
                                        <img class="cleaning cleaning-{{ control }} listing-{{ var.listing.number }}" src="{{ asset('img/clear.png') }}" style="    width: 30px; float: left;" />
                                   {% endif %}

                                    <label class="control-label col-md-3"><b>Incheck <span class="serial_checkin"></span>
                                            <span class="timeforcheck"><input id="timeforcheck" name="timeforcheck" style="background: transparent; border: none" value="{% if var.timeforcheck %}{{ var.timeforcheck | date('H:i') }}{% endif %}"/></span></b></label>

                                    <span class="col-md-3">
                                        <span style="position: relative; top:-6px;">Ingecheckt:</span>
                                        <input style="width: 30%;height: 20px;" class="checker" type="checkbox" id="confirm-checkin-1" name='confirm-checkin' {% if var.checkindone %} checked="checked" {% endif %}>
                                    </span>

                                    <a class="col-md-3 pull-right" style="display: inline" target="_blank" href="{{ path('hotel_setpdf', {'checkin':var.id}) }}">
                                        Print <i class="fa fa-external-link"></i>
                                    </a>
                                    <!--<span class="col-md-4">
                                         <span style="position: relative; top:-6px;">Clean:</span>
                                        <input style="width: 27%;height: 20px;" class="checker " type="checkbox" id="ready-{{ control }}" name='readytoclear' {% if var.readytoclear %} checked="checked" {% endif %}>
                                    </span>-->
                                </div>
                                <div id="details-checkin-{{control}}" class="details-checkin">
                                    <table class="table-details table-condensed" >
                                        <tr>
                                            <td><label >Listing</label></td>
                                            <td>
                                                <select id="listing-{{control}}" class="form-control input-sm listing-checkin" name='listing' data-placeholder="Select..." >
                                                    {% if is_granted("ROLE_SUPER_ADMIN") and (not var.checkin or not var.fromguesty) %}  <option ></option> {% endif %}
                                                    {% for val in listing%}
                                                        <option value="{{val.id}}" {% if var.listing.id == val.id %} selected = "selected" {% endif %} {% if not is_granted("ROLE_SUPER_ADMIN") and var.listing.id != val.id and var.checkin and var.fromguesty %}  disabled="disabled" {% endif %}>{{val.details}} </option>
                                                    {% endfor  %}
                                                </select>
                                            </td>
                                            <td >
                                                {% if help.checkin_listing.content %}<i class="fa fa-question-circle tooltips" style="color: #d4d4d4;" data-placement="right" data-original-title="{{ help.checkin_listing.content }}"></i>{% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label >Naam</label></td>
                                            <td><input type="text" id="name-{{control}}" class="input-sm form-control  col-md-6"  name='name' value="{{var.name}}">  </td>
                                            <td >
                                                {% if help.checkin_name.content %}<i class="fa fa-question-circle tooltips" style="color: #d4d4d4;" data-placement="right" data-original-title="{{ help.checkin_name.content }}"></i>{% endif %}
                                            </td>
                                        </tr>
                                        {% if var.checkin and var.fromguesty %}
                                            <tr>
                                                <td><label >Kanaal (Suggested by Guesty)</label></td>
                                                <td><input type="text" id="sourceguesty-{{control}}" name="sourceguesty" class="input-sm form-control col-md-6" value="{{ var.sourceguesty }}">  </td>
                                                <td >
                                                    {% if help.checkin_source.content %}<i class="fa fa-question-circle tooltips help-source" style="color: #d4d4d4;" data-placement="right" data-original-title="{{ help.checkin_source.content }}"></i>{% endif %}
                                                </td>
                                            </tr>
                                        {% endif %}

                                        <tr hidden="hidden">
                                            <td><label >Kanaal</label></td>
                                            <td>
                                                {% if var.fromguesty %}

                                                    <select id="source-{{control}}" class="form-control input-sm" name='source' data-placeholder="Select...">
                                                        {#<option></option>#}
                                                        {% set noesta = 0 %}
                                                            {% for val in sources %}
                                                                {% if var.checkin %}
                                                                    {% if var.checkin.source | upper == val.guesty | upper %}
                                                                        {% set noesta = 1 %}
                                                                        <option name="{% if (val.extrafield == 1) %}1 {% endif  %} {% if (val.extrafield == 0) %} 0 {% endif %}" value="{{val.id}}" {% if var.source and var.source.id == val.id %} selected = "selected" {% endif %}>{{val.details}}</option>
                                                                    {% endif  %}

                                                                {% endif  %}
                                                            {% endfor  %}
                                                            {% if noesta == 0 %}
                                                                <option name="1"  selected = "selected"></option>
                                                            {% endif %}
                                                    </select>
                                                {% endif  %}
                                            </td>

                                        </tr>
                                        {% if not var.fromguesty %}
                                            <tr>
                                                <td><label > Kanaal</label></td>
                                                <td>
                                                    <select id="source-{{control}}" class="form-control input-sm" name='source' data-placeholder="Select...">
                                                        <option name="1" value=""></option>
                                                        {% for val in sources %}
                                                            <option name="{% if (val.extrafield == 1) %}1 {% endif  %} {% if (val.extrafield == 0) %} 0 {% endif %}" value="{{val.id}}" {% if var.source and var.source.id == val.id %} selected = "selected" {% endif %}>{{val.details}}</option>
                                                        {% endfor  %}
                                                    </select>
                                                </td>
                                                <td >
                                                    {% if help.checkin_source.content %}<i class="fa fa-question-circle tooltips help-source" style="color: #d4d4d4;"   data-placement="right" data-original-title="{{ help.checkin_source.content }}"></i>{% endif %}
                                                </td>
                                            </tr>
                                        {% endif %}
                                        <tr class="random" >
                                            <td><label >Te betalen €</label></td>
                                            <td><input type="text" id="betalen-{{control}}" class="input-sm form-control col-md-6 real"  name='betalen' value="{{var.betalen }}">  </td>
                                            <td >
                                                {% if help.checkin_betalen.content %}<i class="fa fa-question-circle tooltips" style="color: #d4d4d4;" data-placement="right" data-original-title="{{ help.checkin_betalen.content }}"></i>{% endif %}
                                            </td>
                                        </tr>
                                        <tr class="random" >
                                            <td><label >Reeds voldaan €</label></td>
                                            <td><input type="text" id="voldan-{{control}}" class="input-sm form-control  col-md-6 real"  name='voldan' value="{{var.voldan }}"> </td>
                                            <td >
                                                {% if help.checkin_voldaan.content %}<i class="fa fa-question-circle tooltips" style="color: #d4d4d4;" data-placement="right" data-original-title="{{ help.checkin_voldaan.content }}"></i>{% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label >Aantal nachten</label></td>
                                            <td> <input type="text" id="nights-{{control}}" class="input-sm form-control  col-md-6 entero"   name='nights' value="{{var.nights}}">  </td>
                                            <td >
                                                {% if help.checkin_nights.content %}<i class="fa fa-question-circle tooltips" style="color: #d4d4d4;" data-placement="right" data-original-title="{{ help.checkin_nights.content }}"></i>{% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label >Aantal personen</label></td>
                                            <td><select id="guests-{{control}}" class="form-control input-sm" data-placeholder="Select..." name='guests'>
                                                    {% set guests = { '0':'', '1':'1', '2':'2', '3':'3', '4':'4', '5':'5', '6':'6' }  %}
                                                        {% for val in guests %}
                                                            <option value="{{val}}" {% if val ==  var.guests %} selected="selected" {% endif %}>{{val}}</option>
                                                        {% endfor %}
                                                    </select> </td>
                                            <td >
                                                {% if help.checkin_guests.content %}<i class="fa fa-question-circle tooltips" style="color: #d4d4d4;" data-placement="right" data-original-title="{{ help.checkin_guests.content }}"></i>{% endif %}
                                            </td>
                                            </tr>
                                            <tr>
                                                <td><label >Toeristenbelasting €</label></td>
                                                <td> <input type="text" id="toer-{{control}}" class="input-sm form-control col-md-6 real" readonly="readonly" tabindex="-1"  name="toer" value="{{var.toer}}"> </td>
                                                <td >
                                                    {% if help.checkin_toer.content %}<i class="fa fa-question-circle tooltips" style="color: #d4d4d4;" data-placement="right" data-original-title="{{ help.checkin_toer.content }}"></i>{% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><label >Parking Dagtickets (€{{ entity_basic.parking }}/24uur)</label></td>
                                                <td> <input type="text" id="parkingdag-{{control}}" class="input-sm form-control  col-md-6 entero"  name='parkingdag' value="{{var.parkingdag}}"> </td>
                                                <td >
                                                    {% if help.checkin_tickets.content %}<i class="fa fa-question-circle tooltips" style="color: #d4d4d4;" data-placement="right" data-original-title="{{ help.checkin_tickets.content }}"></i>{% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><label >Parking €</label></td>
                                                <td> <input type="text" id="parking-{{control}}" class="input-sm form-control  col-md-6 real" readonly="readonly" tabindex="-1"  name='parking' value="{{var.parking}}"> </td>
                                                <td >
                                                    {% if help.checkin_parking.content %}<i class="fa fa-question-circle tooltips" style="color: #d4d4d4;" data-placement="right" data-original-title="{{ help.checkin_parking.content }}"></i>{% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><label >Verlenging/Late Check-Out/Extra's €</label></td>
                                                <td><input type="text" id="latecheckin-{{control}}" class="input-sm form-control  col-md-6 real"  name='latecheckin' value="{{var.latecheckin}}">  </td>
                                                <td >
                                                    {% if help.checkin_extra.content %}<i class="fa fa-question-circle tooltips" style="color: #d4d4d4;" data-placement="right" data-original-title="{{ help.checkin_extra.content }}"></i>{% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><label >Borg Ontvangen €</label></td>
                                                <td><input type="text" id="borg-{{control}}" class="input-sm form-control  col-md-6 real"  name='borg' value="{{var.borg}}">  </td>
                                                <td >
                                                    {% if help.checkin_borg.content %}<i class="fa fa-question-circle tooltips" style="color: #d4d4d4;" data-placement="right" data-original-title="{{ help.checkin_borg.content }}"></i>{% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><label >Totaal te betalen €</label></td>
                                                <td><input type="text" id="totalbetalen-{{control}}" class="input-sm form-control  col-md-6 real" readonly="readonly" tabindex="-1"  name='totalbetalen' value="{{var.totalbetalen}}">  </td>
                                            </tr>
                                            <tr>
                                                <td><label >Opmerkingen</label></td>
                                                <td><textarea type="text" id="details-{{control}}" class=" form-control "  name='details' >{{var.details}}</textarea>  </td>
                                                <td >
                                                    {% if help.checkin_details.content %}<i class="fa fa-question-circle tooltips" style="color: #d4d4d4;" data-placement="right" data-original-title="{{ help.checkin_details.content }}"></i>{% endif %}
                                                </td>
                                            </tr>
                                        {% if var.checkin  and var.checkin.note != '' %}
                                            <tr>
                                                <td><label >Notes from Guesty</label></td>
                                                <td><textarea type="text" id="notes-{{control}}" class=" form-control "  name='notes' disabled="disabled" style="height: 100px" >{{var.checkin.note}}</textarea>  </td>
                                            </tr>
                                        {% endif %}
                                        </table>
                                        <br/>
                                    </div>

                                </form>
                                {% set control = control + 1 %}            
                        {% endfor %}  
                    {% endif %}
                    <div id="dinamic"></div>
                    {% if not show %}
                    <form id="form-checkin-{{control}}" autocomplete="off" class="lastone">
                        <div class="row form-group col-md-12">
                            <label class="control-label col-md-3"><b>Incheck <span class="serial_checkin"></span><span class="timeforcheck"><input id="timeforcheck" name="timeforcheck" style="background: transparent; border: none"/></span></b></label>

                                    <span class="col-md-3">
                                        <span style="position: relative; top:-6px;">Ingecheckt:</span>
                                        <input style="width: 30%;height: 20px;" class="checker" type="checkbox" id="confirm-checkin-1" name='confirm-checkin' >
                                    </span>
                        <!--<a class="col-md-3 pull-right" style="display: inline" target="_blank" href="{{ path('hotel_setpdf', {'checkin': 'null'}) }}">
                            Print <i class="fa fa-external-link"></i></a>
                                    <!--<span class="col-md-4">
                                         <span style="position: relative; top:-6px;">Clean:</span>
                                        <input style="width: 27%;height: 20px;" class="checker " type="checkbox" id="ready-{{ control }}" name='readytoclear'   >
                                    </span>-->
                        </div>
                        <div id="details-checkin-{{control}}" class="details-checkin">
                            <table class="table-details table-condensed" >
                                <tr>
                                    <td><label >Listing</label></td>
                                    <td>
                                        <select id="listing-{{control}}" class="form-control input-sm listing-checkin" name='listing' data-placeholder="Select...">
                                            <option></option>
                                            {% for val in listing%}
                                                <option value="{{val.id}}">{{val.details}}</option>
                                            {% endfor  %}
                                        </select>
                                    </td>
                                    <td >
                                        {% if help.checkin_listing.content %}<i class="fa fa-question-circle tooltips" style="color: #d4d4d4;" data-placement="right" data-original-title="{{ help.checkin_listing.content }}"></i>{% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td><label >Naam</label></td>
                                    <td><input type="text" id="name-{{control}}" class="input-sm form-control  col-md-6"  name='name' >  </td>
                                    <td >
                                        {% if help.checkin_name.content %}<i class="fa fa-question-circle tooltips" style="color: #d4d4d4;" data-placement="right" data-original-title="{{ help.checkin_name.content }}"></i>{% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td><label >Kanaal</label></td>
                                    <td>
                                        <select id="source-{{control}}" class="form-control input-sm" name='source' data-placeholder="Select...">
                                            {% for val in sources %}
                                                <option name="{% if (val.extrafield == 1) %}1 {% else  %}  0 {% endif %}" value="{{val.id}}">{{val.details}}</option>
                                            {% endfor  %}
                                        </select>
                                    </td>
                                    <td >
                                        {% if help.checkin_source.content %}<i class="fa fa-question-circle tooltips help-source" style="color: #d4d4d4;" data-placement="right" data-original-title="{{ help.checkin_source.content }}"></i>{% endif %}
                                    </td>
                                </tr>
                                <tr class="random"  >
                                    <td><label >Te betalen €</label></td>
                                    <td><input type="text" id="betalen-{{control}}" class="input-sm form-control col-md-6 real"  name='betalen'>  </td>
                                    <td >
                                        {% if help.checkin_betalen.content %}<i class="fa fa-question-circle tooltips" style="color: #d4d4d4;" data-placement="right" data-original-title="{{ help.checkin_betalen.content }}"></i>{% endif %}
                                    </td>
                                </tr >
                                <tr class="random"  >
                                    <td><label >Reeds voldaan €</label></td>
                                    <td><input type="text" id="voldan-{{control}}" class="input-sm form-control col-md-6 real"  name='voldan'> </td>
                                    <td >
                                        {% if help.checkin_voldaan.content %}<i class="fa fa-question-circle tooltips" style="color: #d4d4d4;" data-placement="right" data-original-title="{{ help.checkin_voldaan.content }}"></i>{% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td><label >Aantal nachten</label></td>
                                    <td> <input type="text" id="nights-{{control}}" class="input-sm form-control col-md-6 entero"  name='nights'>  </td>
                                    <td >
                                        {% if help.checkin_nights.content %}<i class="fa fa-question-circle tooltips" style="color: #d4d4d4;" data-placement="right" data-original-title="{{ help.checkin_nights.content }}"></i>{% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td><label >Aantal personen</label></td>
                                    <td><select id="guests-{{control}}" class="form-control input-sm" data-placeholder="Select..." name='guests'>
                                            {% set guests = {'0':'', '1':'1', '2':'2', '3':'3', '4':'4', '5':'5', '6':'6' }  %}
                                                {% for val in guests %}
                                                    <option value="{{val}}" >{{val}}</option>
                                                {% endfor %}
                                            </select> </td>
                                    <td >
                                        {% if help.checkin_guests.content %}<i class="fa fa-question-circle tooltips" style="color: #d4d4d4;" data-placement="right" data-original-title="{{ help.checkin_guests.content }}"></i>{% endif %}
                                    </td>
                                    </tr>
                                    <tr>
                                        <td><label >Toeristenbelasting €</label></td>
                                        <td> <input type="text" id="toer-{{control}}" class="input-sm form-control col-md-6 real" readonly="readonly" tabindex="-1"  name="toer"> </td>
                                        <td >
                                            {% if help.checkin_toer.content %}<i class="fa fa-question-circle tooltips" style="color: #d4d4d4;" data-placement="right" data-original-title="{{ help.checkin_toer.content }}"></i>{% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label >Parking Dagtickets (€{{ entity_basic.parking }}/24uur)</label></td>
                                        <td> <input type="text" id="parkingdag-{{control}}" class="input-sm form-control col-md-6 entero"  name='parkingdag'> </td>
                                        <td >
                                            {% if help.checkin_tickets.content %}<i class="fa fa-question-circle tooltips" style="color: #d4d4d4;" data-placement="right" data-original-title="{{ help.checkin_tickets.content }}"></i>{% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label >Parking €</label></td>
                                        <td> <input type="text" id="parking-{{control}}" class="input-sm form-control col-md-6 real" readonly="readonly" tabindex="-1"  name='parking'> </td>
                                        <td >
                                            {% if help.checkin_parking.content %}<i class="fa fa-question-circle tooltips" style="color: #d4d4d4;" data-placement="right" data-original-title="{{ help.checkin_parking.content }}"></i>{% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label >Verlenging/Late Check-Out/Extra's €</label></td>
                                        <td><input type="text" id="latecheckin-{{control}}" class="input-sm form-control col-md-6 entero"  name='latecheckin'>  </td>
                                        <td >
                                            {% if help.checkin_extra.content %}<i class="fa fa-question-circle tooltips" style="color: #d4d4d4;" data-placement="right" data-original-title="{{ help.checkin_name.content }}"></i>{% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label >Borg Ontvangen €</label></td>
                                        <td><input type="text" id="borg-{{control}}" class="input-sm form-control  col-md-6 real"   name='borg'>  </td>
                                        <td >
                                            {% if help.checkin_borg.content %}<i class="fa fa-question-circle tooltips" style="color: #d4d4d4;" data-placement="right" data-original-title="{{ help.checkin_borg.content }}"></i>{% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label >Totaal te betalen €</label></td>
                                        <td><input type="text" id="totalbetalen-{{control}}" class="input-sm form-control  col-md-6 real" readonly="readonly" tabindex="-1"   name='totalbetalen'>  </td>
                                    </tr>

                                    <tr>
                                        <td><label >Opmerkingen</label></td>
                                        <td><textarea type="text" id="details-{{control}}" class=" form-control "  name='details'></textarea>  </td>
                                        <td >
                                            {% if help.checkin_details.content %}<i class="fa fa-question-circle tooltips" style="color: #d4d4d4;" data-placement="right" data-original-title="{{ help.checkin_details.content }}"></i>{% endif %}
                                        </td>
                                    </tr>
                                </table>
                                <br/>

                            </div>
                            {% set control = control + 1 %}   
                        </form>
                    {% endif %}
                    </section>
                </fieldset> 
            </div>
        </div>
<script>
    var helpcontents = new Object();
    {% for content in help  %}
        helpcontents["{{ content.label | lower | replace({' ': ''}) }}"] = "{{ content.content | raw }}";
    {% endfor %}

    updateSerialCheckin()
    findListingSelectedCheckin()
    $('select[name="source"]').find(":selected").each(function(){
        if ($(this).attr('name') != 0 ){
            tbody = $(this).parent().parent().parent().parent()
            tbody.children('tr.random').show()
        }
    })
    
    function updateSerialCheckin(){
        $('.serial_checkin').each(function(index, item){
            $(item).text(index + 1)
        })
    }
    
    var serial = {{control}};
        $('#section-checkin').on('change', '.listing-checkin', function() {
            checkin_element = $(this)
            checkin_value = $(this).val()
            if (checkin_value == '') {
                checkin_element.closest('form').remove();
                $('input[name="betalen"]').trigger('keyup')
                Dagopbrengst()
                completeProfit()
        }
        else {
            //Adicionar el checkin siguiente
            if (checkin_element.closest('form').hasClass('lastone')) {
                $('.lastone').removeClass('lastone')
                serial++

                form_group = $('<div class="row form-group col-md-12"></div>')
                form_group.append('<!--<img class="ready-'+serial+'" src="{{ asset("img/guesty_in.png") }}" style="    width: 30px; float: left;" />-->\n\
                        <label class="control-label col-md-3"><b>Incheck <span class="serial_checkin"></span><span class="timeforcheck"><input id="timeforcheck" name="timeforcheck" style="background: transparent; border: none"/></span></b></label>\n\
                        <span class="col-md-3">\n\
                        <span style="position: relative; top:-6px;">Ingecheckt:</span>\n\
                <input style="width: 30%;height: 20px;" class="checker" type="checkbox" id="confirm-checkin-1" name="confirm-checkin" >\n\
                        </span>')
                form = $('<form id="form-checkin-' + serial + '" autocomplete="off" class="lastone"></form>')
                form.append(form_group);

                details = $('<div id="details-checkin-' + serial + '" class="details-checkin"></div>')
                details.append(generate_table(serial));
                form.append(details);
                $('#section-checkin').append(form);
                $('#source-'+serial).trigger('change')
                $('.tooltips').tooltip()
            }
        }
        updateSerialCheckin()
        findListingSelectedCheckin()
    })

    function generate_table(s) {
        table = $('<table class="table-details table-condensed" ></table>')
        cadena = ''

        cadena += '<tr><td><label >Listing</label></td><td><select class="form-control input-sm listing-checkin" name="listing"> <option name="1" value=""></option>{% for item in listing%}<option value="{{item.id}}">{{item.details}}</option>{% endfor %}</select></td><td >\n\
                {% if help.checkin_listing.content %}<i class="fa fa-question-circle tooltips" style="color: #d4d4d4;" data-placement="right" data-original-title="{{ help.checkin_listing.content }}"></i>{% endif %}\n\
                </td></tr>'

        cadena += '<tr><td><label>Naam</label></td>\n\
        <td><input type="text" id="name-' + s + '" class="input-sm form-control  col-md-6"  name="name">  </td>\n\
        <td >{% if help.checkin_name.content %}<i class="fa fa-question-circle tooltips" style="color: #d4d4d4;" data-placement="right" data-original-title="{{ help.checkin_name.content }}"></i>{% endif %}</td></tr>'

        cadena += '<tr> <td><label >Kanaal</label></td>\n\
        <td> <select id="source-' + s + '" class="form-control input-sm" name="source"   data-placeholder="Select...">  {#<option></option>#}\n\
         ' + source_opciones() + ' </select> </td> \n\
        <td >{% if help.checkin_source.content %}<i class="fa fa-question-circle tooltips help-source" style="color: #d4d4d4;"   data-placement="right" data-original-title="{{ help.checkin_source.content }}"></i>{% endif %}</td></tr>'

        cadena += '<tr class="random"  > <td><label >Te betalen €</label></td>\n\
        <td><input type="text" id="betalen-' + s + '" class="input-sm form-control col-md-6 real"  name="betalen">  </td>\n\
        <td >{% if help.checkin_betalen.content %}<i class="fa fa-question-circle tooltips" style="color: #d4d4d4;" data-placement="right" data-original-title="{{ help.checkin_betalen.content }}"></i>{% endif %}</td></tr>'

        cadena += '<tr class="random"  > <td><label >Reeds voldaan €</label></td>\n\
        <td><input type="text" id="voldan-' + s + '" class="input-sm form-control col-md-6 real"  name="voldan"> </td>\n\
        <td >{% if help.checkin_voldaan.content %}<i class="fa fa-question-circle tooltips" style="color: #d4d4d4;" data-placement="right" data-original-title="{{ help.checkin_voldaan.content }}"></i>{% endif %}</td></tr>'

        cadena += '<tr> <td><label >Aantal nachten</label></td> \n\
        <td> <input type="text" id="nights-' + s + '" class="input-sm form-control col-md-6 entero"  name="nights">  </td>\n\
        <td >{% if help.checkin_nights.content %}<i class="fa fa-question-circle tooltips" style="color: #d4d4d4;" data-placement="right" data-original-title="{{ help.checkin_nights.content }}"></i>{% endif %}</td></tr>'

        cadena += '<tr> <td><label >Aantal personen</label></td>\n\
        <td><select id="guests-' + s + '" class="form-control input-sm" data-placeholder="Select..." name="guests">\n\
        <option value="0"></option>\n\
        <option value="1">1</option>\n\
        <option value="2">2</option>\n\
        <option value="3">3</option>\n\
        <option value="4">4</option>\n\
        <option value="5">5</option>\n\
        <option value="6">6</option>\n\
        </select> </td><td >\n\
                {% if help.checkin_guests.content %}<i class="fa fa-question-circle tooltips" style="color: #d4d4d4;" data-placement="right" data-original-title="{{ help.checkin_guests.content }}"></i>{% endif %}\n\
                </td></tr>'

        cadena += '<tr> <td><label >Toeristenbelasting €</label></td> \n\
        <td> <input type="text" id="toer-' + s + '" class="input-sm form-control col-md-6 real" readonly="readonly" tabindex="-1"  name="toer"> </td></tr>'

        cadena += '<tr> <td><label >Parking Dagtickets (€{{ entity_basic.parking }}/24uur)</label></td> \n\
        <td> <input type="text" id="parkingdag-' + s + '" class="input-sm form-control col-md-6 entero"  name="parkingdag"> </td><td >\n\
                {% if help.checkin_tickets.content %}<i class="fa fa-question-circle tooltips" style="color: #d4d4d4;" data-placement="right" data-original-title="{{ help.checkin_tickets.content }}"></i>{% endif %}\n\
                </td></tr>'

        cadena += '<tr> <td><label >Parking €</label></td>\n\
        <td> <input type="text" id="parking-' + s + '" class="input-sm form-control col-md-6 real" readonly="readonly" tabindex="-1"  name="parking"> </td></tr>'

        cadena += '<tr> <td><label >Verlenging/Late Check-Out/Extra\'s €trlabel></td>\n\
        <td><input type="text" id="latecheckin-' + s + '" class="input-sm form-control col-md-6 entero"  name="latecheckin">  </td><td >\n\
                {% if help.checkin_extra.content %}<i class="fa fa-question-circle tooltips" style="color: #d4d4d4;" data-placement="right" data-original-title="{{ help.checkin_extra.content }}"></i>{% endif %}\n\
                </td></tr>'

        cadena += '<tr> <td><label >Borg Ontvangen €</label></td>\n\
        <td><input type="text" id="borg-' + s + '" class="input-sm form-control col-md-6 real"  name="borg">  </td><td > \n\
                {% if help.checkin_borg.content %}<i class="fa fa-question-circle tooltips" style="color: #d4d4d4;" data-placement="right" data-original-title="{{ help.checkin_borg.content }}"></i>{% endif %}\n\
                </td></tr>'

        cadena += '<tr> <td><label >Totaal te betalen €</label></td>\n\
        <td><input type="text" id="totalbetalen-' + s + '" class="input-sm form-control col-md-6 real" readonly="readonly" tabindex="-1"  name="totalbetalen">  </td></tr>'
        
        cadena += '<tr> <td><label >Opmerkingen</label></td> \n\
        <td><textarea type="text" id="details-' + s + '" class=" form-control "  name="details"></textarea>  </td>  <td > \n\
                {% if help.checkin_details.content %}<i class="fa fa-question-circle tooltips" style="color: #d4d4d4;" data-placement="right" data-original-title="{{ help.checkin_details.content }}"></i>{% endif %} \n\
                </td></tr>'

        table.append(cadena)
        return table;
    }

    //Calcular los totales iterando sobre los formularios del checkin
    //PARKING
    $('#section-checkin').on('keyup', '.form-control', function() {
        tmp = $(this).attr('id').split('-')
        field = tmp[0]
        number = tmp[1]
        switch (field) {
            case 'betalen':
                total = 0
                /*$('input[name="betalen"]').each(function(index, value) {
                    total += numeral($(value).val()).value()
                })
                $('#totalover').val(numeral(total).format('0.0,'))*/

                    //Poner campo en rojo si es diferente al original
                    original = $('#form-checkin-'+number+' #checkinbetalen').val()
                    if (numeral($(this).val()).value() != original && original != undefined && $('#form-checkin-'+number+' #checkinid').val() != ""){
                        $(this).attr('style', 'color: red; font-weight: bold; background: #fbdada;')
                    }
                    else {
                        $(this).attr('style', '')
                    }
                break;
            case 'sourceguesty':

                original = $('#form-checkin-'+number+' #checkinsourceguesty').val()
                current = $(this).val();
                if (original.localeCompare(current) != 0 && original != undefined && $('#form-checkin-'+number+' #checkinid').val() != ""){
                    $(this).attr('style', 'color: red; font-weight: bold;')
                }
                else {
                    $(this).attr('style', '')
                }
                break;
            case 'parkingdag':
                value = numeral($(this).val()).value() * numeral('{{ entity_basic.parking | replace('.',',')}}').value()
                console.log(value)
                if (value != 0) {
                    $('#parking-' + number).val(numeral(value).format('0.0,'))
                }
                else  $('#parking-' + number).val('')
                total = 0
                $('input[name="parking"]').each(function(index, value) {
                    total += numeral($(value).val()).value()
                })
                $('#totalparking').val(numeral(total).format('0.0,'))
                $('#form-final #totalparking').val(numeral(total).format('0.0,'))
                //ext = numeral($('#totalextra').val()).value()
                //over = numeral($('#totalover').val()).value()
                //$('#totalparkingextra').val(numeral(ext + over).format('0.0,'))
                break;
            case 'voldan':
                total = 0
                $('input[name="voldan"]').each(function(index, value) {
                    total += numeral($(value).val()).value()
                })
                $('#totalvoldan').val(numeral(total).format('0.0,'))
                //Poner campo en rojo si es diferente al original
                original = $('#form-checkin-'+number+' #checkinvoldan').val()
                if (numeral($(this).val()).value() != (original) && original != undefined && original != "" && $('#form-checkin-'+number+' #checkinid').val() != ""){
                    $(this).attr('style', 'color: red; font-weight: bold;')
                }
                else {
                    $(this).attr('style', '')
                }
                break;
            case 'latecheckin':
                total = 0
                $('input[name="latecheckin"]').each(function(index, value) {
                    total += numeral($(value).val()).value()
                })
                $('#totalextra').val(numeral(total).format('0.0,'))


                break;
            case 'nights':
                value = numeral($(this).val()).value()
                ctr = (value - {{ entity_basic.nightslimit }})
                calc = 0
                if (ctr <= 0) calc = value * {{ entity_basic.tax }} * numeral($('#guests-' + number).val()).value()
                else calc = (numeral($('#guests-' + number).val()).value() * {{ entity_basic.nightslimit }} * {{ entity_basic.tax }} )
                $('#toer-' + number).val(numeral(calc).format('0.0,'))
                total = 0
                $('input[name="toer"]').each(function(index, value) {
                    total += numeral($(value).val()).value()
                })
                $('#data-final #totaltoer').val(numeral(total).format('0.0,'))
                $('#form-total-hotel #totaltoer').val(numeral(total).format('0.0,'))
                original = $('#form-checkin-'+number+' #checkinnights').val()
                if (numeral($(this).val()).value() != (original) && original != undefined && original != "" && $('#form-checkin-'+number+' #checkinid').val() != ""){
                    $(this).attr('style', 'color: red; font-weight: bold;')
                }
                else {
                    $(this).attr('style', '')
                }

                /*total = 0
                $('input[name="nights"]').each(function(index, value) {
                    total += numeral($(value).val()).value()
                })
                personas = 0
                $('select[name="guests"]').each(function(index, value) {
                    personas += numeral($(value).val()).value()
                })
                var tax = parseFloat({{ entity_basic.tax }})
                total = total * personas * tax
                $('#totalover').val(numeral(total).format('0.0,'))*/
                break;
            case 'borg':
                value = numeral($(this).val()).value()
                total = 0
                $('input[name="borg"]').each(function(index, value) {
                    total += numeral($(value).val()).value()
                })
                $('#totalborg').val(numeral(total).format('0.0,'))
                break;
            default:
                break;
        }
        TotalBetalen(number)
    })

    $('#section-checkin').on('change', 'select[name="guests"]', function() {
        //alert('si')
        tmp = $(this).attr('id').split('-')
        field = tmp[0]
        number = tmp[1]
        calc = 0;
        if ($('#nights-'+number).val() <= {{ entity_basic.nightslimit }} ) calc = $('#nights-'+number).val() * {{ entity_basic.tax }} * $(this).val()
        else calc = $(this).val() * {{ entity_basic.nightslimit }} * {{ entity_basic.tax }}
        $('#toer-' + number).val(numeral(calc).format('0.0,'))
        total = 0
        $('input[name="toer"]').each(function(index, value) {
            total += numeral($(value).val()).value()
        })

        $('#data-final #totaltoer').val(numeral(total).format('0.0,'))
        $('#form-total-hotel #totaltoer').val(numeral(total).format('0.0,'))

        /*latecheckin = 0
        $('input[name="latecheckin"]').each(function(index, value) {
            latecheckin += numeral($(value).val()).value()
        })
        totalbetalen = 0
        $('select[name="totalbetalen"]').each(function(index, value) {
            totalbetalen += numeral($(value).val()).value()
        })

        total = totalbetalen + latecheckin
        $('#totalover').val(numeral(total).format('0.0,'))*/

        original = $('#form-checkin-'+number+' #checkinguests').val()
        if (numeral($(this).val()).value() != original && original != undefined && original != "" && $('#form-checkin-'+number+' #checkinid').val() != ""){
            $(this).attr('style', 'color: red; font-weight: bold;')
        }
        else {
            $(this).attr('style', '')
        }
        TotalBetalen(number)
    })

    //Calcular el total te betalen
    function TotalBetalen(index) {
        total = numeral($('#toer-' + index).val()).value()
                + numeral($('#parking-' + index).val()).value()
                + numeral($('#latecheckin-' + index).val()).value()
                + numeral($('#betalen-' + index).val()).value()
                + numeral($('#borg-' + index).val()).value()
                - numeral($('#voldan-' + index).val()).value()
        $('#totalbetalen-' + index).val(numeral(total).format('0.0,'))


        Dagopbrengst()

    }

    //Calcular el total Dagopbrengst
    function Dagopbrengst() {
        total = 0
        $('input[name="totalbetalen"]').each(function(index, value) {
            total += numeral($(value).val()).value()
        })


        betalen = 0
        $('input[name="betalen"]').each(function(index, value) {
            betalen += numeral($(value).val()).value()
        })

        extra = 0
        $('input[name="latecheckin"]').each(function(index, value) {
            extra += numeral($(value).val()).value()
        })

        voldan = 0
        $('input[name="voldan"]').each(function(index, value) {
            voldan += numeral($(value).val()).value()
        })
        $('#data-final #totalparkingextra').val(numeral(extra + betalen - voldan).format('0.0,'))

        borg = 0
        $('input[name="borg"]').each(function(index, value) {
            borg += numeral($(value).val()).value()
        })
        $('#form-total-hotel #totalborg').val(numeral(borg).format('0.0,'))

        retour = 0
        $('.retour').each(function(index, value) {
            retour += numeral($(value).val()).value()
        })
        $('#form-total-hotel #totalretourborg').val(numeral(retour).format('0.0,'))

        total = total - borg

        $('#data-final #totaldag').val(numeral(total).format('0.0,'))
        $('#data-final #saldoborg').val(numeral(borg-retour).format('0.0,'))
        $('#form-total-hotel #totaldag').val(numeral(total).format('0.0,'))


        /*latecheckin = 0
        $('input[name="latecheckin"]').each(function(index, value) {
            latecheckin += numeral($(value).val()).value()
        })*/
        betalen = 0
        $('input[name="betalen"]').each(function(index, value) {
            betalen += numeral($(value).val()).value()
        })

        $('#totalover').val(numeral(betalen ).format('0.0,'))
        completeProfit()
    }

    $('#section-checkin').on('change','select[name="source"]', function(){
        tbody = $(this).parent().parent().parent()

       // if ( $(this).find(":selected").attr('name') == 1 || $(this).val().toUpperCase() == "airbnb".toUpperCase() || $(this).val().toUpperCase() == "Only-Apartments".toUpperCase()  ){
        if ( $(this).find(":selected").attr('name') == 1 || $(this).find(":selected").attr('name') == ""  ){
            tbody.children('tr.random').show()
           // tbody.children('tr.random input').val('')

        }
        //if ( $(this).find(":selected").attr('name')==0 || $(this).find(":selected").attr('name')== ""){
        else{
            tbody.children('tr.random').hide()
            tbody.children('tr.random').children('td').children('input[name="betalen"]').val('')
            tbody.children('tr.random').children('td').children('input[name="voldan"]').val('')
        }
        id =  $(this).attr('id').split('-')

        if($(this).find(":selected").val() == 1){
            //alert('si')
            $('#details-checkin-'+id[1]+' .optional').remove()
            $('#borg-'+id[1]).parent('td').append('<p class="optional"><i>Geen borg voor Airbnb.</i></p>')
        }
        else{
            $('#details-checkin-'+id[1]+' .optional').remove()
        }
        id = $(this).attr('id');
        var suorcename = $('#'+id+' option:selected').text().toLowerCase().replace(" ", "")
        if ((helpcontents[suorcename]) != null ){
            tbody.children('tr').children('td').children('.help-source').attr("data-original-title", helpcontents[suorcename]);
        } else{
            tbody.children('tr').children('td').children('.help-source').attr("data-original-title", helpcontents["kanaal"]);
        }


    })
    $('input[name="sourceguesty"]').each(function(){
        var suorcename = $(this).val().toLowerCase().replace(" ", "")
        if ((helpcontents[suorcename]) != null ){
            $(this).parent('td').parent('tr').children('td').children('.help-source').attr("data-original-title", helpcontents[suorcename]);
        } else {
            $(this).parent('td').parent('tr').children('td').children('.help-source').attr("data-original-title", helpcontents["kanaal"]);

        }
    })

     function findListingSelectedCheckin(){
        $('.listing-checkin option').removeAttr('style','')
        //$('.listing-checkout option').is(':selected')
        $('.listing-checkin').each(function(index,item){
            seleccionado = $(item).val()
            $('.listing-checkin option').each(function(index1,item1){
               if($(item1).val() == seleccionado){
                   $(item1).attr('style','color:red;')
               }
            })
        })
    }

    $('#section-checkin').ready(function() {
        $('.form-control').trigger('keyup')
        $('.form-control').trigger('blur')
        $('select[name="source"]').trigger('change')
    })

    $('#section-checkin').on('click','input[name="readytoclear"]', function(){

        checkinStatusClear($(this));

    })

    $('#section-checkin').on('click','input[name="confirm-checkin"]', function(){
        id = $(this).parent().parent().parent('form').attr('id');
        hora = new Date();
        if ($('#' +id+ ' input[name="confirm-checkin"]').is(':checked')){
            if (hora.getMinutes().toString().length == 1)
                $('#' +id+ ' #timeforcheck').val(hora.getHours()+":0"+hora.getMinutes())
            else
                $('#' +id+ ' #timeforcheck').val(hora.getHours()+":"+hora.getMinutes())
        }
        else{
            $('#' +id+ ' #timeforcheck').val("")
        }

    })

    function checkinStatusClear(control){
       // alert(control.is(":checked"))
       /* if (control.is(":checked")){
            $('.'+control.attr('id')).attr('src',"{{ asset('img/clear.png') }}").show();
        }
        else{
            $('.'+control.attr('id')).hide();
        }*/
    }

    $('input[name="readytoclear"]').each(function(){
        checkinStatusClear($(this));
    })


</script>