<div class="col-md-5">
    <div class="portlet  light bg-inverse">
        <div class="portlet-title">
            <div class="caption">
                    <span class="caption-subject bold font-green-haze">Kasverschil</span>
                <span class="caption-helper"></span>
            </div>
            <div class="tools">
                <span class="kasv badge bg-green-haze"></span>
                <a href="javascript:;" class="collapse">
                </a>
            </div>
        </div>
        <div class="portlet-body">
            <form id="form-final" method="post" class="form-horizontal container-fluid " role="form" autocomplete="off">
                <div class="form-body">
                    <fieldset id="data-final" class="col-md-12">
                        <section>
                            <div class="row form-group total-terminals " {% if not entity_basic.card.iscc == 1 %} hidden="hidden"   {% endif %}>
                                <label for="totalccv" class="required">Totaal alle CCV terminals €</label>
                                <input type="text" id="totalccv" name="totalccv" class="input-sm pull-right form-control" placeholder="0" tabindex=-1 readonly="readonly" {% if entity_basic.totalccv %}value="{{entity_basic.totalccv}}" {% endif %}>
                            </div>
                            <div class="row form-group">
                                <label for="totalont" class="required">Totaal Ontvangen €</label>
                                <input type="text" id="totalont" name="totalont" class="input-sm pull-right form-control" placeholder="0" tabindex=-1 readonly="readonly" {% if entity_basic.totalont %}value="{{entity_basic.totalont}}" {% endif %}>
                            </div>
                            <div class="row form-group">
                                <label for="totalparkingextra" class="required">Totaal Overnachtingen inclusief extra's €</label>
                                <input type="text" id="totalparkingextra" name="totalparkingextra" class="input-sm pull-right form-control" placeholder="0" tabindex=-1 readonly="readonly" {% if entity_basic.totalparkingextra %}value="{{entity_basic.totalparkingextra}}" {% endif %}">
                            </div>
                            <div class="row form-group">
                                <label for="totalparking" class="required">Totaal Parking €</label>
                                <input type="text" id="totalparking" name="totalparking" tabindex=-1 readonly="readonly" class=" pull-right form-control input-sm " {% if entity_basic.totalparking %} value='{{entity_basic.totalparking}}' {% endif %}>
                            </div>
                            <div class="row form-group">
                                <label for="totaltoer" class="required">Totaal Toeristenbelasting €</label>
                                <input type="text" id="totaltoer" name="totaltoer" class="input-sm pull-right form-control" placeholder="0" tabindex=-1 readonly="readonly" {% if entity_basic.totaltoer %} value="{{entity_basic.totaltoer}}" {% endif %}>
                            </div>
                            <div class="row form-group">
                                <label for="" class="required">Totaal Contanten €</label>
                                <input type="text" id="totalcontanten" name="totalcontanten" class="input-sm pull-right form-control" placeholder="0" tabindex=-1 readonly="readonly" {% if entity_basic.totalcontanten %}  value="{{entity_basic.totalcontanten}}" {% endif %}>
                            </div>
                            <div class="row form-group">
                                <label for="totaldebit" class="required">Totaal Debit (Pin/Maestro) Cards alle terminals €</label>
                                <input type="text" id="totaldebit" name="totaldebit" class="input-sm pull-right form-control" placeholder="0" tabindex=-1 readonly="readonly" {% if entity_basic.totaldebit %} value="{{entity_basic.totaldebit}}" {% endif %}>
                            </div>
                            <div class="row form-group">
                                <label for="" class="required">Totaal Credit Cards alle terminals €</label>
                                <input type="text" id="totalcredit" name="totalcredit" class="input-sm pull-right form-control" placeholder="0" tabindex=-1 readonly="readonly" {% if entity_basic.totalcredit %}  value="{{entity_basic.totalcredit}}" {% endif %}>
                            </div>
                            <div class="row form-group">
                                <label for="totaldag" class="required">Totaal Dagopbrengst €</label>
                                <input type="text" id="totaldag" name="totaldag" class="input-sm pull-right form-control" placeholder="0" tabindex=-1 readonly="readonly"  {% if entity_basic.totaldag %}   value="{{entity_basic.totaldag}}" {% endif %} >
                            </div>

                            <div class="row form-group">
                                <label for="saldoborg" class="required">Saldo Borg €</label>
                                <input type="text" id="saldoborg" name="saldoborg" class="input-sm pull-right form-control" placeholder="0" tabindex=-1 readonly="readonly" {% if entity_basic.saldoborg %}  value="{{entity_basic.saldoborg}}" {% endif %}>
                            </div>

                            <div class="row form-group">
                                <label for="kasver" class="required wrong">Kasverschil €</label>
                                <input type="text" id="kasver" name="kasver" class="input-sm pull-right form-control" placeholder="0" tabindex=-1 readonly="readonly"{% if entity_basic.kasver %}  value="{{entity_basic.kasver}}" {% endif %}>
                            </div>
                            <div class="row form-group">
                                <label for="" class="required">Toelichting kasverschil</label>
                                <textarea type="text" id="details" name="details" class="input-sm pull-right form-control" placeholder="0" > {{entity_basic.details}}</textarea>
                            </div>
                        </section>
                    </fieldset>
                </div>
            </form>
            <form id="form-notifier-hotel" class="container-fluid form-horizontal edit" autocomplete="off">
                <div class="form-body">
                <div class="form-group">
                            <label for="" class="control-label">Ingevuld door</label>
                            <select id="userdoor" class="form-control input-sm control-1" data-placeholder="Select..." name="userdoor">
                                <option></option>
                                {% for val in users%}
                                    <option value="{{val.id}}" {% if entity_basic.userdoor != null and entity_basic.userdoor.id == val.id %} selected='selected' {% endif %}>{{val.name}}</option>
                                {% endfor  %}
                            </select>

                </div>
                </div>
                <input type="hidden" id="finished" name="finished" required="required" class=" " {% if entity_basic.finished%} value="{{entity_basic.finished | date('d-m-Y') }}" {% endif %}>

            </form>


        </div>
    </div>
</div>

<script>
</script>
