{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Bill list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>E500</th>
                <th>E200</th>
                <th>E100</th>
                <th>E50</th>
                <th>E20</th>
                <th>E10</th>
                <th>E5</th>
                <th>E2</th>
                <th>E1</th>
                <th>E050</th>
                <th>E020</th>
                <th>E010</th>
                <th>Eind</th>
                <th>Waarvan</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('bill_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.e500 }}</td>
                <td>{{ entity.e200 }}</td>
                <td>{{ entity.e100 }}</td>
                <td>{{ entity.e50 }}</td>
                <td>{{ entity.e20 }}</td>
                <td>{{ entity.e10 }}</td>
                <td>{{ entity.e5 }}</td>
                <td>{{ entity.e2 }}</td>
                <td>{{ entity.e1 }}</td>
                <td>{{ entity.e050 }}</td>
                <td>{{ entity.e020 }}</td>
                <td>{{ entity.e010 }}</td>
                <td>{{ entity.eind }}</td>
                <td>{{ entity.waarvan }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('bill_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('bill_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('bill_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
