<fieldset id="data-bills" class="col-md-12">
    <h4>Eind Float</h4>
    <!--<form id="form-bills" action={{'cashclosure_create'}} method="post" class="form-horizontal" role="form">
        <!--errores del formulario total-->
        <div class="for-errors col-md-12"> 
            {{form_errors(form_bill)}}
        </div>
        <section class="x-group col-md-3 pull-left">
            <div class="row form-group">
              {{form_label(form_bill.e500,'€500',{'attr':{                       
                'class' :' control-label',
                }})}}
              {{form_widget(form_bill.e500, {'attr':{                       
                'class' :'input-sm pull-right form-control bill-control',
                'placeholder' : 0
                }})}}  
            </div>
            <div class="row form-group">
              {{form_label(form_bill.e200,'€200',{'attr':{                       
                'class' :' control-label',
                }})}}
              {{form_widget(form_bill.e200, {'attr':{                       
                'class' :'input-sm pull-right form-control bill-control',
                 'placeholder' : 0
                }})}}  
            </div>
            <div class="row form-group">
              {{form_label(form_bill.e100,'€100',{'attr':{                       
                'class' :' control-label',
                }})}}
              {{form_widget(form_bill.e100, {'attr':{                       
                'class' :'input-sm pull-right form-control bill-control',
                'placeholder' : 0
              }})}}  
            </div>
            <div class="row form-group">
              {{form_label(form_bill.e50,'€50',{'attr':{                       
               'class' :' control-label',
                }})}}
              {{form_widget(form_bill.e50 , {'attr':{                       
               'class' :'input-sm pull-right form-control bill-control',
               'placeholder' : 0
              }})}} 
            </div>
            <div class="row form-group">
              {{form_label(form_bill.e20,'€20',{'attr':{                       
                'class' :' control-label',
                }})}}
              {{form_widget(form_bill.e20 , {'attr':{                       
                'class' :'input-sm pull-right form-control bill-control',
                'placeholder' : 0
              }})}}
            </div>
            <div class="row form-group">
              {{form_label(form_bill.e10,'€10',{'attr':{                       
                'class' :' control-label',
                }})}}
              {{form_widget(form_bill.e10 , {'attr':{                       
                'class' :'input-sm pull-right form-control bill-control',
                'placeholder' : 0
              }})}}
            </div>
            <div class="row form-group">
              {{form_label(form_bill.e5,'€5',{'attr':{                       
                'class' :' control-label',
                }})}}
              {{form_widget(form_bill.e5 , {'attr':{                       
                'class' :'input-sm pull-right form-control bill-control',
                'placeholder' : 0
              }})}} 
            </div>
            <div class="row form-group totales">
              {{form_label(form_bill.eind,'Eind Float €',{'attr':{                       
                'class' :' control-label',
                }})}}
              {{form_widget(form_bill.eind , {'attr':{                       
                'class' :'input-sm pull-right form-control',
                'placeholder' : 0.00
              }})}} 
            </div>
        </section>
        <section class="z-group col-md-3 pull-left">            
            <div class="row form-group">
              {{form_label(form_bill.e2,'€2',{'attr':{                       
                'class' :' control-label',
                }})}}
              {{form_widget(form_bill.e2, {'attr':{                       
                'class' :'input-sm pull-right form-control bill-control',
                'placeholder' : 0
              }})}}
            </div>
            <div class="row form-group">
              {{form_label(form_bill.e1,'€1',{'attr':{                       
                'class' :' control-label',
                }})}}
              {{form_widget(form_bill.e1, {'attr':{                       
                'class' :'input-sm pull-right form-control bill-control',
                'placeholder' : 0
              }})}}
            </div>
            <div class="row form-group">
              {{form_label(form_bill.e050,'€0,50',{'attr':{                       
                'class' :' control-label',
                }})}}
              {{form_widget(form_bill.e050, {'attr':{                       
                'class' :'input-sm pull-right form-control bill-control',
                'placeholder' : 0
              }})}}  
            </div>
            <div class="row form-group">
              {{form_label(form_bill.e020,'€0,20',{'attr':{                       
                'class' :' control-label',
                }})}}
              {{form_widget(form_bill.e020 , {'attr':{                       
                'class' :'input-sm pull-right form-control bill-control',
                'placeholder' : 0
              }})}} 
            </div>
           <div class="row form-group">
              {{form_label(form_bill.e010,'€0,10',{'attr':{                       
                'class' :' control-label',
                }})}}
              {{form_widget(form_bill.e010 , {'attr':{                       
                'class' :'input-sm pull-right form-control bill-control',
                'placeholder' : 0
              }})}}
            </div>
            <div class="row form-group">
              {{form_label(form_bill.e005,'€0,05',{'attr':{                       
                'class' :' control-label',
                }})}}
              {{form_widget(form_bill.e005 , {'attr':{                       
               'class' :'input-sm pull-right form-control bill-control',
               'placeholder' : 0
              }})}}
            </div>            
            <div class="row form-group totales">
              {{form_label(form_bill.waarvan,'Waarvan muntgeld €',{'attr':{                       
                'class' :' control-label',
                }})}}
              {{form_widget(form_bill.waarvan , {'attr':{                       
                'class' :'input-sm pull-right form-control',
                'placeholder' : 0
              }})}}
            </div>
        </section>
            {{form_rest(form_bill)}}
    <!--</form>-->
</fieldset>             
    <script>
        function updateFields(){
             var bills = (Number($('#manage_restaurantbundle_bill_e500').val())   * 500)
                      +  (Number($('#manage_restaurantbundle_bill_e200').val())   * 200)
                      +  (Number($('#manage_restaurantbundle_bill_e100').val())   * 100)
                      +  (Number($('#manage_restaurantbundle_bill_e50').val())    * 50)
                      +  (Number($('#manage_restaurantbundle_bill_e20').val())    * 20)
                      +  (Number($('#manage_restaurantbundle_bill_e10').val())    * 10)  
                      +  (Number($('#manage_restaurantbundle_bill_e5').val())     * 5)
            $('#manage_restaurantbundle_bill_eind').val(bills);            
            
            var coins =  (Number($('#manage_restaurantbundle_bill_e2').val())     * 2)
                      +  Number($('#manage_restaurantbundle_bill_e1').val())
                      +  (Number($('#manage_restaurantbundle_bill_e050').val())   * 0.5) 
                      +  (Number($('#manage_restaurantbundle_bill_e020').val())   * 0.2)
                      +  (Number($('#manage_restaurantbundle_bill_e010').val())   * 0.1)
                      +  (Number($('#manage_restaurantbundle_bill_e005').val())   * 0.05)
            $('#manage_restaurantbundle_bill_waarvan').val(coins);
        }
        $('#data-bills').ready(function (){
            updateFields();
        })
        
         $('#data-bills').on('keyup', 'input.bill-control', function(){ 
             updateFields();                       
        });        
        
        
    </script>
