{% extends 'RestaurantBundle::frame.html.twig' %}
{% block title %} Issues {{ furniture.name }} {% endblock %}
{% block body %}
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-list"></i>{{ furniture.name }}
            </div>
            <div class="tools">
                <a href="{{ path('furniture') }}" class=" blue">
                    <i class="fa fa-folder"></i> Inventory
                </a>
                <a href="#" class=" blue" id="export">
                    <i class="fa fa-print"></i> Export
                </a>
            </div>
        </div>
        <div class="">
            <table class="table table-hover" id="dataissue">
                <thead>
                    <tr>
                        <th>Location</th>
                        <th>Date</th>
                        <th class="hidden-xs">Description</th>
                        <th class="hidden-xs">Image</th>
                        <th class="hidden-xs">Status</th>
                        {% if is_granted('ROLE_MAINTENANCE_EDIT') %}
                        <th></th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for reportIssue in reportIssues %}
                    {% if (reportIssue.status != 'Afgerond') or (is_granted('ROLE_SUPER_ADMIN')) %}
                    <tr {% if reportIssue.status == 'Wachten' %} class="alert-info" {% endif %}>
                        <td>
                            <a href="{% if is_granted('ROLE_MAINTENANCE_EDIT') %}{{ path('reportissue_show', { 'id': reportIssue.id }) }}{% else %}#{% endif %}">
                                <b>{{ reportIssue.location }}</b> <br/>
                                <i>{{ reportIssue.reporter }}</i>
                            </a>
                        </td>
                        <td>
                            {% if reportIssue.dated %}{{ reportIssue.dated|date('Y-m-d') }}{% endif %} &nbsp;
                            {% if reportIssue.reportedat %}{{ reportIssue.reportedat|date('H:i') }}{% endif %}<br/>
                        </td>
                        <td class="hidden-xs">
                            <a href="{% if is_granted('ROLE_MAINTENANCE_EDIT') %}{{ path('reportissue_show', { 'id': reportIssue.id }) }}{% else %}#{% endif %}">
                                <i class="fa  {% if reportIssue.priority == 'Normaal' %} {% elseif reportIssue.priority == 'Laag' %} {% else %} fa-arrow-up{% endif %}"
                                   style="color: #7c1212;"></i>
                                {{ reportIssue.details }}
                            </a>
                        </td>

                        <td>
                            <a href="{% if is_granted('ROLE_MAINTENANCE_EDIT') %}{{ path('reportissue_show', { 'id': reportIssue.id }) }}{% else %}#{% endif %}">
                                {% if reportIssue.pathimage %}<img
                                    src="{{ asset('uploads/images/reportissue/' ~ reportIssue.pathimage) }}"
                                    style="width: 80px;">{% endif %}
                            </a>
                        </td>

                        <td class="hidden-xs">
                            {% if reportIssue.status == 'Wachten' %}
                                <p>In behandeling</p>
                            {% elseif reportIssue.status == 'Open' %}
                                <p>Open</p>
                            {% else %}
                                <p>Afgerond</p>
                            {% endif %}
                        </td>
                        {% if is_granted('ROLE_MAINTENANCE_EDIT') %}
                        <td>
                            <a href="{{ path('reportissue_edit', { 'id': reportIssue.id }) }}">
                                <button type="button" class="btn blue-hoki btn-sm">Edit</button>
                            </a>
                        </td>
                        {% endif %}
                    </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    <script type="text/javascript" src="{{ asset('global/plugins/datatables/media/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
    <script>

        var initTable = function () {

            var table = $('#dataissue');

            // begin first table
            table.dataTable({
                "columns": [{
                    "orderable": true
                }, {
                    "orderable": true
                }, {
                    "orderable": true
                }, {
                    "orderable": false
                }, {
                    "orderable": true
                }{% if is_granted('ROLE_MAINTENANCE_EDIT') %}
                    , {
                    "orderable": true
                }{% endif %}],
                "lengthMenu": [
                    [25, 35, 50, -1],
                    [25, 35, 50, "All"] // change per page values here
                ],
                // set the initial value
                "pageLength": 15,
                "pagingType": "bootstrap_full_number",
                "language": {
                    "lengthMenu": "  _MENU_ records",
                    "paginate": {
                        "previous":"Prev",
                        "next": "Next",
                        "last": "Last",
                        "first": "First"
                    }
                },
                "columnDefs": [{  // set default column settings
                    'orderable': false,
                    'targets': [0]
                }, {
                    "searchable": true,
                    "targets": [0]
                }],
                "order": [
                    [1, "asc"]
                ] // set first column as a default sort by asc
            });

            var tableWrapper = jQuery('#dataissue_wrapper');

        }


        initTable();
        $("#export").click(function(e){
            e.preventDefault();
            $.get("{{ path('reportissue_pdfjson') }}", {'id_furniture':{{ furniture.id }}}, function(response){
                var y = 40;
                var x = 15;
                var page = 1;
                var pdf = new jsPDF();
                pdf.setFont("helvetica");
                var img = new Image();
//                img.src = "http://localhost:5800/img/tphlogo.jpg";
                img.src = "https://log.towerleisure.nl/web/img/tphlogo.jpg";
                pdf.addImage(img, 'jpg', 15, 10, 50, 9);
                pdf.setFontSize(10);
                pdf.setFontType('bold');
                pdf.text(15, 25, response.header);
                pdf.setFontType('italic');
                pdf.text(160, 18, response.date);
                pdf.text(160, 265, 'Page '+page + ' of ' +  response.pagetotal);
                pdf.line(15, 28, 200, 28)
                if (response.elements.length > 0){
                    $('.alert-success').text("Generating document ...").show(300)
                    setTimeout(function(){$('.alert-success').hide(300)}, 4400)
                    response.elements.forEach(function(item, i){
                        if (item.peacture != ''){
                            format = item.peacture.split('.')
                            var img = new Image();
                            if (format[1] == 'jpeg' || format[1] == 'png' || format[1] == 'jpg'){
                                //img.src = "../../uploads/images/reportissue/"+item.peacture;
                                img.src = "https://log.towerleisure.nl/web/uploads/images/reportissue/"+item.peacture;
                                pdf.addImage(img, format[1], x, y, 35, 30)
                                x = 55;
                            }
                        }
                        y += 3;
                        pdf.setFontSize(12);
                        pdf.setFontType('bold');
                        pdf.text(x, y, item.name);
                        pdf.setFontType('normal');
                        pdf.setFontSize(10);
                        pdf.text(x, y + 5, "Reported at: "+item.date);
                        pdf.text(x, y + 10, "Location: "+ item.location);
                        pdf.text(x, y + 15, "Reported by: "+item.reportedby);
                        pdf.text(x, y + 20, "Status: "+item.status);
                        y += 37;
                        if ((i + 1) % 5 == 0 && !(i + 1 == response.elements.length)){
                            page ++;
                            pdf.addPage()
                            //img.src = "http://localhost:5800/img/tphlogo.jpg";
                            img.src = "https://log.towerleisure.nl/web/img/tphlogo.jpg";
                            pdf.addImage(img, 'jpg', 15, 10, 50, 9);
                            pdf.setFontSize(10);
                            pdf.setFontType('bold');
                            pdf.text(15, 25, response.header);
                            pdf.setFontType('italic');
                            pdf.text(160, 18, response.date);
                            pdf.text(160, 265, 'Page '+page + ' of ' +  response.pagetotal);
                            pdf.line(15, 28, 200, 28)
                            y = 40;
                        }
                    })
                    pdf.save( Math.random().toString(36).substr(2, 15) + ".pdf");
                } else {
                    $('.alert-danger').text("There is not elements ...").show(300)
                    setTimeout(function(){$('.alert-danger').hide(300)}, 4400)

                }
            })

        })
    </script>


{% endblock %}
