{% extends 'AdminBundle::frame.html.twig' %}
{% block title%} Furniture {% endblock %}
{% block body %}
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-layers"></i>Furniture
                </div>
                <div class="tools">                    
                    <a href="{{path('furniture_new')}}" class=" blue">
                        <i class="fa fa-plus"></i> Create new 
                    </a>
                </div>
            </div>
            <div class="table-responsive">
               <table class="table table-striped table-condensed table-bordered table-advance table-hover">
                    <thead>
                        <tr>
                          <th class="hidden-xs counter"> #

                          </th>
                            <th >
                                <i class="fa fa-certificate"></i> Name
                            </th>
                            <th>
                                <i class="fa fa-sort-numeric-asc"></i> Serial number
                            </th>
                            <th>
                                <i class="fa fa-list"></i> Location
                            </th>
                            <th class="actions"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% set c = 1 %}
                        {% for entity in entities %}
                            <tr>
                                <td class="hidden-xs counter"><b>{{ c }}</b></td>
                                <td>{{ entity.name }}</td>
                                <td>{{ entity.serialnumber }}</td>
                                <td>{{ entity.location.details }}</td>
                                <td>
                                    <div class="btn-group dropdown ">
                                        <button class="btn blue-hoki btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                                            Actions  <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a href="{{ path('furniture_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-search"></span>View</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('furniture_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span>Edit</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('furniture_delete', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-remove"></span>Delete</a>
                                            </li>


                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {% set c = c + 1 %}
                        {% endfor %}
                    </tbody>
                </table>
                   
            </div>
        </div>
{% endblock %}
