{% extends 'RestaurantBundle::frame.html.twig' %}
{% block title %} New Furniture {% endblock %}
{% block body %}
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-layers"></i>Furniture
            </div>
            <div class="tools">
                <a href="{{ path('furniture') }}" class=" blue">
                    <i class="fa fa-list-alt"></i> List
                </a>
            </div>
        </div>
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-plus"></i>New
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                {% if form_errors(form) %}
                    <div class="form-errors alert alert-danger">
                        {{ form_errors(form) }}
                    </div>
                {% endif %}
                <form class="container-fluid form-horizontal" action="{{ path('furniture_create') }}"
                      method="POST" {{ form_enctype(form) }}>
                    <div class="form-body">

                        <div class="col-md-5">
                            <div class="row form-group">
                                {{ form_label(form.name,'Name',{'attr':{
                                    'class' :' control-label',
                                }}) }}
                                {{ form_widget(form.name, {'attr':{
                                    'class' :'input-sm pull-right form-control'
                                }}) }}
                                {{ form_errors(form.name) }}
                            </div>
                            <div class="row form-group">
                                {{ form_label(form.quantity,'Quantity',{'attr':{
                                    'class' :' control-label',
                                }}) }}
                                {{ form_widget(form.quantity, {'attr':{
                                    'class' :'input-sm pull-right form-control entero'
                                }}) }}
                                {{ form_errors(form.quantity) }}
                            </div>
                            <div class="row form-group">
                                {{ form_label(form.price,'Price €',{'attr':{
                                    'class' :' control-label',
                                }}) }}
                                {{ form_widget(form.price, {'attr':{
                                    'class' :'input-sm pull-right form-control real'
                                }}) }}
                                {{ form_errors(form.price) }}
                            </div>
                            <div class="row form-group">
                                {{ form_label(form.totalvalue,'Total Value €',{'attr':{
                                    'class' :' control-label',
                                }}) }}
                                {{ form_widget(form.totalvalue, {'attr':{
                                    'class' :'input-sm pull-right form-control',

                                }}) }}
                                {{ form_errors(form.totalvalue) }}
                            </div>
                            <div class="row form-group">
                                {{ form_label(form.details,'Details',{'attr':{
                                    'class' :' control-label',
                                }}) }}
                                {{ form_widget(form.details, {'attr':{
                                    'class' :'input-sm pull-right form-control'
                                }}) }}
                                {{ form_errors(form.details) }}
                            </div>
                            <div class="row form-group">
                                {{ form_label(form.tags,'Tags',{'attr':{
                                    'class' :' control-label',
                                }}) }}
                                {{ form_widget(form.tags, {'attr':{
                                    'class' :'input-sm form-control'
                                }}) }}
                                {{ form_errors(form.tags) }}
                            </div>

                            <div class="row form-group">
                                {{ form_label(form.serialnumber,'Serial number',{'attr':{
                                    'class' :' control-label',
                                }}) }}
                                {{ form_widget(form.serialnumber, {'attr':{
                                    'class' :'form-control col-md-12 qrs tags',
                                }}) }}
                                {{ form_errors(form.serialnumber) }}
                                <br/>
                                <a href="#modal-scan" role="button" class="btn btn-xs grey" data-toggle="modal">Scan</a>
                            </div>
                            <div class="row form-group" hidden="hidden">
                                {{ form_label(form.status,'Status',{'attr':{
                                    'class' :' control-label',
                                }}) }}
                                {{ form_widget(form.status, {'attr':{
                                    'class' :'input-sm pull-right form-control'
                                }}) }}
                                {{ form_errors(form.status) }}
                            </div>
                            <div class="row form-group" hidden="hidden">
                                {{ form_label(form.folder,'folder',{'attr':{
                                    'class' :' control-label',
                                }}) }}
                                {{ form_widget(form.folder, {'attr':{
                                    'class' :'input-sm pull-right form-control'
                                }}) }}
                                {{ form_errors(form.folder) }}
                            </div>

                            <div class="row form-group thumbnail" style=" border: none; ">
                                <img src="{{ asset('img/noimage.jpg') }}" alt="Without image" style="height: 250px;">
                            </div>
                            <div class="row form-group">
                                {{ form_label(form.image,'Image',{'attr':{
                                    'class' :' control-label',
                                }}) }}
                                {{ form_widget(form.image, {'attr':{
                                    'class' :'',
                                    'accept' :'image/*',
                                }}) }}
                                {{ form_errors(form.image) }}
                            </div>
                            <br><br>
                            <div class="row form-group ">
                                {{ form_rest(form) }}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div id="modal-scan" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Scan QR</h4>
                </div>
                <div class="modal-body" style="overflow: hidden;">
                    <div class="row" style="padding: 5px 20px;">
                        <label>Scan from WebCam:</label>
                        <div class="qrscanner" id="scanner">
                        </div>
                        <br/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ asset('js/qr/jsqrscanner.nocache.js')}}"></script>

    <script>
        $(document).ready(function () {
            $('#restaurantbundle_furniture_serialnumber').tagsInput({
            });
            $('select[multiple="multiple"], select[multiple]').select2({
                minimumResultsForSearch: -1
            });
            $('div').on('keypress','.real', function(evt){
                evt = (evt) ? evt : window.event;
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if (charCode > 31 && (charCode < 44 || charCode > 57)) {
                    return false;
                }
                var val = $(this).val()
                $(this).val(val.split('.').join(','))

                return true;
            })
            $('div').on('blur','.real', function(event){
                $(event.target).val(function(index, value) {
                    if (value != '' && value != 0)
                        return numeral(value).format('0.0,');
                    return '';

                });
            })
            $('div').on('keypress','.entero', function(evt){
                evt = (evt) ? evt : window.event;
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if (charCode > 31 && (charCode < 44 || charCode > 57)) {
                    return false;
                }
                return true;
            })
            $('div').on('blur','.entero', function(event){
                $(event.target).val(function(index, value) {
                    if (value != '' && value != 0)
                        return numeral(value).format('0,0');
                    return '';
                });
            })
            $('form button[type="submit"]').click(function(e){
                e.preventDefault();
                original = $('form').find('#restaurantbundle_furniture_totalvalue').val()
                $('form').find('#restaurantbundle_furniture_totalvalue').val(original.split(',').join(''))
                original = $('form').find('#restaurantbundle_furniture_price').val()
                $('form').find('#restaurantbundle_furniture_price').val(original.split(',').join(''))
                if ($('.entero').val().trim().length ==0
                    || $('.real').val().trim().length == 0){
                    return false;
                } else {
                    $('form').submit()
                }
            })
            $('input').trigger('blur')

        })
        $('#restaurantbundle_furniture_totalvalue').prop('readonly', 'readonly')
        $('#restaurantbundle_furniture_image').on({
            'change': function (evt) {
                var files = evt.target.files; // FileList object
                // Obtenemos la imagen del campo "file".
                for (var i = 0, f; f = files[i]; i++) {
                    //Solo admitimos imágenes.
                    if (!f.type.match('image.*')) {
                        continue;
                    }

                    var reader = new FileReader();

                    reader.onload = (function (theFile) {
                        return function (e) {
                            // Insertamos la imagen
                            $(".thumbnail img").attr('src', e.target.result);
                        };
                    })(f);

                    reader.readAsDataURL(f);
                }
            }
        })

        $('#restaurantbundle_furniture_folder').val({{ parent }});

        $('#restaurantbundle_furniture_quantity, #restaurantbundle_furniture_price').on(
            'keyup', function(){
                    total = numeral($('#restaurantbundle_furniture_quantity').val()).value() * numeral($('#restaurantbundle_furniture_price').val()).value()
                $('#restaurantbundle_furniture_totalvalue').val(numeral(total).format('0.0,'))
        })

        function onQRCodeScanned(scannedText)
        {
            var scannedTextMemo = document.getElementById("restaurantbundle_furniture_serialnumber_tag");
            if(scannedTextMemo)
            {
                var isequal = false;
                parts = scannedTextMemo.value.split(",");
                console.log(parts)
                for (var i = 0; i < parts.length; i++){
                    if (parts[i] == scannedText){
                        isequal = true
                        $('.close').trigger('click');
                    }
                }
                if (!isequal) {
                    scannedTextMemo.value = scannedText;
                }
                $('.close').trigger('click');
                $('#restaurantbundle_furniture_serialnumber_tag').trigger({
                    type: 'keypress',
                    which: 13
                });
            }
        }

        //this function will be called when JsQRScanner is ready to use
        function JsQRScannerReady()
        {
            //create a new scanner passing to it a callback function that will be invoked when
            //the scanner succesfully scan a QR code
            var jbScanner = new JsQRScanner(onQRCodeScanned);
            //reduce the size of analyzed images to increase performance on mobile devices
            jbScanner.setSnapImageMaxSize(300);
            var scannerParentElement = document.getElementById("scanner");
            if(scannerParentElement)
            {
                //append the jbScanner to an existing DOM element
                jbScanner.appendTo(scannerParentElement);
            }
        }
    </script>
{% endblock %}

