{% extends 'AdminBundle::frame.html.twig' %}
{% block title %} New Furniture {% endblock %}
{% block body %}
    <style>
        canvas {
            display: none;
        }
    </style>
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-layers"></i>Furniture
            </div>
            <div class="tools">
                <a href="{{ path('furniture') }}" class=" blue">
                    <i class="fa fa-list-alt"></i> List
                </a>
            </div>
        </div>
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-plus"></i>New
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                {% if form_errors(form) %}
                    <div class="form-errors alert alert-danger">
                        {{ form_errors(form) }}
                    </div>
                {% endif %}
                <form class="container-fluid form-horizontal" action="{{ path('furniture_create') }}"
                      method="POST" {{ form_enctype(form) }}>
                    <div class="form-body">

                        <div class="col-md-5">
                            <div class="row form-group">
                                {{ form_label(form.name,'Name',{'attr':{
                                    'class' :' control-label',
                                }}) }}
                                {{ form_widget(form.name, {'attr':{
                                    'class' :'input-sm pull-right form-control'
                                }}) }}
                                {{ form_errors(form.name) }}
                            </div>
                            <div class="row form-group">
                                {{ form_label(form.quantity,'Quantity',{'attr':{
                                    'class' :' control-label',
                                }}) }}
                                {{ form_widget(form.quantity, {'attr':{
                                    'class' :'input-sm pull-right form-control entero'
                                }}) }}
                                {{ form_errors(form.quantity) }}
                            </div>
                            <div class="row form-group">
                                {{ form_label(form.price,'Price €',{'attr':{
                                    'class' :' control-label',
                                }}) }}
                                {{ form_widget(form.price, {'attr':{
                                    'class' :'input-sm pull-right form-control real'
                                }}) }}
                                {{ form_errors(form.price) }}
                            </div>
                            <div class="row form-group">
                                {{ form_label(form.totalvalue,'Total Value €',{'attr':{
                                    'class' :' control-label',
                                }}) }}
                                {{ form_widget(form.totalvalue, {'attr':{
                                    'class' :'input-sm pull-right form-control',

                                }}) }}
                                {{ form_errors(form.totalvalue) }}
                            </div>
                            <div class="row form-group">
                                {{ form_label(form.details,'Details',{'attr':{
                                    'class' :' control-label',
                                }}) }}
                                {{ form_widget(form.details, {'attr':{
                                    'class' :'input-sm pull-right form-control'
                                }}) }}
                                {{ form_errors(form.details) }}
                            </div>
                            <div class="row form-group">
                                {{ form_label(form.tags,'Tags',{'attr':{
                                    'class' :' control-label',
                                }}) }}
                                {{ form_widget(form.tags, {'attr':{
                                    'class' :'input-sm form-control'
                                }}) }}
                                {{ form_errors(form.tags) }}
                            </div>

                            <div class="row form-group">
                                {{ form_label(form.serialnumber,'Serial number',{'attr':{
                                    'class' :' control-label',
                                }}) }}
                                {{ form_widget(form.serialnumber, {'attr':{
                                    'class' :'input-sm pull-right form-control',
                                }}) }}
                                {{ form_errors(form.serialnumber) }}
                            </div>
                            <hr>

                            <div class="row form-group">
                                <label>Scan from WebCam:</label>
                                <div>
                                    <video muted id="qr-video" style="width: 100%"></video>
                                </div>

                                <select id="inversion-mode-select" hidden="hidden">
                                    <option value="original">Scan original (dark QR code on bright background)</option>
                                </select>
                                <b>Detected QR code: </b>
                                <span id="cam-qr-result">None</span>
                                <br>
                            </div>
                            <hr>
                            <div class="row form-group" hidden="hidden">
                                {{ form_label(form.status,'Status',{'attr':{
                                    'class' :' control-label',
                                }}) }}
                                {{ form_widget(form.status, {'attr':{
                                    'class' :'input-sm pull-right form-control'
                                }}) }}
                                {{ form_errors(form.status) }}
                            </div>
                            <div class="row form-group" hidden="hidden">
                                {{ form_label(form.folder,'folder',{'attr':{
                                    'class' :' control-label',
                                }}) }}
                                {{ form_widget(form.folder, {'attr':{
                                    'class' :'input-sm pull-right form-control'
                                }}) }}
                                {{ form_errors(form.folder) }}
                            </div>

                            <div class="row form-group thumbnail" style=" border: none; ">
                                <img src="{{ asset('img/noimage.jpg') }}" alt="Without image" style="height: 100%;">
                            </div>
                            <div class="row form-group">
                                {{ form_label(form.image,'Image',{'attr':{
                                    'class' :' control-label',
                                }}) }}
                                {{ form_widget(form.image, {'attr':{
                                    'class' :'',
                                    'accept' :'image/*'
                                }}) }}
                                {{ form_errors(form.image) }}
                            </div>
                            <br><br>
                            <div class="row form-group ">
                                {{ form_rest(form) }}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('select[multiple="multiple"], select[multiple]').select2();
            $('div').on('keypress','.real', function(evt){
                evt = (evt) ? evt : window.event;
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if (charCode > 31 && (charCode < 44 || charCode > 57)) {
                    return false;
                }
                var val = $(this).val()
                $(this).val(val.split('.').join(','))

                return true;
            })
            $('div').on('blur','.real', function(event){
                $(event.target).val(function(index, value) {
                    if (value != '' && value != 0)
                        return numeral(value).format('0.0,');
                    return '';

                });
            })
            $('div').on('keypress','.entero', function(evt){
                evt = (evt) ? evt : window.event;
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if (charCode > 31 && (charCode < 44 || charCode > 57)) {
                    return false;
                }
                return true;
            })
            $('div').on('blur','.entero', function(event){
                $(event.target).val(function(index, value) {
                    if (value != '' && value != 0)
                        return numeral(value).format('0,0');
                    return '';
                });
            })
            $('form button[type="submit"]').click(function(e){
                e.preventDefault();
                original = $('form').find('#restaurantbundle_furniture_totalvalue').val()
                console.log(original)
                $('form').find('#restaurantbundle_furniture_totalvalue').val(original.split(',').join(''))

                original = $('form').find('#restaurantbundle_furniture_price').val()
                $('form').find('#restaurantbundle_furniture_price').val(original.split(',').join(''))
                $('form').submit()
            })
            $('input').trigger('blur')

        })
        $('#restaurantbundle_furniture_totalvalue').prop('readonly', 'readonly')
        $('#restaurantbundle_furniture_image').on({
            'change': function (evt) {
                var files = evt.target.files; // FileList object
                // Obtenemos la imagen del campo "file".
                for (var i = 0, f; f = files[i]; i++) {
                    //Solo admitimos imágenes.
                    if (!f.type.match('image.*')) {
                        continue;
                    }

                    var reader = new FileReader();

                    reader.onload = (function (theFile) {
                        return function (e) {
                            // Insertamos la imagen
                            $(".thumbnail img").attr('src', e.target.result);
                        };
                    })(f);

                    reader.readAsDataURL(f);
                }
            }
        })

        $('#restaurantbundle_furniture_folder').val({{ parent }});

        $('#restaurantbundle_furniture_quantity, #restaurantbundle_furniture_price').on(
            'keyup', function(){
                    total = $('#restaurantbundle_furniture_quantity').val() * $('#restaurantbundle_furniture_price').val()
                $('#restaurantbundle_furniture_totalvalue').val(numeral(total).format('0.0,'))
        })



    </script>

    <script type="module">
        import QrScanner from "{{ asset('js/qr/qr-scanner.min.js') }}";
        QrScanner.WORKER_PATH = '{{ asset("js/qr/qr-scanner-worker.min.js") }}';

        const video = document.getElementById('qr-video');
        const camQrResult = document.getElementById('cam-qr-result');

        function setResult(label, result) {
            label.textContent = result;
            /*var qrs= []
            if (document.getElementById('restaurantbundle_furniture_serialnumber').value)
                qrs = document.getElementById('restaurantbundle_furniture_serialnumber').value.split(" QR: ")

            var alredy = false;
            for (var i=0; i < qrs.length; i++ ){
                if (qrs[i].trim() == result.trim()){
                    alredy = true;
                    break;
                }
            }
            if (!alredy )
                document.getElementById('restaurantbundle_furniture_serialnumber').value += " QR: "+result
*/
            document.getElementById('restaurantbundle_furniture_serialnumber').value = result
            label.style.color = 'teal';
        }
        QrScanner.hasCamera().then(hasCamera => camHasCamera.textContent = hasCamera);
        const scanner = new QrScanner(video, result => setResult(camQrResult, result));
        scanner.start();
        document.getElementById('inversion-mode-select').addEventListener('change', event => {
            scanner.setInversionMode(event.target.value);
        });
    </script>
{% endblock %}

