{% extends 'AdminBundle::frame.html.twig' %}
{% block title %} Show Furniture {% endblock %}
{% block body %}
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-layers"></i>Furniture
            </div>
            <div class="tools">
                <a href="{{ path('furniture') }}" class=" blue">
                    <i class="fa fa-list-alt"></i> List
                </a>
                <a href="{{ path('furniture_edit', { 'id': entity.id }) }}" class=" blue">
                    <i class="fa fa-pencil"></i> Edit
                </a>
            </div>
        </div>

        <div class="row margin-bottom-30">

            <div class="col-md-6">
                {% if 'https:' in entity.pathimage %}
                    <img  class="img-thumbnail"  src="{{ entity.pathimage }}" alt="Without image" >
                {% elseif image %}
                    <img  class="img-thumbnail"  src="{{ asset('uploads/images/furniture/') }}{{ image }}" alt="Without image" >
                {% else %}
                    <img  class="img-thumbnail"  src="{{ asset('img/noimage.jpg') }}" alt="Without image" >
                {% endif %}
            </div>
            <div class="col-md-6">
                <h4><b>{{ entity.name }}</b></h4>
                <h4> <b>Qty: </b>{{ entity.quantity }} | <b>€ </b>{{ (entity.quantity * entity.price) | number_format(2 , ',', '.')  }} </h4>
                <br/>
                    <p style="font-size: 15px">
                        <i class="fa fa-money"></i> <b>Price:</b> {{ entity.price | number_format(2, ',', '.')}}
                    </p>
                    <p style="font-size: 15px">
                        <i class="fa fa-tags"></i> <b>Tags:</b>
                        {% for tag in entity.tags  %}
                             {{ tag }},
                        {% endfor %}
                    </p>
                    <p style="font-size: 15px">
                        <i class="fa fa-list"></i> <b>Serial number:</b> {{ entity.serialnumber }}                </p>
                    <p style="font-size: 15px">
                        <i class="fa fa-folder"></i> <b>Folder:</b> {{ entity.folder.details }}                </p>
                <br/>
                {% if entity.details %}
                <!-- Blockquotes -->
                <blockquote class="hero">
                    <p>
                        {{ entity.details }}
                    </p>
                </blockquote>
                {% endif %}
            </div>
        </div>

    </div>
    <script>

        $(document).ready(function () {
            $('select[multiple="multiple"], select[multiple]').select2();
            $('select[multiple="multiple"], select[multiple]').select2();
            $('div').on('keypress','.real', function(evt){
                evt = (evt) ? evt : window.event;
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if (charCode > 31 && (charCode < 44 || charCode > 57)) {
                    return false;
                }
                var val = $(this).val()
                $(this).val(val.split('.').join(','))

                return true;
            })
            $('div').on('blur','.real', function(event){
                $(event.target).val(function(index, value) {
                    if (value != '' && value != 0)
                        return numeral(value).format('0.0,');
                    return '';

                });
            })
            $('div').on('keypress','.entero', function(evt){
                evt = (evt) ? evt : window.event;
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if (charCode > 31 && (charCode < 44 || charCode > 57)) {
                    return false;
                }
                return true;
            })
            $('div').on('blur','.entero', function(event){
                $(event.target).val(function(index, value) {
                    if (value != '' && value != 0)
                        return numeral(value).format('0,0');
                    return '';
                });
            })
            $('form button[type="submit"]').click(function(e){
                e.preventDefault();
                original = $('form').find('#restaurantbundle_furniture_totalvalue').val()
                console.log(original)
                $('form').find('#restaurantbundle_furniture_totalvalue').val(original.split(',').join(''))

                original = $('form').find('#restaurantbundle_furniture_price').val()
                $('form').find('#restaurantbundle_furniture_price').val(original.split(',').join(''))
                $('form').submit()
            })
            $('input').trigger('blur')
        })

        $('input, textarea, select').prop('disabled', 'disabled')

    </script>


{% endblock %}

