{% extends 'AdminBundle::frame.html.twig' %}
{% block title %} New Worker {% endblock %}
{% block body %}
<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon icon-users"></i>Workers
        </div>
        <div class="tools">
            <a href="{{path('worker')}}" class=" blue">
                <i class="fa fa-list-alt"></i> List
            </a>
        </div>
    </div>
    <div class="portlet box blue-hoki">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-plus"></i>New
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse">
                </a>
            </div>
        </div>
        <div class="portlet-body form">
            {% if form_errors(form) %}
                <div class="alert alert-danger display-hide" style="display: block;">
                    <button class="close" data-close="alert"></button>
                    <span>  {{form_errors(form)}} </span>
                </div>
            {% endif %}
            <form class="container-fluid form-horizontal " action="{{path('worker_create')}}" method="POST" {{form_enctype(form)}}>
                <div class="form-body col-md-5">
                    <div class="row form-group">
                        {{form_label(form.name,'Name',{'attr':{
                            'class' :' control-label',
                        }})}}
                        {{form_widget(form.name, {'attr':{
                            'class' :' form-control'
                        }})}}
                        {{form_errors(form.name)}}
                    </div>
                    <div class="row form-group ">
                        {{form_label(form.position,'Position',{'attr':{
                            'class' :' control-label',
                        }})}}
                        {{form_widget(form.position, {'attr':{
                            'class' :' form-control'
                        }})}}
                        {{form_errors(form.position)}}
                    </div>
                    <div class="row form-group">
                        <div class="">

                            <label>
                                {{form_widget(form.isactive,{'attr':{'type' :'checkbox'}})}}Is Active
                            </label>
                        </div>
                    </div>
                    <div class="row form-group ">
                        {{ form_rest(form) }}
                    </div>

                </div>
            </form>
        </div>
    </div>
    </div>
{% endblock %}
