{% set current_user = app.user %}
<div class="page-header navbar navbar-fixed-top  ">
    <div class="page-header-inner">
        <div class="page-logo">
            <a href="{{ path('home') }}">
                <img src="{{asset('admin/layout/img/logo.png')}}" alt="logo" class="logo-default"/>
            </a>
            <div class="menu-toggler sidebar-toggler hide">
                <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
            </div>

        </div>

        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"></a>
        <div class="top-menu">


            <ul class="nav navbar-nav pull-right">

                <!-- BEGIN USER LOGIN DROPDOWN -->
                <li class="dropdown dropdown-user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <!--<img alt="" class="img-circle" src="../../assets/admin/layout/img/avatar3_small.jpg"/>-->
                        <span class="username">Hi
                            <b>{% if is_granted('ROLE_USER') %}{{ current_user.username }}{% else %}Gest{% endif %}</b></span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    {% if is_granted('ROLE_USER') %}
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{path('fos_user_profile_edit', {'id':current_user.id})}}">
                                <i class="icon-user"></i> My Profile </a>
                        </li>
                        <li>
                            <a href="{{path('fos_user_security_logout')}}">
                                <i class="icon-key"></i> Log Out </a>
                        </li>
                    </ul>
                    {% endif %}
                </li>
                <!-- END USER LOGIN DROPDOWN -->
                
                <!-- END QUICK SIDEBAR TOGGLER -->
            </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
</div>
