{% extends 'RestaurantBundle::frame.html.twig' %}
{% block title %} Edit Issue {% endblock %}
{% block body %}
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-energy"></i>Edit Issue
            </div>
            <div class="tools">
                <a href="{{ path('reportissue_index') }}" class=" blue">
                    <i class="fa fa-list-alt"></i> List
                </a>
            </div>
        </div>
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-pencil"></i>Edit
                </div>
            </div>
            <div class="portlet-body form">
                {% if form_errors(edit_form) %}
                    <div class="form-errors alert alert-danger">
                        {{ form_errors(edit_form) }}
                    </div>
                {% endif %}
                <form class="container-fluid form-horizontal" action="{{ path('reportissue_edit', {"id":reportIssue.id}) }}"
                      method="POST" {{ form_enctype(edit_form) }} novalidate>
                    <div class="form-body">

                        <div class="col-md-5">
                            <div class="row form-group">
                                {{ form_label(edit_form.dated,'Date',{'attr':{
                                    'class' :' control-label',
                                }}) }}
                                {{ form_widget(edit_form.dated, {'attr':{
                                    'class' :'input-sm pull-right form-control',
                                }}) }}
                                {{ form_errors(edit_form.dated) }}
                            </div>

                            <div class="row form-group">
                                {{ form_label(edit_form.reportedat,'Time',{'attr':{
                                    'class' :' control-label',
                                }}) }}
                                {{ form_widget(edit_form.reportedat, {'attr':{
                                    'class' :'input-sm pull-right form-control',
                                    'readonly' : 'readonly'
                                }}) }}
                                {{ form_errors(edit_form.reportedat) }}
                            </div>
                            <div class="row form-group">
                                <label for="location">Location</label>
                                <select id="location" class="form-control input-sm select2">
                                    <option>Select...</option>
                                    {% for place in places %}
                                        <option value="{{ place.id }}">{{ place.details }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="row form-group" id="select_room">
                                <label for="sub-location">Room</label>
                                <select id="sub-location" class="form-control input-sm select2" disabled="disabled">
                                </select>
                            </div>
                            <div class="row form-group" id="select_furniture">
                                <label for="furniture">Inventory</label>
                                <select id="furniture" class="form-control input-sm select2">
                                </select>
                            </div>
                            <div class="row form-group">
                                {{ form_label(edit_form.details,'Description',{'attr':{
                                    'class' :' control-label',
                                }}) }}
                                {{ form_widget(edit_form.details, {'attr':{
                                    'class' :'input-sm pull-right form-control'
                                }}) }}
                                {{ form_errors(edit_form.details) }}
                            </div>
                            <div class="row form-group">
                                {{ form_label(edit_form.image,'Image',{'attr':{
                                    'class' :' control-label',
                                }}) }}
                                {{ form_widget(edit_form.image, {'attr':{
                                    'class' :'',
                                    'accept' :'image/*'
                                }}) }}
                                {{ form_errors(edit_form.image) }}
                            </div>
                            <div class="row form-group">
                                {{ form_label(edit_form.priority,'Prioriteit',{'attr':{
                                    'class' :' control-label',
                                }}) }}
                                {{ form_widget(edit_form.priority, {'attr':{
                                    'class' :'input-sm form-control'
                                }}) }}
                                {{ form_errors(edit_form.priority) }}
                            </div>
                            {% if reportIssue.reporter %}
                            <div class="row form-group">
                                {{ form_label(edit_form.reporter,'Reporter',{'attr':{
                                    'class' :' control-label',
                                }}) }}
                                {{ form_widget(edit_form.reporter, {'attr':{
                                    'class' :'input-sm pull-right form-control',
                                }}) }}
                                {{ form_errors(edit_form.reporter) }}
                            </div>
                                {% else %}
                                    <div class="row form-group" hidden="hidden">
                                        {{ form_label(edit_form.reporter,'Reporter',{'attr':{
                                            'class' :' control-label',
                                        }}) }}
                                        <input class="form-control" disabled="disabled" value="Generated automatically">
                                        {{ form_errors(edit_form.reporter) }}
                                    </div>
                            {% endif %}
                            <div class="row form-group">
                                {{ form_label(edit_form.responsible,'Responsible',{'attr':{
                                    'class' :' control-label',
                                }}) }}
                                {{ form_widget(edit_form.responsible, {'attr':{
                                    'class' :'input-sm pull-right form-control',
                                }}) }}
                                {{ form_errors(edit_form.responsible) }}
                            </div>
                            <br><br>
                            <div class="form-group status-issue">
                                {{ form_widget(edit_form.status) }}
                                {{ form_errors(edit_form.status) }}
                            </div>
                            <br><br>
                                <div class="row form-group">
                                    <button type="submit" id="restaurantbundle_reportissue_submit" name="restaurantbundle_reportissue[submit]" class="btn btn-primary">Update</button>


                                </div>

                            <br><br>

                            <div class="row form-group " hidden="hidden" style="display: none">
                                {{ form_rest(edit_form) }}
                            </div>
                        </div>

                        <div class="col-md-7">
                            {% if reportIssue.pathimage %}
                                <img style="width: 100%" class="img-thumbnail" src="{{ asset('uploads/images/reportissue/' ~ reportIssue.pathimage) }}" />
                            {% else %}
                                <img style="width: 100%" class="img-thumbnail"  src="{{ asset('img/noimage.jpg') }}" alt="Without image" >
                            {% endif %}
                            <br/><br/>
                        </div>
                    </div>
                </form>
                <form hidden="hidden" method="post" action="{{ path('reportissue_changestatus', {"id":reportIssue.id}) }}" class="change-status">
                    <input type="hidden" value="{{ reportIssue.status }}" name="status">
                </form>
            </div>
        </div>
    </div>

    <script>
        var start = true;
        function updateValue(){
            if (! start){
                $("#report_issue_room").val($('#sub-location').val())
                $("#report_issue_furniture").val($('#furniture').val())
                $("#report_issue_location").val($('#location').val())
            }
        }
        function getFolders(id) {
            $.post("{{ path('reportissue_getfurnitures') }}", {'id':id}, function(response){
                if (Object.keys(response).length > 0){
                    option = '<select id="furniture" class="form-control input-sm select2" onchange="updateValue()"><option>Select ...</option>';
                    for (var item in response){
                        option += '<option value="'+item+'">'+response[item]+'</option>'
                    }
                    option += '</select>'
                    $("#select_furniture select").remove()
                    $("#select_furniture").append(option)
                    if (start){
                        $('#furniture').val($('#report_issue_furniture').val())
                        start = !start;
                    }
                }
                else{
                    $("#select_furniture select").val("").prop('disabled', 'disabled')
                }
            })
            updateValue();
        }
        $('#location').change(function () {
            $.post("{{ path('reportissue_getsubfolder') }}", {'id':$(this).val()}, function(response){
                if (Object.keys(response).length > 0){
                    option = '<select id="sub-location" class="form-control input-sm select2" onchange="getFolders($(this).val())"><option>Select ...</option>';
                    for (var item in response){
                        option += '<option value="'+item+'">'+response[item]+'</option>'
                    }
                    option += '</select>'
                    $("#select_room select").remove()
                    $("#select_room").append(option)
                }
                else {
                    getFolders($('#location').val())
                    $("#sub-location").val("").prop('disabled', 'disabled')
                }
            })
            $("#select_furniture").find('select').val("").prop('disabled', 'disabled')
            updateValue();
        })


        $('#location').val($('#report_issue_location').val())
        $('#location').trigger('change')
        setTimeout(function(){
            if ($('#report_issue_room').val() > 0){
                $('#sub-location').val($('#report_issue_room').val())
                $('#sub-location').trigger('change')
            }
        }, 1000)
        $('.btn-change-status').click(function(){
            $(".change-status input[name='status']").val($(this).val());
            $('.change-status').submit();
        })


    </script>
{% endblock %}
