{% extends 'RestaurantBundle::frame.html.twig' %}
{% block title %} List Issues {% endblock %}
{% block body %}
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-list"></i>Issues
            </div>
            <div class="tools">
                <a href="{{ path('reportissue_new') }}" class=" blue">
                    <i class="fa fa-plus"></i> Create new
                </a>
                <a href="#" class=" blue" id="export">
                    <i class="fa fa-print"></i> Export
                </a>
            </div>
        </div>
        <div class="">
            <div class="row">
            <div class="col-md-3 pull-right">
                <label>Status:
                    <select id="status-filter" class="input-inline form-control" onchange="search()">
                        <option value="All">All</option>
                        <option value="Afgerond">Afgerond</option>
                        <option value="In behandeling">In behandeling</option>
                        <option value="Open">Open</option>
                        <option value="Pending"  selected="selected">Open & In behandeling</option>
                    </select>
                </label>
                <label style="margin-left: 10px;">Responsible:
                    <select id="responsible-filter" class="input-inline form-control" onchange="search()">
                        <option value="All">All</option>
                        <option value="Not defined">Not defined</option>
                        {% for responsible in responsibles %}
                        <option value="{{ responsible.responsible.name }}">{{ responsible.responsible.name }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
            </div>

            <table class="table table-hover" id="dataissue">
                <thead>
                    <tr>
                        <th class="hidden-xs">Image</th>
                        <th class="hidden-xs">Date</th>
                        <th>Responsible</th>
                        <th>Location</th>
                        <th class="hidden-xs">Description</th>
                        <th class="hidden-xs">Status</th>
                        {% if is_granted('ROLE_MAINTENANCE_EDIT') %}
                        <th></th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% set watchen = 0 %}
                {% set open = 0 %}
                {% set afgerond = 0 %}
                {% for reportIssue in reportIssues %}
                <tr {% if reportIssue.status == 'Wachten' %} class="alert-info" {% endif %} {% if reportIssue.status == 'Afgerond' %} class="alert-success" {% endif %} {% if reportIssue.status != 'Open' %} style="display: none;" {% endif %} >
                        <td class="hidden-xs">
                            <a href="{% if is_granted('ROLE_MAINTENANCE_EDIT') %}{{ path('reportissue_edit', { 'id': reportIssue.id }) }}{% else %}#{% endif %}">
                                {% if reportIssue.pathimage %}<img
                                    src="{{ asset('uploads/images/reportissue/' ~ reportIssue.pathimage) }}"
                                    style="width: 80px; max-height: 90px">
                                {% else %}
                                    <img src="{{ asset('img/noimage.jpg') }}"
                                            style="width: 80px; max-height: 90px">
                                {% endif %}
                            </a>
                        </td>
                        <td class="hidden-xs">
                            <a href="{{ path('reportissue_edit', {'id':reportIssue.id}) }}">
                            {% if reportIssue.dated %}{{ reportIssue.dated|date('Y-m-d') }}{% endif %} &nbsp;
                            {% if reportIssue.reportedat %}{{ reportIssue.reportedat|date('H:i') }}{% endif %}<br/>
                            </a>
                        </td>
                    <td>
                        <a href="{% if is_granted('ROLE_MAINTENANCE_EDIT') %}{{ path('reportissue_edit', { 'id': reportIssue.id }) }}{% else %}#{% endif %}">
                            <b class="responsible-value">{% if reportIssue.responsible  %}{{ reportIssue.responsible }}{% else %}Not defined{% endif %}</b> <br/>
                        </a>
                    </td>
                        <td>
                            <a href="{% if is_granted('ROLE_MAINTENANCE_EDIT') %}{{ path('reportissue_edit', { 'id': reportIssue.id }) }}{% else %}#{% endif %}">
                                {% if reportIssue.furniture %}<span class="text-danger">{{ reportIssue.furniture }}</span> <br/>{% endif %}
                                {% if reportIssue.furniture %}<span class="text-success">{{ reportIssue.furniture.folder }}</span> <br/>{% endif %}
                                {% if reportIssue.location %}<span class="text-info">{{ reportIssue.location }}</span> <br/> {% endif %}
                                {% if reportIssue.reporter %}<i>{{ reportIssue.reporter }}</i>{% endif %}
                            </a>
                        </td>
                        <td class="hidden-xs">
                            <a href="{% if is_granted('ROLE_MAINTENANCE_EDIT') %}{{ path('reportissue_edit', { 'id': reportIssue.id }) }}{% else %}#{% endif %}">
                                <i class="fa  {% if reportIssue.priority == 'Normaal' %} {% elseif reportIssue.priority == 'Laag' %} {% else %} fa-arrow-up{% endif %}"
                                   style="color: #7c1212;"></i>
                                {{ reportIssue.details }}
                            </a>
                        </td>

                        <td class="hidden-xs">
                            {% if reportIssue.status == 'Wachten' %}
                                <p class="status-value">In behandeling</p>
                                {% set watchen = watchen + 1 %}
                            {% elseif reportIssue.status == 'Afgerond' %}
                                <p class="status-value">Afgerond</p>
                                {% set afgerond = afgerond + 1 %}
                            {% else  %}
                                <p class="status-value">Open</p>
                                {% set open = open + 1 %}
                            {% endif %}
                        </td>
                        {% if is_granted('ROLE_MAINTENANCE_EDIT') %}
                            <td>

                            <div class="btn-group dropdown ">
                                <button class="btn blue-hoki btn-xs dropdown-toggle" type="button"
                                        data-toggle="dropdown">
                                    Actions <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="{{ path('reportissue_edit', { 'id': reportIssue.id }) }}"><span
                                                    class="glyphicon glyphicon-pencil"></span>Edit</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('reportissue_delete', { 'id': reportIssue.id }) }}"><span
                                                    class="glyphicon glyphicon-trash"></span>Delete</a>
                                    </li>
                                </ul>
                            </div>

                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    <script type="text/javascript" src="{{ asset('global/plugins/datatables/media/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>

    <script>
        function search(){

            $('#dataissue_wrapper tbody tr').each(function(){
                var show = true;
                status = $(this).find('p.status-value').text();
                if ($("#status-filter").val() !== 'All' && $("#responsible-filter").val() !== 'All'){
                    if ( (status === $("#status-filter").val()
                           || ($("#status-filter").val() == 'Pending' && (status === "Open" || status === 'In behandeling')))
                            && $(this).find('b.responsible-value').text() === $("#responsible-filter").val()){
                        $(this).show()
                        show = !show;
                    }
                }
                else if ( ($(this).find('p.status-value').text() === $("#status-filter").val()
                           ||($("#status-filter").val() == 'Pending' && (status === "Open" || status === 'In behandeling')))
                        || $(this).find('b.responsible-value').text() === $("#responsible-filter").val()){
                    $(this).show()
                    show = !show;
                }
                if (show) {
                    $(this).hide()
                }
            })
            if ($("#status-filter").val() == 'All' && $("#responsible-filter").val() == 'All'){
                $('#dataissue_wrapper tbody tr').show()
            }
        }

        var initTable = function () {
            var table = $('#dataissue');
            // begin first table
            table.dataTable({
                "columns": [{
                    "orderable": false
                }, {
                    "orderable": true
                }, {
                    "orderable": true
                }, {
                    "orderable": true
                }, {
                    "orderable": false
                }, {
                    "orderable": true
                }
                    {% if is_granted('ROLE_MAINTENANCE_EDIT') %}
                    , {
                    "orderable": false
                }{% endif %}],
                "lengthMenu": false,
                // set the initial value
                "pageLength": 50,
                "pagingType": "bootstrap_full_number",
                "language": {
                    "lengthMenu": "  _MENU_ records",
                    "paginate": {
                        "previous":"Prev",
                        "next": "Next",
                        "last": "Last",
                        "first": "First"
                    }
                },
                "columnDefs": [{  // set default column settings
                    'orderable': false,
                    'targets': [0]
                }, {
                    "searchable": true,
                    "targets": [0]
                }],
                "order": [
                    [1, "desc"]
                ], // set first column as a default sort by asc
                'initComplete' : function(){
                    var parent = $('select[name="dataissue_length"]').parent('label').parent()
                    $('select[name="dataissue_length"]').parent('label').remove();
                    child = $("#status-filter").parent();
                    $("#status-filter").parent().remove()
                    child.appendTo(parent)
                    child = $("#responsible-filter").parent();
                    $("#responsible-filter").parent().remove()
                    child.appendTo(parent)
                    parent = $('#dataissue_info').parent()
                    parent.html('<b>{{ open }} Open</b> and <b>{{ watchen }} In behandeling<b/>')
                    $('#status-filter').trigger('change')
                }
            });
            var tableWrapper = jQuery('#dataissue_wrapper');
        }

        initTable();

        $('.pagination li a').click(function(){

            $("#status-filter").val('Open').trigger('change')
        })


        $("#export").click(function(e){
            e.preventDefault();
            $.get("{{ path('reportissue_pdfjson') }}", {}, function(response){
                var lMargin=15; //left margin in mm
                var rMargin=15; //right margin in mm
                var pdfInMM=210;  // width of A4 in mm
                var yposition = 40;
                var xposition = 15;
                var page = 1;
                var pdf = new jsPDF();
                pdf.setFont("helvetica");
                var img = new Image();
//                img.src = "http://localhost:5800/img/tphlogo.jpeg";
//                img.src = "https://log.towerleisure.nl/web/img/tphlogo.jpeg";
                img.src = "https://log.towerleisure.nl/web/img/tphlogo.jpeg";
                pdf.addImage(img, 'jpg', 15, 10, 50, 9);
                pdf.setFontSize(10);
                pdf.setFontType('bold');
                pdf.text(15, 25, response.header);
                pdf.setFontType('italic');
                pdf.text(160, 18, response.date);
                pdf.text(160, 265, 'Page '+page + ' of ' +  response.pagetotal);
                pdf.line(15, 28, 200, 28)
                if (response.elements.length > 0){
                    $('.alert-success').text("Generating document ...").show(300)
                    setTimeout(function(){$('.alert-success').hide(300)}, 4400)
                    response.elements.forEach(function(item, i){
                        if (item.peacture != ''){
                            format = item.peacture.split('.')
                            var img = new Image();
                            if (format[1] == 'jpeg' || format[1] == 'png' || format[1] == 'jpg'){
//                                img.src = "../../uploads/images/reportissue/"+item.peacture;
//                                img.src = "https://log.towerleisure.nl/web/uploads/images/reportissue/"+item.peacture;
                                img.src = "https://log.towerleisure.nl/web/uploads/images/reportissue/"+item.peacture;
                                pdf.addImage(img, format[1], xposition, yposition, 35, 30)
                                xposition = 55;
                            }
                        }
                        yposition += 3;
                        pdf.setFontSize(11);
                        pdf.setFontType('bold');
                        lines = pdf.splitTextToSize(item.name, (pdfInMM-lMargin-rMargin))
                        pdf.text(xposition, yposition, lines);
                        yposition += lines.length * 5;
                        pdf.setFontType('normal');
                        pdf.setFontSize(10);
                        pdf.text(xposition, yposition, "Reported at: "+item.date);
                        pdf.text(xposition, yposition + 5, "Location: "+ item.location);
                        pdf.text(xposition, yposition + 10, "Reported by: "+item.reportedby);
                        pdf.text(xposition, yposition + 15, "Status: "+item.status);
                        yposition += 37;
                        xposition = 15;

                        if ((i + 1) % 5 == 0 && !(i + 1 == response.elements.length)){
                            page ++;
                            pdf.addPage()
//                            img.src = "http://localhost:5800/img/tphlogo.jpeg";
//                            img.src = "https://log.towerleisure.nl/web/img/tphlogo.jpeg";
                            var img = new Image();
                            img.src = "https://log.towerleisure.nl/web/img/tphlogo.jpeg";
                            pdf.addImage(img, 'jpg', 15, 10, 50, 9);
                            pdf.setFontSize(10);
                            pdf.setFontType('bold');
                            pdf.text(15, 25, response.header);
                            pdf.setFontType('italic');
                            pdf.text(160, 18, response.date);
                            pdf.text(160, 265, 'Page '+page + ' of ' +  response.pagetotal);
                            pdf.line(15, 28, 200, 28)
                            yposition = 40;
                        }
                    })
                    pdf.save( Math.random().toString(36).substr(2, 15) + ".pdf");
                } else {
                    $('.alert-danger').text("There is not elements ...").show(300)
                    setTimeout(function(){$('.alert-danger').hide(300)}, 4400)

                }
            })

        })
    </script>


{% endblock %}
