{% extends 'AdminBundle::frame.html.twig' %}
{% block title %} Home {% endblock %}
{% block body %}
        <div class="row">
            {% if app.user.role == 'ROLE_MANAGER' or app.user.role == 'ROLE_SUPERADMIN' or app.user.role == 'ROLE_RECEPTION' %}
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat blue-madison">
                        <div class="visual">
                            <i class="fa fa-coffee"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                Receptie
                            </div>
                            <div class="desc">
                                Kassa Cash & Log
                            </div>
                        </div>
                        <a class="more" href="{{path('reception', {'date': 'today' | date('m-Y')})}}">
                            View list <i class="m-icon-swapright m-icon-white"></i>
                        </a>
                    </div>
                </div>
            {% endif %}
            {% if app.user.role == 'ROLE_MANAGER' or app.user.role == 'ROLE_SUPERADMIN' or app.user.role == 'ROLE_SERVICE' %}
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat red-intense">
                        <div class="visual">
                            <i class="fa fa-delicious"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                Service
                            </div>
                            <div class="desc">
                                 Kassa Cash & Log
                            </div>
                        </div>
                        <a class="more" href="{{path('cashclosure', {'date': 'today' | date('m-Y')})}}">
                            View list <i class="m-icon-swapright m-icon-white"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat grey-cascade">
                        <div class="visual">
                            <i class="fa fa-beer"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                Sky Bar & Suites
                            </div>
                            <div class="desc">
                                 Kassa Cash & Log
                            </div>
                        </div>
                        <a class="more" href="{{path('skybar', {'date': 'today' | date('m-Y')})}}">
                            View list <i class="m-icon-swapright m-icon-white"></i>
                        </a>
                    </div>
                </div>
            {% endif %}
            {% if app.user.role == 'ROLE_MANAGER' or app.user.role == 'ROLE_SUPERADMIN' or app.user.role == 'ROLE_RECEPTION' %}
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat purple-plum">
                        <div class="visual">
                            <i class="fa fa-home"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                Hotel
                            </div>
                            <div class="desc">
                                 Kassa Cash & Log
                            </div>
                        </div>
                        <a class="more" href="{{path('hotel',  {'date': 'today' | date('m-Y')})}}">
                            View list <i class="m-icon-swapright m-icon-white"></i>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="row">
            {% if app.user.role == 'ROLE_MANAGER' or app.user.role == 'ROLE_SUPERADMIN' %}

                <div class="col-md-3  ">
                    <div class="list-group">
                            <a href="{{path('turnover', {'date': 'today' | date('m-Y')})}}" class="list-group-item">
                                <h4 class="list-group-item-heading"><b>Turnover</b> </h4>
                                <p class="list-group-item-text">
                                    Keuken, Restaurant & Receptie
                                </p>
                            </a>
                            <a href="{{path('kasboek', {'date': 'today' | date('m-Y')})}}" class="list-group-item">
                                <h4 class="list-group-item-heading"><b>Kasboek</b> </h4>
                                <p class="list-group-item-text">
                                    Keuken, Restaurant & Receptie
                                </p>
                            </a>
                            <a href="{{path('kasboekhotel', {'date': 'today' | date('m-Y')})}}" class="list-group-item">
                                <h4 class="list-group-item-heading"><b>Hotel Kasboek</b> </h4>
                                <p class="list-group-item-text">
                                    Apartments
                                </p>
                            </a>
                        <a href="{{path('log', {'date': 'today' | date('m-Y')})}}" class="list-group-item">
                            <h4 class="list-group-item-heading"><b>Logboek</b> </h4>
                            <p class="list-group-item-text">
                                Keuken, Restaurant, Receptie & Hotel
                            </p>
                        </a>
                    </div>
                </div>
            {% endif %}

            <div class="col-md-9 col-sm-12">
                <div class="portlet box green-haze">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-bell-o"></i>Recent Activities
                        </div>
                        <div class="actions">
                            <div class="btn-group">

                            </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <ul class="feeds" style="padding: 10px 0px;">
                            {# RECEPTIES #}
                            {% for form_receptie in recepties %}
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-success">
                                                    <i class="fa fa-coffee"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    <b>Receptie</b> Kassa Cash & Log &nbsp;
                                                    {% if form_receptie.finished %}
                                                        <span class="label label-sm label-info "> Finished </span>&nbsp;
                                                    {% else %}
                                                        <span class="label label-sm label-warning "> In progress </span>&nbsp;
                                                    {% endif %}
                                                    {% if form_receptie.userdag %}
                                                        <span class="label label-sm label-default "> Receptie DAG: <b>{{  form_receptie.userdag.name }}</b> </span>&nbsp;
                                                    {% endif %}
                                                    {% if form_receptie.useravond %}
                                                        <span class="label label-sm label-default "> Receptie AVOND: <b>{{ form_receptie.useravond.name }}</b>  </span>&nbsp;
                                                    {% endif %}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            {{ form_receptie.time | date ('h:m A') }}
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                            {% for form_service in service %}
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-success">
                                                    <i class="fa fa-delicious"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    <b>Service</b> Kassa Cash & Log &nbsp;
                                                    {% if form_service.finished %}
                                                        <span class="label label-sm label-info "> Finished </span>&nbsp;
                                                    {% else %}
                                                        <span class="label label-sm label-warning "> In progress </span>&nbsp;
                                                    {% endif %}
                                                    {% if form_service.userdag %}
                                                        <span class="label label-sm label-default "> Manager DAG: <b>{{  form_service.userdag.name }}</b> </span>&nbsp;
                                                    {% endif %}
                                                    {% if form_service.useravond %}
                                                        <span class="label label-sm label-default "> Manager AVOND: <b>{{ form_service.useravond.name }}</b>  </span>&nbsp;
                                                    {% endif %}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            {{ form_service.time | date ('h:m A') }}
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                            {% for form_hotel in hotels %}
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-success">
                                                    <i class="fa fa-home"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    <b>Hotel</b> Kassa Cash & Log &nbsp;
                                                    {% if form_hotel.finished %}
                                                        <span class="label label-sm label-info "> Finished </span>&nbsp;
                                                    {% else %}
                                                        <span class="label label-sm label-warning "> In progress </span>&nbsp;
                                                    {% endif %}
                                                    {% if form_hotel.userdoor %}
                                                        <span class="label label-sm label-default "> Ingevuld door: <b>{{  form_hotel.userdoor.name }}</b> </span>&nbsp;
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            {{ form_hotel.time | date ('h:m A') }}
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                            {% for form_skybar in skybars %}
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-success">
                                                    <i class="fa fa-beer"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    <b>Sky Bar & Suites</b> Kassa Cash & Log &nbsp;
                                                    {% if form_skybar.finished %}
                                                        <span class="label label-sm label-info "> Finished </span>&nbsp;
                                                    {% else %}
                                                        <span class="label label-sm label-warning "> In progress </span>&nbsp;
                                                    {% endif %}
                                                    {% if form_skybar.userdag %}
                                                        <span class="label label-sm label-default "> Manager DAG: <b>{{  form_skybar.userdag.name }}</b> </span>&nbsp;
                                                    {% endif %}
                                                    {% if form_skybar.useravond %}
                                                        <span class="label label-sm label-default "> Manager AVOND: <b>{{ form_skybar.useravond.name }}</b>  </span>&nbsp;
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            {{ form_skybar.time | date ('h:m A') }}
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                            {% for form_log in logs %}
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-success">
                                                    <i class="fa fa-beer"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    <b>Logboek</b> Keuken, Restaurant, Receptie & Hotel &nbsp;
                                                    {% if form_log.finished %}
                                                        <span class="label label-sm label-info "> Finished </span>&nbsp;
                                                    {% else %}
                                                        <span class="label label-sm label-warning "> In progress </span>&nbsp;
                                                    {% endif %}
                                                    {% if form_log.receptiedag %}
                                                        <span class="label label-sm label-default "> Receptie DAG: <b>{{  form_log.receptiedag.name }}</b> </span>&nbsp;
                                                    {% endif %}
                                                    {% if form_log.receptieavond %}
                                                        <span class="label label-sm label-default "> Receptie AVOND: <b>{{ form_log.receptieavond.name }}</b>  </span>&nbsp;
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">

                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                            {% for form_turn in turnovers %}
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-success">
                                                    <i class="fa fa-euro"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    Turnover &nbsp;
                                                    {% if form_turn.finished %}
                                                        <span class="label label-sm label-info "> Finished </span>&nbsp;
                                                    {% else %}
                                                        <span class="label label-sm label-warning "> In progress </span>&nbsp;
                                                    {% endif %}
                                                    {% if form_turn.chief %}
                                                        <span class="label label-sm label-default "> Ingevuld door: <b>{{  form_turn.chief.name }}</b> </span>&nbsp;
                                                    {% endif %}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            {{ form_turn.updated | date ('h:m A') }}
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                            {% for form_kas in kasboeks %}
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-success">
                                                    <i class="fa fa-euro"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    Kasboek &nbsp;
                                                    {% if form_kas.finished %}
                                                        <span class="label label-sm label-info "> Finished </span>&nbsp;
                                                    {% else %}
                                                        <span class="label label-sm label-warning "> In progress </span>&nbsp;
                                                    {% endif %}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            {{ form_kas.updated | date ('h:m A') }}
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                            {% for form_kash in kasboekshotel %}
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-success">
                                                    <i class="fa fa-euro"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    Hotel Kasboek &nbsp;
                                                    {% if form_kash.finished %}
                                                        <span class="label label-sm label-info "> Finished </span>&nbsp;
                                                    {% else %}
                                                        <span class="label label-sm label-warning "> In progress </span>&nbsp;
                                                    {% endif %}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            {{ form_kash.updated | date ('h:m A') }}
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    {% if app.user.role == 'ROLE_SUPERADMIN' %}
    {#<div class="row">
        <div class="col-md-6">
            <div class="portlet box  grey-steel ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-euro"></i>Kasboek {{ 'today' | date('Y') }}
                    </div>
                    <div class="tools">

                    </div>
                </div>
                <div class="portlet-body" style="border: solid 1px #E9EDEF;">
                    <div id="chart_2" class="chart" style="padding: 0px; position: relative;">
                        </div>
                </div>
            </div>
        </div>

    </div>#}

    {% endif %}
{% endblock %}
