{% extends 'RestaurantBundle::frame.html.twig' %}
{% block title %} Settings {% endblock %}
{% block body %}
    <div class="portlet">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon icon-settings"></i>Settings
        </div>
        <div class="tools">

        </div>
    </div>
        <br/>
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab_hotel " data-toggle="tab">
                        <i class="icon-home"></i> Hotel </a>
                </li>
                
                <li class="">
                    <a href="#tab_rules" data-toggle="tab">
                        <i class="icon-list"></i> Rules </a>
                </li>
            </ul>
            <div class="tab-content no-space">
                {#<div class="tab-pane active" id="tab_service">
                    <form action="{{ path('parameters_update',{'type':'iva'}) }}" method="POST">
                    <div class="form-body">
                        <table class="table table-bordered table-hover no-footer ">
                            <thead>
                            <tr>
                                <th colspan="3"><b>IVA</b></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th></th>
                                <th>Value</th>
                                <th>Is Active</th>
                            </tr>

                            {% for current_iva in iva %}
                                    <tr>
                                        <td>
                                            <label class="uniform-inline"> {{ current_iva.label }} </label>
                                        </td>
                                        <td><input type="number" name="{{ current_iva.variable }}" class="input-small input-sm" value="{{ current_iva.value }}"></td>
                                        <td>
                                            <label class="uniform-inline">
                                                <input type="radio" name="{{ current_iva.variable ~ '_isactive' }}" value="1" {% if current_iva.isactive == 1 %} checked="checked"{% endif %}>
                                                Ja </label>
                                            <label class="uniform-inline">
                                                <input type="radio" name="{{ current_iva.variable ~ '_isactive' }}" value="0" {% if current_iva.isactive == 0 %} checked="checked"{% endif %}>
                                                Nee </label>
                                        </td>
                                    </tr>

                            {% endfor %}




                            </tbody></table>
                        <!--end profile-settings-->
                        <div class="margin-top-10 pull-right">

                               <button type="submit" class="btn blue-hoki">Save</button>
                        </div>
                    </div>
                    </form>
                </div>#}
                
                <div class="tab-pane" id="tab_rules">
                    <form id="form-rules" action="{{ path('parameters_update',{'type':'rules'}) }}" method="POST">
                        <div class="form-body">
                            <table class="table table-bordered table-hover no-footer ">
                                <thead>
                                <tr>
                                    <th colspan="3"><b></b></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th></th>
                                    <th>Value</th>

                                </tr>
                                {% for current_rule in rules  if current_rule.label != 'Tax' %}
                                    <tr>
                                        <td>
                                            <label class="uniform-inline"> {{ current_rule.label }} </label>
                                        </td>
                                        <td><input type="number" name="{{ current_rule.variable }}" class="input-small input-sm" value="{{ current_rule.value }}"></td>
                                    </tr>

                                {% endfor %}

                                </tbody></table>
                            <!--end profile-settings-->
                            <div class="margin-top-10 pull-right">

                                <button type="submit" class="btn blue-hoki">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane active " id="tab_hotel">
                    <form id="form-hotel" action="{{ path('parameters_update',{'type':'hotel'}) }}" method="POST" autocomplete="off">
                        <div class="form-body">
                            <table class="table table-bordered table-hover no-footer ">
                                <thead>
                                <tr>
                                    <th colspan="3"><b>Taxes</b></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th></th>
                                    <th>Value</th>

                                </tr>
                                {% for current_hotel in hotel %}
                                    <tr>
                                        <td>
                                            <label class="uniform-inline"> {{ current_hotel.label }} </label>
                                        </td>
                                        <td>
                                            <input name="{{ current_hotel.variable }}" class="input-small input-sm" value="{{ current_hotel.value }}">
                                        </td>
                                    </tr>

                                {% endfor %}

                                </tbody></table>
                            <!--end profile-settings-->
                            <div class="margin-top-10 pull-right">

                                <button type="submit" class="btn blue-hoki">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}